<% content_for(:page_title) { page_title("Admin home") } %>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Claims awaiting a decision</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= Claim.awaiting_decision.count %></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Total claims received</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= Claim.submitted.count %></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Claims approaching deadline</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= Claim.approaching_decision_deadline.count %></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Claims passed deadline</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= Claim.passed_decision_deadline.count %></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

<br/>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-m">School Workforce Census Statistics</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">No data</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= number_to_percentage(ClaimStats::SchoolWorkforceCensus.no_data_census_subjects_taught_count, precision: 1) %></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Any matches</h2>
    <p class="govuk-body govuk-!-font-size-36"><%= number_to_percentage(ClaimStats::SchoolWorkforceCensus.any_match_count, precision: 1) %></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>
