<%= form_with(
  model: @form,
  url: admin_claim_employment_history_employments_path(@form.claim),
  builder: GOVUKDesignSystemFormBuilder::FormBuilder,
) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Employment history
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_label(
        :school_search,
        text: f.object.t(%i[school_search question]),
        for: f.field_id(:school_search),
        size: "s"
      ) %>
    </div>
    <div class="govuk-grid-column-one-third">
      <div
          data-school-search-container="true"
          data-school-search-path="<%= school_search_index_path %>"
          data-school-search-school-id-target="#<%= f.field_id(:school_id) %>"
          data-school-search-search-box-target="#<%= f.field_id(:school_search) %>"
          data-school-search-min_length="3"
          data-school-search-display-menu="overlay"
          data-school-search-input-classes="<%= class_names(
            "govuk-input",
            "govuk-input--error": f.object.errors[:school_search].present?
          ) %>"
          class="<%= class_names(
            "govuk-form-group",
            "govuk-form-group--error": f.object.errors[:school_search].present?
          ) %>"
        >
        <%= f.hidden_field :school_id %>

        <%= errors_tag f.object, :school_search %>

        <%= f.text_field(
          :school_search,
          class: css_classes_for_input(f.object, :school_search),
          label: nil,
        ) %>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row" data-test-id="employment-contract-of-at-least-one-year">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= f.object.t(%i[employment_contract_of_at_least_one_year question]) %>
      </legend>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_collection_radio_buttons(
        :employment_contract_of_at_least_one_year,
        f.object.employment_contract_of_at_least_one_year_options,
        :id,
        :name,
        legend: nil,
        inline: true,
      ) %>
    </div>
  </div>

  <div class="govuk-grid-row" data-test-id="employment-start-date">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= f.object.t(%i[employment_start_date question]) %>
      </legend>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_date_field(:employment_start_date, legend: nil) %>
    </div>
  </div>

  <div class="govuk-grid-row" data-test-id="employment-end-date">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= f.object.t(%i[employment_end_date question]) %>
      </legend>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_date_field(:employment_end_date, legend: nil) %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_label(
        :subject_employed_to_teach,
        text: f.object.t(%i[subject_employed_to_teach question]),
        size: "s",
      ) %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_collection_select(
        :subject_employed_to_teach,
        f.object.subject_employed_to_teach_options,
        :id,
        :name,
        label: nil,
        options: {
          include_blank: true,
        },
      ) %>
    </div>
  </div>

  <div class="govuk-grid-row" data-test-id="met-minimum-teaching-hours">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= f.object.t(%i[met_minimum_teaching_hours question]) %>
      </legend>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_collection_radio_buttons(
        :met_minimum_teaching_hours,
        f.object.met_minimum_teaching_hours_options,
        :id,
        :name,
        inline: true,
        legend: nil,
      ) %>
    </div>
  </div>

  <%= f.submit "Save and continue", class: "govuk-button" %>
<% end %>
