<span class="govuk-caption-xl">
  <%= form.claim.full_name %>
</span>

<h1 class="govuk-heading-l">
  Claim reference: <%= form.claim.reference %>
</h1>

<%= govuk_summary_card(title: "Role and experience") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Teaching responsibilities") %>
      <%= row.with_value(
        text: t(
          form.provider_verification_teaching_responsibilities,
          scope: :boolean
        )
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "teaching_responsibilities"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "In first 5 years of FE teaching") %>
      <%= row.with_value(
        text: t(
          form.provider_verification_in_first_five_years,
          scope: :boolean
        )
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "in_first_five_years"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Teaching qualification") %>
      <%= row.with_value(text: form.teaching_qualification) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "teaching_qualification"
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= govuk_summary_card(title: "Type of contract") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Type of contract") %>
      <%= row.with_value(text: form.contract_type) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "contract_type"
          )
        ) %>
      <% end %>
    <% end %>

    <% case form.provider_verification_contract_type %>
    <% when "fixed_term" %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: "Contract covers full academic year") %>
        <%= row.with_value(
          text: t(
            form.provider_verification_contract_covers_full_academic_year,
            scope: :boolean
          )
        ) %>
        <% if editable %>
          <%= row.with_action(
            text: "Change",
            href: edit_further_education_payments_providers_claim_verification_path(
              form.claim,
              slug: "contract_covers_full_academic_year"
            )
          ) %>
        <% end %>
      <% end %>
    <% when "variable_hours" %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: "Variable hours in academic year") %>
        <%= row.with_value(
          text: t(
            form.provider_verification_taught_at_least_one_academic_term,
            scope: :boolean
          )
        ) %>
        <% if editable %>
          <%= row.with_action(
            text: "Change",
            href: edit_further_education_payments_providers_claim_verification_path(
              form.claim,
              slug: "taught_at_least_one_academic_term"
            )
          ) %>
        <% end %>
      <% end %>
    <% else %>
      <%# noop %>
    <% end %>
  <% end %>
<% end %>

<%= govuk_summary_card(title: "Performance and discipline") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Subject to performance measures") %>
      <%= row.with_value(
        text: t(
          form.provider_verification_performance_measures,
          scope: :boolean
        )
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "performance_and_discipline"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Subject to disciplinary action") %>
      <%= row.with_value(
        text: t(
          form.provider_verification_disciplinary_action,
          scope: :boolean
        )
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "performance_and_discipline"
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= govuk_summary_card(title: "Contracted hours") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Timetabled hours per week") %>
      <%= row.with_value(
        text: t(
          form.provider_verification_teaching_hours_per_week,
          scope: %w[
            further_education_payments
            forms
            teaching_hours_per_week
            options
          ]
        )
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "contracted_hours"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Teaches 16-19-year-olds or those with EHCP") %>
      <%= row.with_value(
        text: t(
          form.provider_verification_half_teaching_hours,
          scope: :boolean
        )
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "contracted_hours"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(
        text: "Teaches approved qualification in #{form.subject_names_sentence}"
      ) %>

      <%= row.with_value(
        text: t(
          form.provider_verification_subjects_taught,
          scope: :boolean
        )
      ) %>

      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "contracted_hours"
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
