<span class="govuk-caption-xl">
  <%= form.claim.full_name %>
</span>

<h1 class="govuk-heading-l">
  Claim reference: <%= form.claim.reference %>
</h1>

<%= govuk_inset_text(
  text: "This claim was started by #{@form.started_by}"
) %>

<%= govuk_summary_card(title: "Role and experience") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Teaching responsibilities") %>
      <%= row.with_value(
        text: form.teaching_responsibilities
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "teaching_responsibilities"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "In first 5 years of FE teaching") %>
      <%= row.with_value(
        text: form.in_first_five_years
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "in_first_five_years"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Teaching qualification") %>
      <%= row.with_value(text: form.teaching_qualification) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "teaching_qualification"
          )
        ) %>
      <% end %>
    <% end %>

    <% if form.not_started_qualification_reasons.present? %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: "Mitigating circumstances for qualification") %>
        <%= row.with_value(text: form.not_started_qualification_reasons) %>
        <% if editable %>
          <%= row.with_action(
            text: "Change",
            href: edit_further_education_payments_providers_claim_verification_path(
              form.claim,
              slug: "not_started_qualification_reason"
            )
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= govuk_summary_card(title: "Type of contract") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Contract type") %>
      <%= row.with_value(text: form.contract_type) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "contract_type"
          )
        ) %>
      <% end %>
    <% end %>

    <% if form.provider_verification_contract_type == "fixed_term" %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: "Contract covers full academic year") %>
        <%= row.with_value(
          text: form.contract_covers_full_academic_year
        ) %>
        <% if editable %>
          <%= row.with_action(
            text: "Change",
            href: edit_further_education_payments_providers_claim_verification_path(
              form.claim,
              slug: "contract_covers_full_academic_year"
            )
          ) %>
        <% end %>
      <% end %>
    <% end %>

    <% if form.provider_verification_contract_type == "variable_hours" || form.provider_verification_contract_covers_full_academic_year == false %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: "Worked at #{form.eligibility.school.name} for the full spring term") %>
        <%= row.with_value(
          text: form.taught_at_least_one_academic_term
        ) %>
        <% if editable %>
          <%= row.with_action(
            text: "Change",
            href: edit_further_education_payments_providers_claim_verification_path(
              form.claim,
              slug: "taught_at_least_one_academic_term"
            )
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= govuk_summary_card(title: "Performance and discipline") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Subject to performance measures") %>
      <%= row.with_value(
        text: form.performance_measures
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "performance_and_discipline"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Subject to disciplinary action") %>
      <%= row.with_value(
        text: form.disciplinary_action
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "performance_and_discipline"
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= govuk_summary_card(title: "Contracted hours") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Timetabled hours per week") %>
      <%= row.with_value(
        text: form.teaching_hours_per_week
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "teaching_hours_per_week"
          )
        ) %>
      <% end %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Teaches 16-19-year-olds or those with EHCP") %>
      <%= row.with_value(
        text: form.half_teaching_hours
      ) %>
      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "half_teaching_hours"
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= govuk_summary_card(title: "Subject area") do |card| %>
  <%= card.with_summary_list do |summary_list| %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Spend at least half timetabled teaching time teaching relevant courses") %>

      <%= row.with_value(
        text: form.half_timetabled_teaching_time
      ) %>

      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "half_timetabled_teaching_time"
          )
        ) %>
      <% end %>
    <% end %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: "Employed until end of academic year") %>

      <%= row.with_value(
        text: form.continued_employment
      ) %>

      <% if editable %>
        <%= row.with_action(
          text: "Change",
          href: edit_further_education_payments_providers_claim_verification_path(
            form.claim,
            slug: "continued_employment"
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
