<%= content_for(
  :page_title,
  "Review a targeted retention incentive payment claim"
) %>

<%= govuk_back_link href: backlink_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl">
      <%= @form.claim.full_name %>
    </span>

    <h1 class="govuk-heading-l">
      Claim reference: <%= @form.claim.reference %>
    </h1>

    <%= govuk_summary_card(title: "Role and experience") do |card| %>
      <%= card.with_action do %>
        <%= govuk_link_to(
          "Change",
          edit_further_education_payments_providers_claim_verification_path(
            @form.claim,
            slug: "role_and_experience"
          )
        ) %>
      <% end %>
      <%= card.with_summary_list do |summary_list| %>
        <%= summary_list.with_row do |row| %>
          <%= row.with_key(text: "Teaching responsibilities") %>
          <%= row.with_value(
            text: t(
              @form.provider_verification_teaching_responsibilities,
              scope: :boolean
            )
          ) %>
        <% end %>

        <%= summary_list.with_row do |row| %>
          <%= row.with_key(text: "In first 5 years of FE teaching") %>
          <%= row.with_value(
            text: t(
              @form.provider_verification_in_first_five_years,
              scope: :boolean
            )
          ) %>
        <% end %>

        <%= summary_list.with_row do |row| %>
          <%= row.with_key(text: "Teaching qualification") %>
          <%= row.with_value(
            text: @form.provider_verification_teaching_qualification,
          ) %>
        <% end %>

        <%= summary_list.with_row do |row| %>
          <%= row.with_key(text: "Type of contract") %>
          <%= row.with_value(text: @form.contract_type) %>
        <% end %>

        <% case @form.provider_verification_contract_type %>
        <% when "fixed_term" %>
          <%= summary_list.with_row do |row| %>
            <%= row.with_key(text: "Contract covers full academic year") %>
            <%= row.with_value(
              text: t(
                @form.provider_verification_contract_covers_full_academic_year,
                scope: :boolean
              )
            ) %>
          <% end %>
        <% when "variable_hours" %>
          <%= summary_list.with_row do |row| %>
            <%= row.with_key(text: "Variable hours in academic year") %>
            <%= row.with_value(
              text: t(
                @form.provider_verification_taught_at_least_one_academic_term,
                scope: :boolean
              )
            ) %>
          <% end %>
        <% else %>
          <%# noop %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
