<%= content_for(
  :page_title,
  "Review a targeted retention incentive payment claim"
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Review a targeted retention incentive payment claim
    </h1>

    <%= form_with(
      model: @form,
      url: further_education_payments_providers_claim_verification_path(
        @form.claim,
        @form.provider
      ),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= render partial: "claim_summary", locals: { claim: f.object.claim } %>

      <h2 class="govuk-heading-m">
        Role and experience
      </h2>

      <%= f.govuk_collection_radio_buttons(
        :provider_verification_contract_covers_full_academic_year,
        f.object.contract_covers_full_academic_year_options,
        :id,
        :name,
        legend: {
          text: "Does #{f.object.claimant_name} fixed-term contract cover " \
                "the full #{f.object.academic_year.to_s(:long)} academic year?",
        },
        hint: {
          text: "This academic year runs from #{f.object.academic_year_start_to_end}"
        }
      ) %>

      <%= f.govuk_collection_radio_buttons(
        :section_completed,
        f.object.section_completed_options,
        :id,
        :name,
        legend: {
          text: "Have you completed this section?",
        }
      ) %>

      <%= f.govuk_submit("Save and continue") %>
    <% end %>
  </div>
</div>
