<%= content_for(
  :page_title,
  "Review a targeted retention incentive payment claim"
) %>

<%= govuk_back_link href: backlink_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "verification_header", locals: { claim: @form.claim } %>

    <%= form_with(
      model: @form,
      url: further_education_payments_providers_claim_verification_path(
        @form.claim,
        @form.provider,
        slug: @form.slug,
      ),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <h2 class="govuk-heading-m">
        Age of cohort taught over the spring term
      </h2>

      <%= f.govuk_collection_radio_buttons(
        :provider_verification_half_teaching_hours,
        f.object.provider_verification_half_teaching_hours_options,
        :id,
        :name,
        legend: {
          text: f.object.t(
            "provider_verification_half_teaching_hours.question",
            claimant_name: f.object.claimant_name
          ),
          size: "s",
        },
        hint: -> do %>
          <p class="govuk-body">
            This also includes teaching:
          </p>
          <%= govuk_list [
            "students enrolled on these programmes who are 25 years old or younger with an Education, Health and Care Plan (EHCP)",
            "14 to 16 year olds enrolled on 16 to 19 funded study programmes"
          ], type: :bullet %>
        <% end
      ) %>

      <%= f.govuk_submit("Continue") %>

      <%= f.govuk_submit(
        "Save and come back later",
        secondary: true,
        name: "save_and_exit",
        value: true,
        class: "govuk-!-margin-left-2"
      ) %>
    <% end %>
  </div>
</div>
