<%= content_for(
  :page_title,
  "Review a targeted retention incentive payment claim"
) %>

<%= govuk_back_link href: backlink_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "verification_header", locals: { claim: @form.claim } %>

    <%= form_with(
      model: @form,
      url: further_education_payments_providers_claim_verification_path(
        @form.claim,
        @form.provider,
        slug: @form.slug,
      ),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>


      <h2 class="govuk-heading-m">
        Contracted hours
      </h2>

      <%= f.govuk_collection_radio_buttons(
        :provider_verification_teaching_hours_per_week,
        f.object.provider_verification_teaching_hours_per_week_options,
        :id,
        :name,
        legend: {
          text: "On average, how many hours per week was " \
          "#{f.object.claimant_name} timetabled to teach at " \
          "#{f.object.school.name} during the spring term?",
          size: "s",
        }
      ) %>

      <%= f.govuk_submit("Continue") %>

      <%= f.govuk_submit(
        "Save and come back later",
        secondary: true,
        name: "save_and_exit",
        value: true,
        class: "govuk-!-margin-left-2"
      ) %>

      <%= govuk_details(
        summary_text: "How to work out timetabled teaching hours",
      ) do %>
        <p class="govuk-body">
          ‘Timetabled teaching hours‘ means time spent teaching groups of
          students in lessons or classes.
        </p>

        <p class="govuk-body">
          If these hours vary during the term for example, on a variable hours contract,
          use the average number of hours per week for the current term.
        </p>
      <% end %>
    <% end %>
  </div>
</div>
