<%= content_for(
  :page_title,
  "Review a targeted retention incentive payment claim"
) %>

<% content_for :back_link do %>
  <%= govuk_back_link href: backlink_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "verification_header", locals: { claim: @form.claim } %>

    <%= form_with(
      model: @form,
      url: further_education_payments_providers_claim_verification_path(
        @form.claim,
        @form.provider,
        slug: @form.slug
      ),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      method: :patch,
    ) do |f| %>
      <%= f.govuk_error_summary %>


      <h2 class="govuk-heading-m">
        Role and experience
      </h2>

      <%= f.govuk_collection_radio_buttons(
        :provider_verification_teaching_qualification,
        f.object.teaching_qualification_options,
        :id,
        :name,
        legend: {
          text: f.object.t(
            "provider_verification_teaching_qualification.question",
            claimant_name: f.object.claimant_name
          ),
          size: "s",
        }
      ) %>

      <%= f.govuk_submit("Continue") %>

      <%= f.govuk_submit(
        "Save and come back later",
        secondary: true,
        name: "save_and_exit",
        value: true,
        class: "govuk-!-margin-left-2"
      ) %>
    <% end %>
  </div>
</div>
