<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">School selected</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Name</th>
      <td class="govuk-table__cell"><%= current_claim.school.name %></th>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell"><%= current_claim.school.address %></th>
    </tr>
  </tbody>
</table>

<div class="govuk-!-padding-bottom-6">
  <%= link_to "Change school", claim_path(current_policy_routing_name, "current-school"), class: "govuk-button govuk-button--secondary", role: "button", draggable: false, data: {module: "govuk-button"} %>
</div>

<h3 class="govuk-heading-m">
  This is because either:
</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <span class="govuk-body">
      It is not a state-funded secondary school in England and is therefore not eligible. 
      For more information, check the 
      <%= link_to "early career payments eligibility criteria", EarlyCareerPayments.eligibility_page_url, class: "govuk-link" %>.
    </span>
  </li>
  <li>
    <span class="govuk-body">
      The school you selected is listed as closed. This could be the case if it has
      changed status to become an academy or has rebranded.
    </span>
  </li>
    <li>
    <span class="govuk-body">
      The spelling of the school does not match our records. Check the spelling,
      including any apostrophes, hyphens or full stops used in the school's name.
    </span>
  </li>
</ul>

<%= link_to "Try again", claim_path(current_policy_routing_name, "current-school"), class: "govuk-button", role: "button", data: {module: "govuk-button"} %>

<p class="govuk-body">
  If you need help with your claim, contact
  <a class="govuk-link" href="mailto:#">earlycareerteacherpayments@digital.education.gov.uk</a>
</p>
