<% content_for(:page_title, page_title(t("early_career_payments.questions.eligible_itt_subject", qualification: current_claim.eligibility.qualification_name), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>
<% path_for_form = current_claim.persisted? ? claim_path(current_policy_routing_name) : claims_path(current_policy_routing_name) %>
<% subjects = EarlyCareerPayments::Eligibility.eligible_itt_subjects.keys.reject { |subject| subject == "none_of_the_above" } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { "eligibility.eligible_itt_subject": "claim_eligibility_attributes_eligible_itt_subject_#{subjects.first}" }) if current_claim.errors.any? %>
    <%= form_for current_claim, url: path_for_form  do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>

          <%= fields.hidden_field :eligible_itt_subject %>

          <fieldset class="govuk-fieldset" aria-describedby="eligible_itt_subject-hint" role="group">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--<%= shared_view_css_class_size(current_claim) %>">
              <h1 class="govuk-fieldset__heading">
                <%= t("early_career_payments.questions.eligible_itt_subject", qualification: current_claim.eligibility.qualification_name) %>
              </h1>
            </legend>

            <span class="govuk-hint" id="eligible_itt_subject-hint">
              <%= t("early_career_payments.questions.qualification.hint.#{current_claim.eligibility.qualification}") %>
            </span>

            <%= errors_tag current_claim.eligibility, :eligible_itt_subject %>

            <div class="govuk-radios">
              <% subjects.each do |option| %>
                <div class="govuk-radios__item">
                  <%= fields.radio_button(:eligible_itt_subject, option, class: "govuk-radios__input") %>
                  <%= fields.label "eligible_itt_subject_#{option}", t("early_career_payments.answers.eligible_itt_subject.#{option}"), class: "govuk-label govuk-radios__label" %>
                </div>
              <% end %>

              <div class="govuk-radios__divider">or</div>

              <div class="govuk-radios__item">
                <%= fields.radio_button(:eligible_itt_subject, :none_of_the_above, class: "govuk-radios__input") %>
                <%= fields.label "eligible_itt_subject_none_of_the_above", t("early_career_payments.answers.eligible_itt_subject.none_of_the_above"), class: "govuk-label govuk-radios__label" %>
              </div>
            </div>

            <br/>
            <br/>
          </fieldset>
        <% end %>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If you qualified with science
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">You will need to have specialised in either chemistry or physics to be
              eligible. If you specialised in biology then you will not be eligible. If you’re
              unsure, you can get this from the certificate you received when you
              qualified as a teacher.
            </p>
          </div>
        </details>
      <% end %>

      <%= form.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>

  </div>
</div>
