<% content_for(:page_title, page_title("You are eligible to claim for early-career payment", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You are eligible <%= I18n.t("early_career_payments.claim_description") %></h1>
    <p class="govuk-body">
      Based on the answers you have provided you will be able to claim <%= number_to_currency(current_claim.eligibility.award_amount, precision: 0) %>.
    </p>

    <%= render "uplift_payment_area" %>

    <h2 class="govuk-heading-l">What happens next?</h2>

    <p class="govuk-body govuk-!-font-weight-bold">
      We now need to gather some personal details. In order to continue you’ll need:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
          your National Insurance number
      </li>
      <li>
          your bank account details
      </li>
      <li>
          your 7-digit teacher reference number - you can get this from
          your school, the certificate you got when you qualified, or
          by contacting the teacher qualifications helpdesk on
          <%= link_to "0207 593 5394",
            "#",
            class: "govuk-link",
            title: "Opens in a new tab",
            target: "_blank"
          %> or
          <%= link_to "qts.enquiries@education.gov.uk",
            "#",
            class: "govuk-link",
            title: "Opens in a new tab",
            target: "_blank"
          %>
      </li>
      <li>
          when you took out your student loan (if you have one) - if
          you don't know when this was, you can find out by logging into your
          <%= link_to "student loan account",
            EarlyCareerPayments.student_loan_balance_url,
            class: "govuk-link",
            title: "Opens in a new tab",
            target: "_blank"
          %>
      </li>
    </ul>

    <%= button_to "Continue", claim_path(current_policy_routing_name, next_slug), method: :get, class: "govuk-button" %>

  </div>
</div>
