<% content_for(:page_title, page_title(t("early_career_payments.questions.higher_education_courses_start"), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>
<% path_for_form = current_claim.persisted? ? claim_path(current_policy_routing_name) : claims_path(current_policy_routing_name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { "eligibility.higher_education_courses_start": "claim_eligibility_attributes_higher_education_courses_start_true" }) if current_claim.errors.any? %>
    <%= form_for current_claim, url: path_for_form do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>

          <%= fields.hidden_field :higher_education_courses_start %>
  
          <span class="govuk-caption-xl">About your student loans</span>
          
          <fieldset class="govuk-fieldset">
          
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                <%= t("early_career_payments.questions.higher_education_courses_start") %>
              </h1>
            </legend>
          
            <%= errors_tag current_claim.eligibility, :higher_education_courses_start %>

            <div class="govuk-radios">
              <% dates.each do |option| %>
                <div class="govuk-radios__item">
                  <%= fields.radio_button(:higher_education_courses_start, option, class: "govuk-radios__input") %>
                  <%= fields.label "higher_education_courses_start_#{option}", t("early_career_payments.answers.higher_education_courses_start.#{option}"), class: "govuk-label govuk-radios__label" %>
                </div>
              <% end %>
            </div>

          </fieldset>

        <% end %>
      <% end %>

      <%= form.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
     
  </div>
</div>
