<% content_for(:page_title, page_title(t("early_career_payments.questions.itt_academic_year.qualification.#{current_claim.eligibility.qualification}"), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>
<% path_for_form = current_claim.persisted? ? claim_path(current_policy_routing_name) : claims_path(current_policy_routing_name) %>
<% shared_view_css_size = current_claim.policy == EarlyCareerPayments ? "l" : "xl" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { "eligibility.itt_academic_year": "claim_eligibility_attributes_itt_academic_year_20182019" }) if current_claim.errors.any? %>
    <%= form_for current_claim, url: path_for_form  do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>

          <%= fields.hidden_field :itt_academic_year %>

          <fieldset class="govuk-fieldset" role="group">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--<%= shared_view_css_size %>">
              <h1 class="govuk-fieldset__heading">
                <%= t("early_career_payments.questions.itt_academic_year.qualification.#{current_claim.eligibility.qualification}") %>
              </h1>
            </legend>

            <%= errors_tag current_claim.eligibility, :itt_academic_year %>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <%= fields.radio_button(:itt_academic_year, AcademicYear.new(2018), class: "govuk-radios__input") %>
                <%= fields.label "itt_academic_year_20182019", AcademicYear.new(2018).to_s(:long), class: "govuk-label govuk-radios__label" %>
              </div>

              <div class="govuk-radios__item">
                <%= fields.radio_button(:itt_academic_year, AcademicYear.new(2019), class: "govuk-radios__input") %>
                <%= fields.label "itt_academic_year_20192020", AcademicYear.new(2019).to_s(:long), class: "govuk-label govuk-radios__label" %>
              </div>

              <div class="govuk-radios__item">
                <%= fields.radio_button(:itt_academic_year, AcademicYear.new(2020), class: "govuk-radios__input") %>
                <%= fields.label "itt_academic_year_20202021", AcademicYear.new(2020).to_s(:long), class: "govuk-label govuk-radios__label" %>
              </div>

              <div class="govuk-radios__divider">or</div>

              <div class="govuk-radios__item">
                <%= fields.radio_button(:itt_academic_year, AcademicYear.new, class: "govuk-radios__input") %>
                <%= fields.label "itt_academic_year_none", "None of the above", class: "govuk-label govuk-radios__label" %>
              </div>
            </div>

          </fieldset>

        <% end %>
        <br/>
        <br/>
        <% if %w[undergraduate_itt postgraduate_itt].include? current_claim.eligibility.qualification %>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you did a part time ITT
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                You might still be eligible to claim if your ITT coincided with one of the
                academic years stated, even if it didn’t start or complete in one of those
                years.
              </p>
            </div>
          </details>
        <% end %>
      <% end %>

      <%= form.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
