<% content_for(:page_title) { page_title("Claim #{@claim.reference} amendments") } %>

<%= link_to "Back", admin_claims_path, class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <%= render "admin/tasks/claim_summary", claim: @claim, heading: @claim.reference %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>

    <%= render "admin/claims/tabs", claim: @claim %>

    <section class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_tasks">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-l">
            Claim amendments
            <span class="govuk-body-m">
              <%= link_to('Amend claim', new_admin_claim_amendment_path(@claim), class: "govuk-link") if @claim.amendable? %>
            </span>
          </h2>

          <div class="hmcts-timeline">
            <% @claim.amendments.each do |amendment| %>
              <div class="hmcts-timeline__item">
                <section>
                  <% admin_amendment_details(amendment).each do |details| %>
                    <h3 class="hmcts-timeline__title"><%= details[0] %></h3>
                    <% if details.count > 1 %>
                      <p class="hmcts-timeline__by">changed from <%= details[1] %> to <%= details[2] %></p>
                    <% else %>
                      <p class="hmcts-timeline__by">changed</p>
                    <% end %>
                    <br>
                  <% end %>

                  <% if amendment.notes.present? %>
                    <h3 class="hmcts-timeline__title">Change notes</h3>
                    <p class="hmcts-timeline__by"><%= amendment.notes %></p>
                  <% end %>
                </section>

                <p class="hmcts-timeline__description"> by <%= user_details(amendment.created_by, include_line_break: false) %> on <%= l(amendment.created_at) %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
