<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @claim.policy.short_name %> (<%= @claim.academic_year %>)</span>
    <h1 class="govuk-heading-xl">
      Amend claim <%= @claim.reference %>
    </h1>
  </div>
</div>

<%= form_with model: @form, scope: :amendment, url: admin_claim_amendments_path(@claim), html: { autocomplete: "off" }, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-teacher-reference-number-field", "Teacher reference number" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :teacher_reference_number,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-national-insurance-number-field", "National insurance number" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :national_insurance_number,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <fieldset class="govuk-fieldset">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-body">
          <legend class="govuk-fieldset__legend">Date of birth</legend>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= f.govuk_date_field :date_of_birth,
          date_of_birth: true,
          legend: nil %>
      </div>
    </div>
  </fieldset>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-student-loan-plan-field", "Student loan repayment plan" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_collection_select :student_loan_plan,
        @form.student_loan_plan_options,
        :id,
        :name,
        label: nil %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-bank-sort-code-field", "Bank sort code" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :bank_sort_code,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-bank-account-number-field", "Bank account number" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :bank_account_number,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-address-line-1-field", "Address line 1" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :address_line_1,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-address-line-2-field", "Address line 2" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :address_line_2,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-address-line-3-field", "Address line 3" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :address_line_3,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-address-line-4-field", "Address line 4" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :address_line_4,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-postcode-field", "Postcode" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :postcode,
        label: nil,
        width: 10 %>
    </div>
  </div>

  <% if @form.show_student_loan_repayment_amount? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-body">
          <%= label_tag "amendment-student-loan-repayment-amount-field", "Student loan repayment amount" %>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= f.govuk_text_field :student_loan_repayment_amount,
          prefix_text: "£",
          label: nil,
          width: 5 %>
      </div>
    </div>
  <% end %>

  <% if @form.show_award_amount? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-body">
          <%= label_tag "amendment-award-amount-field", "Award amount" %>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= f.govuk_text_field :award_amount,
          prefix_text: "£",
          label: nil,
          width: 5 %>
      </div>
    </div>
  <% end %>

  <% if @claim.latest_decision %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Claim decision</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
        <strong><%= @claim.latest_decision.result.capitalize %></strong>
        (<%= govuk_link_to "Undo decision", new_admin_claim_decision_undo_path(@claim, @claim.latest_decision) %>)
        </p>
      </div>
    </div>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <%= label_tag "amendment-notes-field", "Change notes" %>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_area :notes,
        label: nil,
        hint: { text: "Please explain why you are making this amendment. Do not include personal data about the claimant." } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_submit "Amend claim" %>
      <%= govuk_button_link_to "Cancel", admin_claim_tasks_url(@claim), secondary: true %>
    </div>
  </div>
<% end %>
