<%= page_title("Accessibility statement for #{policy_service_name(current_policy_routing_name)}") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Accessibility statement for <%= policy_service_name(current_policy_routing_name) %>
    </h1>

    <p class="govuk-body">
      This website is run by the Department for Education. We want as many people as possible to be able to use this
      website. For example, that means you should be able to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>zoom in up to 300&#37; without the text spilling off the screen</li>
      <li>
        navigate most of the website using just a keyboard (please note if you are using JAWS you may need to tab into
        text boxes to enter your answer)
      </li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
      VoiceOver)</li>
      <li>use speech to text to enter information (please note if you are using Dragon Speech Recognition you may need
      to use the DragonPad tool to enter information)</li>
    </ul>

    <p class="govuk-body">
      We’ve also made the website text as simple as possible to understand.
    </p>

    <p class="govuk-body">
      <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device
      easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-l">
      How accessible this website is
    </h2>

    <p class="govuk-body">
      We know some parts of this website aren’t fully accessible:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you can’t modify the line height or spacing of text</li>
      <li>you can’t change colours, contrast levels and fonts</li>
    </ul>

    <h2 class="govuk-heading-l">
      What to do if you can’t access parts of this website
    </h2>

    <p class="govuk-body">
      If you need information on this website in a different format or cannot use the service,
      contact us at <%= mail_to support_email_address(current_policy_routing_name), support_email_address(current_policy_routing_name), class: "govuk-link" %>.
    </p>

    <p class="govuk-body">
      We’ll consider your request and get back to you within 5 working days.
    </p>

    <h2 class="govuk-heading-l">
      Reporting accessibility problems with this website
    </h2>

    <p class="govuk-body">
      We’re always looking to improve the accessibility of this website. If you find any problems that aren’t listed on
      this page or think we’re not meeting accessibility requirements, contact us at
      <%= mail_to support_email_address(current_policy_routing_name), support_email_address(current_policy_routing_name), class: "govuk-link" %>.
    </p>

    <h2 class="govuk-heading-l">
      Enforcement procedure
    </h2>

    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
      and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not
      happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">
      contact the Equality Advisory and Support Service (EASS)</a>.
    </p>

    <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>

    <p class="govuk-body">
      The Department for Education is committed to making its website accessible, in accordance with the Public Sector
      Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <p class="govuk-body">
      We believe this website is compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.
    </p>

    <h2 class="govuk-heading-l">How we tested this website</h2>

    <p class="govuk-body">
      This website was last tested on 2 September 2019. The test was carried out by the
      <%= link_to "Digital Accessibility Centre", "https://digitalaccessibilitycentre.org/", class: "govuk-link" %>.
    </p>

    <p class="govuk-body">
      We tested:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the ‘<%= policy_service_name(current_policy_routing_name) %> service’
      </li>
    </ul>

    <p class="govuk-body">
      This statement was prepared on 31 July 2019. It was last updated on 18 September 2019.
    </p>

  </div>
</div>
