<%= page_title("Cookies") %>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Cookies
    </h1>

    <h2 class="govuk-heading-l">
      How we use cookies
    </h2>

    <p class="govuk-body">
      Cookies are used to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>track your progress and record your answers as you complete a claim</li>
      <li>measure how you use this service so it can be updated and improved based on your needs</li>
      <li>remember your cookie consent so that we don’t ask you again</li>
    </ul>

    <div class="panel panel-border-wide">
      <p class="govuk-body"><%= policy_service_name(current_policy_routing_name) %>  cookies aren’t used to identify you personally.</p>
    </div>

    <p class="govuk-body">
      Find out more about <a class="govuk-link" href="http://www.aboutcookies.org/">how to manage cookies.</a>
    </p>

    <h2 class="govuk-heading-l">
      Measuring website usage (Google Analytics)
    </h2>

    <p class="govuk-body">
      We use Google Analytics software to collect information about how you use <%= policy_service_name(current_policy_routing_name) %>.
      We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
    </p>

    <p class="govuk-body">
      Google Analytics stores information about:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the pages you visit on <%= policy_service_name(current_policy_routing_name) %></li>
      <li>how long you spend on each page</li>
      <li>how you got to the site</li>
      <li>what you click on while you’re visiting the site</li>
    </ul>

    <div class="panel panel-border-wide">
      <p class="govuk-body">
        We don’t allow Google Analytics to use or share our analytics data.
      </p>
    </div>

    <p class="govuk-body">
      Google Analytics sets the following cookies:
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_ga</td>
          <td class="govuk-table__cell">This helps us count how many people visit <%= policy_service_name(current_policy_routing_name) %> by tracking if you’ve visited before</td>
          <td class="govuk-table__cell">After 2 years</td>
        </tr>
        <tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gid</td>
          <td class="govuk-table__cell">This helps us count how many people visit <%= policy_service_name(current_policy_routing_name) %> by tracking if you’ve visited before</td>
          <td class="govuk-table__cell">After 24 hours</td>
        </tr>
        <tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gat_gtag_<%= ENV["GOOGLE_ANALYTICS_ID"]&.underscore %></td>
          <td class="govuk-table__cell">This is used by Google Analytics to limit the amount of requests they receive</td>
          <td class="govuk-table__cell">After 1 minute</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      You can <a class="govuk-link" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics</a>.
    </p>

    <h2 class="govuk-heading-l">
      Gathering your feedback
    </h2>

    <p class="govuk-body">
      We use Google Forms software to collect information about what you thought of the <%= policy_service_name(current_policy_routing_name) %> service.
      We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
    </p>

    <p class="govuk-body">
      For more information on Google‘s cookies, please see the
      <a href="https://policies.google.com/technologies/cookies?hl=en-UK" class="govuk-link">Google Privacy and Terms</a>
      site.
    </p>

    <h2 class="govuk-heading-l">
      Sessions
    </h2>

    <p class="govuk-body">
      A cookie is set to record your session activity. This is essential to the function of the service.
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">Purpose</th>
        <th class="govuk-table__header">Expires</th>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_dfe_teachers_payment_service_session</td>
          <td class="govuk-table__cell">Stores session data</td>
          <td class="govuk-table__cell">After <%= claim_timeout_in_minutes %> minutes</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-l">
      Cookie consent
    </h2>

    <p class="govuk-body">
      You will see a pop-up cookie consent message when you visit <%= policy_service_name(current_policy_routing_name) %>.
      If you give us consent to, we'll store a cookie so that your computer knows you’ve consented to non-essential cookies and don't ask you again.
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">Purpose</th>
        <th class="govuk-table__header">Expires</th>
      </thead>
      <tbody>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">accept_cookies</td>
          <td class="govuk-table__cell">Saves a message to let us know that you have accepted non-essential cookies</td>
          <td class="govuk-table__cell">After 90 days</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
