<% content_for(:page_title, t("maths_and_physics.policy_name")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= policy_service_name("maths-and-physics") %>
    </h1>

    <p class="govuk-body">
      Claim £2,000 after tax. (This may be subject to a small student loan deduction. For more information,
      visit the <%= link_to "eligibility and payment guidance", MathsAndPhysics.eligibility_page_url %>).
    </p>

    <p class="govuk-body">
      You can claim if you:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>teach maths or physics</li>
      <li>
        have a degree in maths or physics or completed initial teacher training in maths or physics –
        <%= link_to "check which qualifications are eligible", "https://www.gov.uk/guidance/apply-for-mathematics-and-physics-teacher-retention-payments#opportinity-area", class: "govuk-link" %>
      </li>
      <li>
        teach at a state-funded secondary school in certain places —
        <%= link_to "check which places are eligible", "https://www.gov.uk/guidance/apply-for-mathematics-and-physics-teacher-retention-payments#regional-eligibility-criteria", class: "govuk-link" %>
      </li>
      <li>completed your initial teacher training (ITT) course in or after the 2014 to 2015 academic year</li>
      <li>are not currently subject to formal capability proceedings or disciplinary action</li>
    </ul>

    <p class="govuk-body">
      The application takes around 15 to 45 minutes to complete.
    </p>

    <h2 class="govuk-heading-m">Before you apply</h2>

    <p class="govuk-body">You'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your National Insurance Number</li>
      <li>your bank account details</li>
      <li>
        your 7 digit teacher reference number – you can get this from your
        school, the certificate you got when you qualified, or from the
        <%= link_to "teacher qualifications helpdesk", "https://www.gov.uk/guidance/individual-teacher-records-information-for-teachers#contact", class: "govuk-link" %>
      </li>
      <li>the date you completed your initial teacher training</li>
      <li>
        your passport or photocard driving licence to prove your identity
        using GOV.UK Verify — if you’ve used GOV.UK Verify before, you’ll just
        need your sign-in details
      </li>
    </ul>

    <%= link_to "Start now", new_claim_path("maths-and-physics"), class: "govuk-button govuk-button--start", role: "button", data: {module: "govuk-button"} %>
  </div>
</div>
