<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Choose and upload School Workforce Census data
    </h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of TRNs currently uploaded
        </dt>

        <dd class="govuk-summary-list__value">
          <%= SchoolWorkforceCensus.count %>
        </dd>
      </div>
    </dl>

    <p class="govuk-body">
      Before uploading please note the following:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>All previously uploaded School Workforce Census data will be wiped.</li>
      <li>Previously uploaded data will remain wiped if there are any errors processing the uploaded file.</li>
      <li>Do not upload another file until an email has been received of success or failure.</li>
      <li>You can wipe all data by uploading a CSV file with just the header row and no data rows.</li>
    </ul>

    <%= form_with model: @upload_form, scope: :school_workforce_census_upload, url: admin_school_workforce_census_data_uploads_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_file_field :file,
        label: { text: "Upload a CSV file" },
        javascript: true %>

      <%= f.govuk_submit "Upload" %>
    <% end %>
  </div>
</div>
