<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">You may be eligible for a recognition payment of up to £4,500</h1>

      <p class="govuk-body">
        We’ve confirmed your identity and that you have an eligible qualification. We still need to review your employment evidence before we can make a decision.
      </p>

      <h2 class="govuk-heading-m">
        Before you continue your claim
      </h2>

      <p class="govuk-body">
        The payment may affect your finances. You should check how it could impact you before you decide whether to accept it. While the payment is £4,500, the amount paid into your account may be lower if you need to pay tax or repay your student loan.
      </p>

      <h2 class="govuk-heading-s">
        Student loan deductions
      </h2>

      <p class="govuk-body">
        If you are currently repaying a student loan, a deduction from your payment will go towards repaying it.
      </p>

      <h2 class="govuk-heading-s">
        Income tax
      </h2>

      <p class="govuk-body">
      If you pay <%= govuk_link_to "the basic rate of Income Tax", "https://www.gov.uk/income-tax-rates#income-tax-rates-and-bands", new_tab: "" %>, we will pay tax and National Insurance for you and you will receive the full amount. You may have to pay additional Income Tax if you pay the higher rate.
      </p>

      <h2 class="govuk-heading-s">
        Benefits
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-8">
        The payment may affect any benefits you receive. You should <%= govuk_link_to "check how they might be affected", "https://www.gov.uk/benefits-calculators", new_tab: "" %> before you accept the payment.
      </p>

      <%= f.govuk_collection_radio_buttons :continue_claim,
        @form.radio_options,
        :id,
        :name,
        inline: true,
        legend: {
          text: "Would you like to continue with your claim?"
        },
        hint: {
          text: "If you click no, you’ll cancel your claim and exit the service."
        }
      %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
