<% content_for(:page_title, page_title("Check your document", journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">Check your document</h1>

      <%= f.hidden_field :blob_id, value: @form.latest_blob&.id %>

      <% if @form.latest_blob %>
        <% blob = @form.latest_blob %>
        <% if @form.inline_previewable?(blob) %>
          <%= image_tag rails_storage_proxy_path(blob),
              alt: blob.filename.to_s,
              class: "govuk-!-margin-bottom-4 app-image-preview" %>
        <% end %>
        <p class="govuk-body">
          <% if @form.inline_previewable?(blob) %>
            <%= blob.filename %>, <%= number_to_human_size(blob.byte_size) %>
          <% else %>
            <%= govuk_link_to rails_storage_proxy_path(blob), new_tab: true do %>
              <span class="govuk-visually-hidden">Download file </span>
              <%= blob.filename %> (opens in new tab)
            <% end %>,
            <%= number_to_human_size(blob.byte_size) %>
          <% end %>
        </p>
      <% end %>

      <%= f.govuk_collection_radio_buttons :confirmed,
          @form.radio_options,
          :id, :name,
          legend: { text: "Is this file correct?", tag: "h2", size: "m" },
          hint: { text: @form.latest_blob&.filename } %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
