<% content_for(:page_title, page_title("Upload proof of employment", journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false, multipart: true } do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Upload your payslip</h1>

      <p class="govuk-body">
        Upload a recent payslip to show that you work at <%= @form.nursery_name %>.
      </p>

      <p class="govuk-body">The document must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>show your full name</li>
        <li>show the name of your workplace</li>
        <li>be dated within the last 2 months</li>
      </ul>

      <p class="govuk-body">You upload a clear photo or a scanned copy of the document.</p>

      <%= f.govuk_file_field :file, label: { text: "Upload document", class: "govuk-label--m" },
            accept: f.object.class::ALLOWED_CONTENT_TYPES.join(",") %>

      <%= f.govuk_submit "Upload" %>

      <p class="govuk-body">
        Uploaded files are processed securely and retained only for as long as necessary to review your claim,
        after which they are securely deleted. For more information, see
        <%= govuk_link_to "DFE personal information charter",
          "https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter",
          new_tab: true %>
      </p>
    <% end %>
  </div>
</div>
