<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @payroll_run.created_at.strftime("%B") %> payroll file
    </h1>

    <p class="govuk-body">
      This month's payroll file is ready for processing.
    </p>

    <% if @payroll_run.download_triggered? %>
      <p class="govuk-body govuk-!-font-weight-bold">
        NOTE: This month's payroll file was last downloaded on
        <%= l(@payroll_run.downloaded_at) %> by
        <%= user_details(@payroll_run.downloaded_by, include_line_break: false) %>.
      </p>
    <% end %>

    <%= form_with url: admin_payroll_run_download_path(@payroll_run) do %>
      <%= submit_tag "Download payroll file", class: "govuk-button" %>
    <% end %>
  </div>
</div>
