<% content_for(
  :page_title,
  page_title("Claim submitted", journey: current_journey_routing_name)
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title" id="submitted-title">
        You applied for a targeted retention incentive payment
      </h1>

      <div class="govuk-panel__body">
        Your reference number<br>
        <strong><%= @form.reference %></strong>
      </div>
    </div>

    <p class="govuk-body">
      We have sent you a confirmation email to <%= @form.email_address %>.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <%= render(
      partial: "submissions/confirmation",
      locals: { policy: @form.policy },
    ) %>

    <% if journey.set_a_reminder?(@form.itt_academic_year) %>
      <%= render partial: "set_reminder" %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to "What do you think of this service?", done_page_url %>
      (takes 30 seconds)
    </p>
  </div>
</div>
