<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Upload flagged claimants CSV
    </h1>

    <%= form_with(
      model: @form,
      url: admin_claimant_flags_csv_uploads_path,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_file_field(
        :file,
        label: { text: "Upload a CSV file" },
        javascript: true
      ) %>

      <%= f.govuk_submit "Upload" %>
    <% end %>

    <% if current_admin.is_service_admin? %>
      <p class="govuk-body">
        <%= link_to(
          "Download claimant flags CSV",
          admin_claimant_flags_csv_download_path(format: :csv),
          class: "govuk-link"
        ) %>
      </p>
    <% end %>
  </div>
</div>

