<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Choose and upload DQT report
    </h1>
    <%= form_with url: admin_qualification_report_uploads_path, multipart: true do |f| %>
      <div class="govuk-form-group">
        <%= f.label "file", "Upload a CSV file", class: "govuk-label" %>

        <% @dqt_report_consumer && @dqt_report_consumer.errors.each do |error| %>
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= error %>
          </span>
        <% end %>

        <%= f.file_field "file", class: "govuk-file-upload" %>
      </div>
      <%= f.submit "Upload", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How do I get a DQT report?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">To request a DQT report:</p>
        <ul>
          <li><%= link_to("download the report request file", admin_claims_path(format: :csv), class:"govuk-link") %></li>
          <li>send the report request file to <%= mail_to("James.Williams@education.gov.uk", nil, class: "govuk-link") %> at DQT</li>
        </ul>
        <p class="govuk-body">When you receive the DQT report, save the report as a CSV file and upload the file above.</p>
      </div>
    </details>
  </div>
</div>
