<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Choose and upload DQT report
    </h1>

    <%= form_with model: @upload_form, scope: :qualification_report_upload, url: admin_qualification_report_uploads_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_file_field :file,
        label: { text: "Upload a CSV file" },
        javascript: true %>

      <%= f.govuk_submit "Upload" %>
    <% end %>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How do I get a DQT report?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">To request a DQT report:</p>
        <ul>
          <li><%= link_to("download the report request file", admin_claims_path(format: :csv), class:"govuk-link") %></li>
          <li>send the report request file to <%= mail_to("James.Williams@education.gov.uk", nil, class: "govuk-link") %> at DQT</li>
        </ul>
        <p class="govuk-body">When you receive the DQT report, save the report as a CSV file and upload the file above.</p>
      </div>
    </details>
  </div>
</div>
