<h1 class="govuk-heading-l">
  Verified claims (<%= @all_claims.count %>)
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter-from-desktop govuk-!-margin-bottom-5">
    <%= render "components/card", value: @stats.rejected_count, label: "Rejected by DfE", status: "rejected" %>
  </div>

  <div class="govuk-grid-column-one-quarter-from-desktop govuk-!-margin-bottom-5">
    <%= render "components/card", value: @stats.pending_decision_count, label: "Pending DfE decision", status: "pending" %>
  </div>

  <div class="govuk-grid-column-one-quarter-from-desktop govuk-!-margin-bottom-5">
    <%= render "components/card", value: @stats.approved_count, label: "Approved by DfE", status: "approved" %>
  </div>

  <div class="govuk-grid-column-one-quarter-from-desktop govuk-!-margin-bottom-5">
    <%= render "components/card", value: number_to_currency(@stats.amount, precision: 0), label: "Total value of approved claims", status: "paid" %>
  </div>
</div>

<%= govuk_table do |table| %>
  <% table.with_head do |head| %>
    <% head.with_row do |row| %>
      <% row.with_cell(text: "Claimant name") %>
      <% row.with_cell(text: "Claim reference") %>
      <% row.with_cell(text: "Date verified") %>
      <% row.with_cell(text: "DfE Status") %>
    <% end %>
  <% end %>

  <% table.with_body do |body| %>
    <% @claims.each do |claim| %>
      <% presenter = FurtherEducationPayments::Providers::Claims::ClaimPresenter.new(claim) %>

      <% body.with_row do |row| %>
        <% row.with_cell(text: govuk_link_to(presenter.full_name, further_education_payments_providers_verified_claim_path(presenter.claim))) %>
        <% row.with_cell(text: presenter.reference) %>
        <% row.with_cell(text: l(presenter.provider_verification_completed_at.to_date)) %>
        <% row.with_cell(text: govuk_tag(text: presenter.dfe_status_text, colour: presenter.dfe_status_colour)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
