<%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { school_search: "school_search" }) if current_claim.errors.any? %>

<%= form_for current_claim,
      url: claim_path,
      method: :get,
      data: {
        "school-id-param": "claim_eligibility_attributes_employments_attributes_0_school_id",
        "exclude-closed": false
      },
      html: { class: "school_search_form" } do |form|
%>
  <%= hidden_field_tag :_method, "get", id: nil %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= form.fields_for :eligibility do |eligibility_fields| %>
    <%= eligibility_fields.fields_for :employments, current_claim.eligibility.selected_employment do |employment_fields| %>
      <%= employment_fields.hidden_field :school_id %>
    <% end %>
  <% end %>

  <%= form_group_tag current_claim, :school_search do %>

    <%= hidden_field_tag :exclude_closed, false, id: nil %>

    <h1 class="govuk-label-wrapper">
      <%= label_tag :school_search, t("student_loans.questions.claim_school"), class: "govuk-label govuk-label--xl" %>
    </h1>

    <% if params[:school_search].present? && current_claim.errors.empty? %>
      <p class="govuk-body">
        <strong>No results match that search term. Try again.</strong>
      </p>
    <% else %>
      <span class="govuk-hint">
        Enter the school name. Use at least four characters.
      </span>
    <% end %>

    <div id="school-search-container">

      <%= errors_tag current_claim, :school_search %>
      <%= text_field_tag :school_search, params[:school_search], id: :school_search, class: css_classes_for_input(current_claim, :school_search), value: current_claim.eligibility.selected_employment.school_name %>

    </div>

  <% end %>

  <%= submit_tag "Search", class: "govuk-button", data: { module: "govuk-button" } %>

<% end %>
