<%= form_with(
  model: form,
  url: @form.url,
  builder: GOVUKDesignSystemFormBuilder::FormBuilder
) do |f| %>
  <%= f.hidden_field :details_check %>

  <%= f.hidden_field :logged_in_with_tid %>

  <%= f.fields_for :teacher_id_user_info do |ff| %>
    <% ff.object.attribute_names.each do |attribute| %>
      <%= ff.hidden_field attribute %>
    <% end %>
  <% end %>

  <%= f.govuk_collection_radio_buttons(
    :details_check,
    f.object.radio_options,
    :id,
    :name,
    legend: {
      text: "Are these details correct?",
      size: "m",
    },
    inline: true
  ) %>

  <p class="govuk-body">
    By selecting yes you are confirming that, to the best of your knowledge, the
    details above are correct.
  </p>

  <% if f.object.tid_bypassable? %>
    <%= govuk_details(summary_text: "Developer bypass - DQT payload data") do %>
      <%= render(partial: "dqt_bypass", locals: { f: f }) %>
    <% end %>
  <% end %>

  <%= f.govuk_submit("Continue") %>
<% end %>
