<% content_for(
  :page_title,
  page_title(
    t("questions.mobile_number"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: claim_path(current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <% caption_settings = { text: t("questions.personal_details"), size: "xl" } if show_caption %>
      <%= f.govuk_phone_field :mobile_number,
        spellcheck: "false",
        caption: caption_settings,
        label: {
          text: t("questions.mobile_number"),
          tag: "h1",
          size: heading_size,
        },
        hint: { text: "To verify your mobile number we will send you a text message with a 6-digit passcode. You can enter the passcode on the next screen." } %>
      <%= f.hidden_field :resend, value: params[:resend] %>

      <%= render "help_with_access_codes", communication_type: "Mobile" %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
