<% email_or_mobile_value = email_or_mobile == "email" ? current_claim.email_address : current_claim.mobile_number %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <span class="govuk-caption-xl"><%= email_or_mobile == "email" ? "Email" : "Password" %> verification</span>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="one-time-password"><%= t("one_time_password.title") %></label>
        </h1>

        <div id="one-time-password-hint" class="govuk-hint">
          <%= t("one_time_password.hint1_html", email_or_mobile_message: email_or_text_mesage, email_or_mobile_value: email_or_mobile_value) %> <span><%= t("one_time_password.hint1_suffix") if email_or_mobile == "email" %></span>
          <br><br>
          <%= t("one_time_password.validity_duration", duration_valid: one_time_password_validity_duration, email_or_mobile_message: email_or_mobile == "email" ? "email" : "text" ) %>
        </div>

        <%= errors_tag current_claim, :one_time_password %>
        <%= form.text_field :one_time_password,
                            autocomplete: "off",
                            class: css_classes_for_input(current_claim, :one_time_password, 'govuk-input--width-10'),
                            "aria-describedby" => "one-time-password-hint" %>
      <% end %>

      <div class="govuk-!-margin-bottom-6">
        <% if email_or_mobile == "email" %>
          <%= link_to "Not received an email", claim_path(current_claim.policy.routing_name, "email-address"), class: "govuk-link govuk-link--no-visited-state" %>
        <% else %>
          <%= link_to "Not received an text message", claim_path(current_claim.policy.routing_name, "mobile-number"), class: "govuk-link govuk-link--no-visited-state" %>
        <% end %>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Confirm", class: "govuk-button" %>

        <% if email_or_mobile == "email" %>
          <%= link_to "Use a different email address", claim_path(current_claim.policy.routing_name, "email-address"), class: "govuk-button govuk-button--secondary", role: "button", data: {module: "govuk-button"} %>
        <% else %>
          <%= link_to "Use a different mobile number", claim_path(current_claim.policy.routing_name, "mobile-number"), class: "govuk-button govuk-button--secondary", role: "button", data: {module: "govuk-button"} %>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
