<% email_or_mobile_value = email_or_mobile == "email" ? form.email_address : form.mobile_number %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: form) if form.errors.any? %>

    <span class="govuk-caption-xl"><%= email_or_mobile == "email" ? "Email address" : "Mobile number" %> verification</span>

    <%= form_for form, url: claim_path(current_journey_routing_name) do |f| %>
      <%= form_group_tag f.object do %>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="claim_one_time_password"><%= t("one_time_password.title") %></label>
        </h1>

        <div id="one-time-password-hint" class="govuk-hint">
          <%= t("one_time_password.hint1_html", email_or_mobile_message: email_or_text_message, email_or_mobile_value: email_or_mobile_value) %>
          <br><br>
          <%= t("one_time_password.validity_duration", duration_valid: one_time_password_validity_duration) %>
        </div>

        <%= errors_tag f.object, :one_time_password %>
        <%= f.text_field :one_time_password,
                            autocomplete: "off",
                            class: css_classes_for_input(f.object, :one_time_password, 'govuk-input--width-5'),
                            "aria-describedby" => "one-time-password-hint" %>
      <% end %>

      <div class="govuk-!-margin-bottom-6">
        <% if email_or_mobile == "email" %>
          <%= link_to "Resend passcode (you will be sent back to the email address page)", claim_path(current_journey_routing_name, "email-address"), class: "govuk-link govuk-link--no-visited-state" %>
        <% else %>
          <%= link_to "Resend passcode (you will be sent back to the mobile number page)", claim_path(current_journey_routing_name, "mobile-number"), class: "govuk-link govuk-link--no-visited-state" %>
        <% end %>
      </div>

      <div class="govuk-button-group">
        <%= f.submit "Confirm", class: "govuk-button" %>

        <% if email_or_mobile == "email" %>
          <%= link_to "Change email address", claim_path(current_journey_routing_name, "email-address"), class: "govuk-button govuk-button--secondary", role: "button", data: {module: "govuk-button"} %>
        <% else %>
          <%= link_to "Change mobile number", claim_path(current_journey_routing_name, "mobile-number"), class: "govuk-button govuk-button--secondary", role: "button", data: {module: "govuk-button"} %>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
