<% email_or_mobile_value = email_or_mobile == "email" ? form.email_address : form.mobile_number %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: form, url: claim_path(current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <% caption_settings = { text: "#{email_or_mobile == "email" ? "Email address" : "Mobile number"} verification", size: "xl" } if show_caption %>
      <%= f.govuk_text_field :one_time_password,
        width: 5,
        autocomplete: "off",
        inputmode: "numeric",
        label: {
          text: t("one_time_password.title"),
          tag: "h1",
          size: "l"
        },
        caption: caption_settings,
        hint: -> do %>
          <p>
            <%= t("one_time_password.hint1_html", email_or_mobile_message: email_or_text_message, email_or_mobile_value: email_or_mobile_value) %>
          </p>

          <p>
            <%= t("one_time_password.validity_duration", duration_valid: one_time_password_validity_duration) %>
          </p>
      <% end %>

      <div class="govuk-!-margin-bottom-6">
        <% if email_or_mobile == "email" %>
          <%= govuk_link_to "Resend passcode (you will be sent back to the email address page)", claim_path(current_journey_routing_name, "email-address", resend: true), no_visited_state: true %>
        <% else %>
          <%= govuk_link_to "Resend passcode (you will be sent back to the mobile number page)", claim_path(current_journey_routing_name, "mobile-number", resend: true), no_visited_state: true %>
        <% end %>
      </div>

      <div class="govuk-button-group">
        <%= f.govuk_submit "Confirm" %>

        <% if email_or_mobile == "email" %>
          <%= govuk_button_link_to "Change email address", claim_path(current_journey_routing_name, "email-address"), secondary: true %>
        <% else %>
          <%= govuk_button_link_to "Change mobile number", claim_path(current_journey_routing_name, "mobile-number"), secondary: true %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
