<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <span class="govuk-caption-xl">Password confirmation</span>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="one-time-password">One time password</label>
        </h1>

        <div id="one-time-password-hint" class="govuk-hint">
          We have sent an email to <b><strong><%= current_claim.email_address %></strong></b> with a 6 character password. We recommend you copy and paste the password from the email.
          <br><br>
          You will have <%= one_time_password_validity_duration %> from receiving the email before the password will expire.
        </div>

        <%= errors_tag current_claim, :one_time_password %>
        <%= form.text_field :one_time_password,
                            autocomplete: "off",
                            class: css_classes_for_input(current_claim, :one_time_password, 'govuk-input--width-10'),
                            "aria-describedby" => "one-time-password-hint" %>
      <% end %>


      <div class="govuk-!-margin-bottom-6">
        <%= link_to "Not received an email", claim_path(current_claim.policy.routing_name, "email-address"), class: "govuk-link govuk-link--no-visited-state " %>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Confirm", class: "govuk-button" %>

        <%= link_to "Use a different email address", claim_path(current_claim.policy.routing_name, "email-address"), class: "govuk-button govuk-button--secondary", role: "button", data: {module: "govuk-button"} %>
      </div>
    <% end %>
  </div>
</div>
