<% content_for(:page_title, page_title(t("questions.personal_details"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-<%= heading_size %>">
        <%= t("questions.personal_details") %>
      </h1>

      <% if @form.show_name_section? %>
        <div class="govuk-form-group govuk-!-padding-bottom-6">
          <%= f.govuk_fieldset legend: {
            text: "What is your full name?",
            tag: "h2",
            size: subheading_size
          } do %>
            <%= f.govuk_text_field :first_name,
              label: { text: "First name" },
              autocomplete: "given-name"
            %>

            <%= f.govuk_text_field :middle_name,
              label: { text: "Middle names" },
              autocomplete: "additional-name"
            %>

            <%= f.govuk_text_field :surname,
              label: { text: "Last name" },
              autocomplete: "family-name"
            %>
          <% end %>
        </div>
      <% end %>

      <% if @form.show_date_of_birth_section? %>
        <div class="govuk-!-padding-bottom-6">
          <%= f.govuk_date_field :date_of_birth,
            date_of_birth: true,
            legend: {
              text: "What is your date of birth?",
              tag: "h2",
              size: subheading_size
            },
            hint: {
              text: @form.t(
                "date_of_birth.hint",
                default: "For example, 31 03 1980. We need this information to verify your identity."
              ),
            } %>
        </div>
      <% end %>

      <% if @form.show_nino_section? %>
        <div class="govuk-!-padding-bottom-6">
          <%= f.govuk_text_field :national_insurance_number,
            width: 10,
            spellcheck: false,
            autocomplete: "off",
            label: {
              text: t("questions.national_insurance_number"),
              size: subheading_size,
              tag: "h2"
            },
            hint: -> do %>
              It’s on your National Insurance card, benefit letter, payslip or P60. For example ‘QQ123456C’.
            <% end %>
        </div>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
