<%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { school_search: "school_search" }) if current_claim.errors.any? %>

<%= form_for current_claim,
             url: claim_path(current_policy_routing_name),
             method: :get,
             data: {
               "school-id-param": "claim_eligibility_attributes_#{school_id_param}",
               "exclude-closed": exclude_closed
             },
             html: { class: "school_search_form" } do |form|
%>
  <%= hidden_field_tag :_method, "get", id: nil %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= form.fields_for :eligibility, include_id: false do |fields| %>
    <%= fields.hidden_field school_id_param %>
  <% end %>

  <%= form_group_tag current_claim, :school_search do %>

    <%= hidden_field_tag :exclude_closed, exclude_closed, id: nil %>

    <h1 class="govuk-label-wrapper">
      <%= label_tag :school_search, question, class: "govuk-label govuk-label--xl" %>
    </h1>

    <% if params[:school_search].present? && current_claim.errors.empty? %>
      <p class="govuk-body">
        <strong>No results match that search term. Try again.</strong>
      </p>
    <% else %>
      <span class="govuk-hint">
        Enter the school name. Use at least four characters.
      </span>

      <% if school_id_param == :claim_school_id && !params.has_key?(:additional_school) %>
        <span class="govuk-hint">
          If you worked at multiple schools during this period, enter the first school you think might be eligible.
        </span>
      <% end %>
    <% end %>

    <div id="school-search-container">

      <%= errors_tag current_claim, :school_search %>
      <%= text_field_tag :school_search, params[:school_search], id: :school_search, class: css_classes_for_input(current_claim, :school_search), value: school_search_value %>

    </div>

  <% end %>

  <%= submit_tag "Search", class: "govuk-button" %>

<% end %>
