<h1 class="govuk-heading-l">
<% if @form.logged_in_with_onelogin %>
  You've successfully signed in to GOV.UK One Login
<% elsif @form.identity_confirmed_with_onelogin %>
  You've successfully proved your identity with GOV.UK One Login
<% else %>
  Sign in with GOV.UK One Login
<% end %>
</h1>

<% if @form.logged_in_with_onelogin %>
  <p>
    You are signed in with One Login as <strong><%= @form.onelogin_user_info.email %></strong>
  </p>
<% elsif @form.identity_confirmed_with_onelogin %>
  <p>
    <strong><%= @form.first_name %> <%= @form.surname %></strong> - you have proved your identity
  </p>
  <p>
    You can now continue your application
  </p>
<% else %>
  <p>
    You can sign in or set up a One Login account to make it easier to claim additional payments.
  </p>
<% end %>

<div class="govuk-button-group">
  <% if @form.logged_in_with_onelogin %>
    <%= button_to "Prove your identity with One Login", "/auth/onelogin_identity", class: "govuk-button", method: :post %>
  <% elsif @form.identity_confirmed_with_onelogin %>
    <%= form_for @form, url: claim_path(current_journey_routing_name) do |f| %>
      <%= f.fields_for :onelogin_user_info do |ff| %>
        <% ff.object.attribute_names.each do |attribute| %>
          <%= ff.hidden_field attribute %>
        <% end %>
      <% end %>
      <%= f.hidden_field :first_name %>
      <%= f.hidden_field :surname %>
      <%= f.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  <% else %>
    <%= button_to "Continue with One Login", "/auth/onelogin", class: "govuk-button", method: :post %>
  <% end %>
</div>
