<%= page_title(t("questions.address"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <%= t("questions.address") %>
          </h1>
        </legend>

        <%= form_group_tag current_claim, :address_line_1 do %>
          <%= form.label :address_line_1, class: "govuk-label" do %>
            Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
          <% end %>
          <%= errors_tag current_claim, :address_line_1 %>
          <%= form.text_field :address_line_1, autocomplete: "address-line1",
            class: css_classes_for_input(current_claim, :address_line_1) %>
        <% end %>

        <%= form_group_tag current_claim, :address_line_2 do %>
          <%= form.label :address_line_2, class: "govuk-label" do %>
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          <% end %>
          <%= errors_tag current_claim, :address_line_2 %>
          <%= form.text_field :address_line_2, autocomplete: "address-line2",
            class: "govuk-input" %>
        <% end %>

        <%= form_group_tag current_claim, :address_line_3 do %>
          <%= form.label :address_line_3, class: "govuk-label" do %>
            Town or city
          <% end %>
          <%= errors_tag current_claim, :address_line_3 %>
          <%= form.text_field :address_line_3, autocomplete: "address-line3",
            class: css_classes_for_input(current_claim, :address_line_3, "govuk-!-width-two-thirds") %>
        <% end %>

        <%= form_group_tag current_claim, :address_line_4 do %>
          <%= form.label :address_line_4, class: "govuk-label" do %>
            County
          <% end %>
          <%= errors_tag current_claim, :address_line_4 %>
          <%= form.text_field :address_line_4, class: "govuk-input govuk-!-width-two-thirds" %>
        <% end %>

        <%= form_group_tag current_claim, :postcode do %>
          <%= form.label :postcode, class: "govuk-label" do %>
            Postcode
          <% end %>
          <%= errors_tag current_claim, :postcode %>
          <%= form.text_field :postcode, autocomplete: "postal-code",
            class: css_classes_for_input(current_claim, :postcode, "govuk-input--width-10") %>
        <% end %>

      </fieldset>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
