<%= page_title(t("questions.bank_details"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

      <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <%= t("questions.bank_details") %>
            </h1>
          </legend>

          <span class="govuk-hint">
            The account you want us to send your payment to.
          </span>

          <%= form_group_tag current_claim, :banking_name do %>
            <%= form.label :banking_name, "Name on the account", class: "govuk-label" %>
            <%= errors_tag current_claim, :banking_name %>
            <%= form.text_field :banking_name,
              class: css_classes_for_input(current_claim, :banking_name),
              spellcheck: "false" %>
          <% end %>

          <%= form_group_tag current_claim, :bank_sort_code do %>
            <%= form.label :bank_sort_code, "Sort code", class: "govuk-label" %>
            <span id="sort-code-hint" class="govuk-hint">For example: 44 00 26</span>
            <%= errors_tag current_claim, :bank_sort_code %>
            <%= form.text_field :bank_sort_code,
              class: css_classes_for_input(current_claim, :bank_sort_code, "govuk-!-width-one-quarter"),
              autocomplete: "off",
              "aria-describedby" => "sort-code-hint" %>
          <% end %>

          <%= form_group_tag current_claim, :bank_account_number do %>
            <%= form.label :bank_account_number, "Account number", class: "govuk-label" %>
            <span id="account-number-hint" class="govuk-hint">For example: 70 87 24 90</span>
            <%= errors_tag current_claim, :bank_account_number %>
            <%= form.text_field :bank_account_number,
              class: css_classes_for_input(current_claim, :bank_account_number, "govuk-input--width-20"),
              autocomplete: "off",
              "aria-describedby" => "account-number-hint" %>
          <% end %>

          <%= form_group_tag current_claim, :building_society_roll_number do %>
            <%= form.label :building_society_roll_number, "Building society roll number (if you have one)", class: "govuk-label" %>
            <span id="roll-number-hint" class="govuk-hint">You can find it on your card, statement or passbook</span>
            <%= form.text_field :building_society_roll_number,
              class: css_classes_for_input(current_claim, :building_society_roll_number, "govuk-input--width-20"),
              autocomplete: "off",
              spellcheck: "false",
              "aria-describedby" => "roll-number-hint" %>
          <% end %>
        </fieldset>
        <%= form.submit "Continue", class: "govuk-button" %>
      <% end %>
  </div>
</div>
