<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>

    <%= render partial: "check_your_answers_section", locals: {heading: "Claim details", answers: claim_answers(current_claim)} %>

    <%= render partial: "check_your_answers_section", locals: {heading: "Identity details", answers: identity_answers(current_claim)} %>

    <%= render partial: "check_your_answers_section", locals: {heading: "Student loan details", answers: student_loan_answers(current_claim)} %>

    <%= render partial: "check_your_answers_section", locals: {heading: "Payment details", answers: payment_answers(current_claim)} %>

    <%= form_for current_claim, url: claim_path do |form| %>
      <h2 class="govuk-heading-m">Confirm and send your application</h2>

      <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <div class="govuk-form-group">
        <%= form.submit "Confirm and send", class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
