<% content_for(:page_title, page_title("Check your answers before sending your application", policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>

    <%= render partial: "claims/check_your_answers_section", locals: {heading: "Eligibility details", answers: eligibility_answers(current_claim)} unless current_claim.has_ecp_policy? %> 

    <%= render partial: "claims/check_your_answers_section", locals: {heading: "Identity details", answers: identity_answers(current_claim)} %>

    <% if current_claim.has_ecp_policy? %>
      <%= render partial: "claims/check_your_answers_section", locals: {heading: "Payment details", answers: payment_answers(current_claim)} %>

      <%= render partial: "claims/check_your_answers_section", locals: {heading: "Student loan details", answers: student_loan_answers(current_claim)} %>
    <% else %>
      <%= render partial: "claims/check_your_answers_section", locals: {heading: "Student loan details", answers: student_loan_answers(current_claim)} %>

      <%= render partial: "claims/check_your_answers_section", locals: {heading: "Payment details", answers: payment_answers(current_claim)} %>
    <% end %>

    <%= form_with url: claim_submission_path do |form| %>
      <%= send_your_application(current_claim) %>

      <%= statement(current_claim) %>

      <div class="govuk-form-group">
        <%= form.submit submit_text(current_claim), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
