<%= render("shared/error_summary", instance: @form) if @form.errors.any? %>

<%= form_for @form, url: @form.url do |form| %>
  <%= form_group_tag form.object do %>
    <fieldset class="govuk-fieldset" aria-describedby="school-search-result-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          <%= t("additional_payments.forms.correct_school.questions.which_school") %>
        </h1>
      </legend>

      <%= errors_tag @form, :current_school %>

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= form.radio_button(:current_school_id, @form.current_school_id, class: "govuk-radios__input") %>
          <%= form.label "current_school_id_#{@form.current_school_id}", @form.current_school_name, class: "govuk-label govuk-radios__label" %>
          <div id="school-checker-item-hint" class="govuk-hint govuk-radios__hint">
            <%= @form.current_school_address %>
          </div>
        </div>
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <%= form.radio_button(:current_school_id, "somewhere_else", checked: @form.school_somewhere_else?, class: "govuk-radios__input") %>
          <%= form.label "current_school_id_somewhere_else", "Somewhere else", class: "govuk-label govuk-radios__label" %>
        </div>
      </div>
    </fieldset>
  <% end %>

  <%= form.submit "Continue", class: "govuk-button" %>
<% end %>
