<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: @form.url,
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      id: "provision-search-form",
      data: {
        "exclude-closed": true
      },
      html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :possible_school_id %>

      <div id="autocomplete-container" class="govuk-!-margin-bottom-9">
        <%= f.govuk_text_field :provision_search,
          class: "js-remove",
          label: {
            text: @form.t(:question),
            tag: "h1",
            size: "l"
          },
          hint: -> do %>
            Enter the school name or postcode using at least 3 characters
          <% end %>
      </div>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
