<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <% if @schools.blank? %>

      <%= form_tag(claim_path("current-school"), method: :get) do %>
        <%= form_group_tag current_claim, :school_search do %>
          <h1 class="govuk-label-wrapper">
            <%= label_tag :school_search, t("tslr.questions.current_school"), class: "govuk-label govuk-label--xl" %>

          </h1>
          <% if params[:school_search].present? && current_claim.errors.empty? %>
            <p class="govuk-body">
              <strong>No results match that search term. Try again.</strong>
            </p>
          <% else %>
            <span id="school-search-hint" class="govuk-hint">
              Search for the school name, use at least four characters.
            </span>
          <% end %>
          <%= errors_tag current_claim, :school_search %>
          <%= text_field_tag :school_search, params[:school_search], id: :tslr_claim_school_search, class: css_classes_for_input(current_claim, :school_search), value: current_claim.current_school&.name %>
        <% end %>
        <%= submit_tag "Search", class: "govuk-button" %>
      <% end %>

    <% else %>

      <%= form_for current_claim, url: claim_path do |form| %>
        <%= form_group_tag current_claim, :claim_school do %>
          <fieldset class="govuk-fieldset" aria-describedby="school-search-result-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <%= t("tslr.questions.current_school") %>
              </h1>
            </legend>
            <span id="school-search-result-hint" class="govuk-hint">
              Select your school from the search results.
            </span>

            <%= hidden_field_tag :school_search, params[:school_search] %>

              <%= errors_tag current_claim, :claim_school %>
              <div class="govuk-radios">
                <%= form.collection_radio_buttons :current_school_id, @schools, :id, :name do |b| %>
                  <div class="govuk-radios__item">
                    <%= b.radio_button class: "govuk-radios__input" %>
                    <%= b.label class: "govuk-label govuk-radios__label govuk-label--s" %>
                    <span class="govuk-hint govuk-radios__hint"><%= b.object.address %></span>
                  </div>
                <% end %>
              </div>
            </fieldset>
        <% end %>
        <%= form.submit "Continue", class: "govuk-button" %>
        <%= link_to "Search again", claim_path, class: "govuk-button govuk-button--secondary" %>
      <% end %>

    <% end %>
  </div>
</div>
