<% content_for(:page_title, page_title(t("questions.date_of_birth"), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { date_of_birth: "claim_date_of_birth_3i"}) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <fieldset class="govuk-fieldset" aria-describedby="date-of-birth-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <%= t("questions.date_of_birth") %>
          </h1>
        </legend>

        <span id="date-of-birth-hint" class="govuk-hint">
          For example, 31 03 1980. We need this information to verify your identity.
        </span>

        <div class="govuk-date-input">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= label_tag :"claim_date_of_birth_3i", "Day", class: "govuk-label govuk-date-input__label" %>
              <%= text_field_tag :"claim[date_of_birth(3i)]", form.object.date_of_birth.try(:day), id: "claim_date_of_birth_3i", class: "govuk-input govuk-date-input__input govuk-input--width-2", type: "number", autocomplete: "bday-day", pattern: "[0-9]*" %>
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= label_tag :"claim_date_of_birth_2i", "Month", class: "govuk-label govuk-date-input__label" %>
              <%= text_field_tag :"claim[date_of_birth(2i)]", form.object.date_of_birth.try(:month), id: "claim_date_of_birth_2i", class: "govuk-input govuk-date-input__input govuk-input--width-2", type: "number", autocomplete: "bday-month", pattern: "[0-9]*" %>
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= label_tag :"claim_date_of_birth_1i", "Year", class: "govuk-label govuk-date-input__label" %>
              <%= text_field_tag :"claim[date_of_birth(1i)]", form.object.date_of_birth.try(:year), id: "claim_date_of_birth_1i", class: "govuk-input govuk-date-input__input govuk-input--width-4", type: "number", autocomplete: "bday-year", pattern: "[0-9]*" %>
            </div>
          </div>
        </div>
      </fieldset>

      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
 </div>
</div>
