<%= page_title(t("questions.email_address"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <h1 class="govuk-label-wrapper">
          <%= form.label :email_address, t("questions.email_address"), class: "govuk-label govuk-label--xl"  %>
        </h1>

        <span class="govuk-hint">
          We will only use your email address to update you about your claim. We recommend you use a personal email address.
        </span>

        <%= errors_tag current_claim, :email_address %>

        <%= form.email_field :email_address, autocomplete: "email", spellcheck: "false", class: css_classes_for_input(current_claim, :email_address) %>
      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
