<% content_for(:page_title, page_title(t("questions.email_address"), journey: current_journey_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_journey_routing_name), html: { novalidate: false } do |form| %>
      <%= personal_details_caption(current_claim) %>
      <%= form_group_tag current_claim do %>
        <h1 class="govuk-label-wrapper">
          <%= form.label :email_address, t("questions.email_address"), class: "govuk-label #{label_css_class_for_journey(journey)}" %>
        </h1>

        <%= email_govuk_hint(current_claim) %>

        <%= errors_tag current_claim, :email_address %>

        <%= form.text_field :email_address,
                             autocomplete: "email",
                             spellcheck: "false",
                             class: css_classes_for_input(current_claim, :email_address),
                             "aria-describedby" => "email-address-hint" %>
      <% end %>
      <%= render "help_with_access_codes", communication_type: "Email" %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
