<% content_for(
  :page_title,
  page_title(
    t("questions.email_address"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: claim_path(current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :email_address,
        autocomplete: "email",
        spellcheck: "false",
        caption: {
          text: t("questions.personal_details"),
          size: "xl"
        },
        label: {
          text: t("questions.email_address"),
          tag: "h1",
          size: "xl"
        },
        hint: -> do %>
          <p><%= I18n.t("questions.email_address_hint1") %></p>
          <p><%= I18n.t("questions.email_address_hint2") %></p>
        <% end %>
      <%= f.hidden_field :resend, value: params[:resend] %>

      <%= render "help_with_access_codes", communication_type: "Email" %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
