<% content_for(:page_title, page_title(t("forms.gender.questions.payroll_gender"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: claim_path(current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :payroll_gender,
        legend: {
          text: t("forms.gender.questions.payroll_gender"),
          tag: "h1",
          size: "l"
        },
        hint: {
          text: "This is not us asking how you identify. HMRC only records male or female and we need to match their records to make tax contributions on your behalf. If you don’t know what gender is held on record we will contact HMRC or the Teachers Pension Scheme."
        }) do %>
        <%= f.govuk_radio_button :payroll_gender, :female, label: { text: "Female" }, link_errors: true %>
        <%= f.govuk_radio_button :payroll_gender, :male, label: { text: "Male" } %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :payroll_gender, :dont_know, label: { text: "I don’t know" } %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
