<% content_for(:page_title, page_title(t("questions.payroll_gender"), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { payroll_gender: "claim_payroll_gender_female" }) if current_claim.errors.any? %>
    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <fieldset class="govuk-fieldset" aria-describedby="payroll_gender-hint" role="group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--<%= shared_view_css_class_size(current_claim) %>">
            <h1 class="govuk-fieldset__heading">
              <%= t("questions.payroll_gender") %>
            </h1>
          </legend>

          <span class="govuk-hint" id="payroll_gender-hint">
            This is not us asking how you identify. HMRC only records male or female and
            we need to match their records to make tax contributions on your behalf. If
            you don't know what gender is held on record we will contact HMRC or the
            Teachers Pension Scheme.
          </span>

          <%= errors_tag current_claim, :payroll_gender %>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= form.radio_button(:payroll_gender, :female, class: "govuk-radios__input") %>
              <%= form.label :payroll_gender_female, "Female", class: "govuk-label govuk-radios__label" %>
            </div>
            <div class="govuk-radios__item">
              <%= form.radio_button(:payroll_gender, :male, class: "govuk-radios__input") %>
              <%= form.label :payroll_gender_male, "Male", class: "govuk-label govuk-radios__label" %>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <%= form.radio_button(:payroll_gender, :dont_know, class: "govuk-radios__input") %>
              <%= form.label :payroll_gender_dont_know, "I don't know", class: "govuk-label govuk-radios__label" %>
            </div>
          </div>

        </fieldset>
      <% end %>

      <%= form.submit "Continue", class: "govuk-button" %>

    <% end %>
  </div>
</div>
