<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { mostly_teaching_eligible_subjects: "claim_eligibility_attributes_mostly_teaching_eligible_subjects_true"}) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>
          <%= fields.hidden_field :mostly_teaching_eligible_subjects %>
          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <%= t("student_loans.questions.mostly_teaching_eligible_subjects", subjects: subject_list(current_claim.eligibility.subjects_taught)) %>
              </h1>
            </legend>

            <p class="govuk-body">
              <span class="govuk-hint">
                Include your planning, preparation and assessment (PPA) time. If you've been off on long-term leave or
                sick, include the time you would have spent.
              </span>
            </p>

            <%= errors_tag current_claim, :mostly_teaching_eligible_subjects %>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <%= fields.radio_button(:mostly_teaching_eligible_subjects, true, class: "govuk-radios__input") %>
                <%= fields.label :mostly_teaching_eligible_subjects_true, "Yes", class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= fields.radio_button(:mostly_teaching_eligible_subjects, false, class: "govuk-radios__input") %>
                <%= fields.label :mostly_teaching_eligible_subjects_false, "No", class: "govuk-label govuk-radios__label" %>
              </div>
            </div>

          </fieldset>
        <% end %>
      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
