<% content_for(:page_title, page_title(t("questions.name"), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <%= t("questions.name") %>
          </h1>
        </legend>

        <%= form_group_tag current_claim, :first_name do %>
          <%= form.label :first_name, "First name", class: "govuk-label" %>
          <%= errors_tag current_claim, :first_name %>
          <%= form.text_field :first_name, class: css_classes_for_input(current_claim, :first_name), autocomplete: "given-name" %>
        <% end %>

        <%= form_group_tag current_claim, :middle_name do %>
          <%= form.label :middle_name, "Middle names", class: "govuk-label" %>
          <%= errors_tag current_claim, :middle_name %>
          <%= form.text_field :middle_name, class: css_classes_for_input(current_claim, :middle_name) %>
        <% end %>

        <%= form_group_tag current_claim, :surname do %>
          <%= form.label :surname, "Last name", class: "govuk-label" %>
          <%= errors_tag current_claim, :surname %>
          <%= form.text_field :surname, class: css_classes_for_input(current_claim, :surname), autocomplete: "family-name" %>
        <% end %>
      </fieldset>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
