<%= page_title(t("questions.national_insurance_number"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <h1 class="govuk-label-wrapper">
          <%= form.label :national_insurance_number, t("questions.national_insurance_number"), {class: "govuk-label govuk-label--xl"}  %>
        </h1>

        <span class="govuk-hint">
          It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
        </span>

        <%= errors_tag current_claim, :national_insurance_number %>

        <%= form.text_field :national_insurance_number,
              spellcheck: "false",
              autocomplete: "off",
              minlength: 9,
              class: css_classes_for_input(current_claim, :national_insurance_number, 'govuk-input--width-10')
        %>
      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
