<% content_for(:page_title, page_title(t("questions.address.home.title"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :skip_postcode_search, value: false %>

      <% if @form.errors.any? %>
        <%= f.govuk_fieldset legend: {
          text: I18n.t("questions.address.home.no_address_found"),
          tag: "h1",
          size: "l"
        } do %>
          <p class="govuk-body">
            We have not been able to find your address. Check the details you have
            provided, or enter your address manually.
          </p>

          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Postcode</h2>

          <p class="govuk-body">
            <% if @form.postcode.present? %>
              <span class="govuk-!-margin-right-3"><%= @form.postcode %></span>
            <% end %>
            <%= govuk_link_to "Change", claim_path(current_journey_routing_name, "postcode-search"), "aria-label": "Change" %>
          </p>

          <%= govuk_button_link_to I18n.t("questions.address.home.link_to_manual_address"), claim_path(current_journey_routing_name, "address"), "aria-label": I18n.t("questions.address.home.link_to_manual_address") %>
        <% end %>
      <% else %>
        <%= f.govuk_fieldset legend: {
          text: I18n.t("questions.address.home.title"),
          tag: "h1",
          size: "l"
        } do %>
        <%= f.govuk_text_field :postcode,
          width: 10,
          required: true,
          autocomplete: "postal-code",
          label: {
            text: "Postcode",
            size: "m"
          } %>

        <% end %>

        <p class="govuk-body">
          <% if @form.journey.use_navigator? %>
            <button form="skip-postcode-search" class="govuk-link govuk-link--no-visited-state button-to-as-link">
              <%= I18n.t("questions.address.home.link_to_manual_address") %>
            </button>
          <% else %>
            <%= govuk_link_to(
              I18n.t("questions.address.home.link_to_manual_address"),
              claim_path(current_journey_routing_name, "address"),
              "aria-label": I18n.t("questions.address.home.link_to_manual_address")
            ) %>
          <% end %>
        </p>

        <p class="govuk-!-padding-top-6">
          <%= f.govuk_submit "Search" %>
        </p>
      <% end %>
    <% end %>

    <%= form_with(
      model: @form,
      url: claim_path(current_journey_routing_name),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      html: { id: "skip-postcode-search" }
    ) do |f| %>
      <%= f.hidden_field :skip_postcode_search, value: true %>
    <% end %>
  </div>
</div>
