<% content_for(:page_title, page_title(t("questions.address.home.title"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_fieldset legend: {
        text: I18n.t("questions.address.home.title"),
        tag: "h1",
        size: "l"
      } do %>
      <%= f.govuk_text_field :postcode,
        width: 10,
        required: true,
        autocomplete: "postal-code",
        label: {
          text: "Postcode",
          size: "m"
        } %>

      <% end %>

      <p class="govuk-body">
        <button type="submit" name="claim[skip_postcode_search]" value="true" formnovalidate class="govuk-link govuk-link--no-visited-state button-to-as-link">
          <%= I18n.t("questions.address.home.link_to_manual_address") %>
        </button>
      </p>

      <p class="govuk-!-padding-top-6">
        <%= f.govuk_submit "Search", name: "claim[skip_postcode_search]", value: "false" %>
      </p>
    <% end %>
  </div>
</div>
