<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path do |form| %>
      <%= form_group_tag current_claim do %>
        <h1 class="govuk-heading-xl">
          <%= form.label :qts_award_year, t("tslr.questions.qts_award_year") %>
        </h1>

        <span id="tslr_claim_qts_award_year-hint" class="govuk-hint">
          You are only eligible to claim back student loan repayments if you qualified on or after September 1st 2013.
        </span>

        <%= errors_tag current_claim, :qts_award_year %>
        <%= form.select :qts_award_year, options_for_qts_award_year, { include_blank: true }, { class: css_classes_for_select(current_claim, :qts_award_year) } %>

      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
