<% content_for(
  :page_title,
  page_title(
    t("forms.select_mobile_form.questions.which_number"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :mobile_check,
        caption: {
          text: t("questions.personal_details"),
          size: "xl"
        },
        legend: {
          size: "xl",
          text: t("forms.select_mobile_form.questions.which_number")
        },
        hint: {
          text: t("forms.select_mobile_form.hints.usage")
        }
      ) do %>
          <%= f.govuk_radio_button(
            :mobile_check,
            :use,
            label: { text: f.object.phone_number },
            link_errors: true
          ) %>

          <%= f.govuk_radio_button(
            :mobile_check,
            :alternative,
            label: { text: t("forms.select_mobile_form.answers.alternative") },
          ) %>

          <%= f.govuk_radio_divider %>

          <%= f.govuk_radio_button(
            :mobile_check,
            :declined,
            label: { text: t("forms.select_mobile_form.answers.decline") },
          ) %>
        <% end %>

      <%= f.govuk_submit %>

    <% end %>
  </div>
</div>
