<% content_for(
  :page_title,
  page_title(
    t("additional_payments.forms.select_mobile_form.questions.which_number"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?)
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @form.errors.any? %>
      <%= render(
        "shared/error_summary",
        instance: @form,
        errored_field_id_overrides: {
          phone_number: "phone_number_true"
        }
      ) %>
    <% end %>

    <%= form_for @form, url: @form.url do |f| %>
      <span class="govuk-caption-xl"><%= t("questions.personal_details") %></span>
      <%= form_group_tag f.object do %>

        <fieldset class="govuk-fieldset" aria-describedby="phone-number-hint">

          <legend class="govuk-fieldset__legend <%= fieldset_legend_css_class_for_journey(f.object.journey) %>">
            <h1 class="govuk-fieldset__heading">
              <%= t("additional_payments.forms.select_mobile_form.questions.which_number") %>
            </h1>
          </legend>

          <div class="govuk-hint" id="phone-number-hint">
              <%= t("additional_payments.forms.select_mobile_form.hints.usage") %>
          </div>

          <%= errors_tag f.object, :phone_number %>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <%= f.radio_button(:mobile_check, :use, class: "govuk-radios__input", required: true) %>
              <%= f.label :mobile_check_use, f.object.phone_number, class: "govuk-label govuk-radios__label" %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button(:mobile_check, :alternative, class: "govuk-radios__input", required: true) %>
              <%= f.label :mobile_check_alternative, t("additional_payments.forms.select_mobile_form.answers.alternative"), class: "govuk-label govuk-radios__label" %>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <%= f.radio_button(:mobile_check, :declined, class: "govuk-radios__input", required: true) %>
              <%= f.label :mobile_check_declined, t("additional_payments.forms.select_mobile_form.answers.decline"), class: "govuk-label govuk-radios__label" %>
            </div>

          </div>

        </fieldset>

      <% end %>

      <%= f.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
