<% content_for(
  :page_title,
  page_title(
    t("forms.select_email.questions.select_email"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :email_address_check,
        caption: {
          text: t("questions.personal_details"),
          size: "xl"
        },
        legend: {
          size: "xl",
          text: t("forms.select_email.questions.select_email")
        },
        hint: {
          text: t("forms.select_email.hints.non_work_email_address")
        }
      ) do %>
          <%= f.govuk_radio_button(
            :email_address_check,
            true,
            label: { text: f.object.email_address_from_teacher_id },
            link_errors: true
          ) %>

          <%= f.govuk_radio_divider %>

          <%= f.govuk_radio_button(
            :email_address_check,
            false,
            label: { text: "A different email address" },
          ) %>
        <% end %>

      <%= f.govuk_submit %>

    <% end %>
  </div>
</div>




