<%= page_title(t("questions.student_loan_how_many_courses"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { student_loan_courses: "claim_student_loan_courses_one_course" }) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form.hidden_field :student_loan_courses %>
        <%= form_group_tag current_claim do %>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <%= t("questions.student_loan_how_many_courses") %>
              </h1>
            </legend>

            <span class="govuk-hint">
              This includes university degrees, PGCE and Initial Teacher Training courses.
            </span>

            <%= errors_tag current_claim, :student_loan_courses %>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <%= form.radio_button(:student_loan_courses, :one_course, class: "govuk-radios__input")%>
                <%= form.label :student_loan_courses_one_course, "1", class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button(:student_loan_courses, :two_or_more_courses, class: "govuk-radios__input")%>
                <%= form.label :student_loan_courses_two_or_more_courses, "2 or more", class: "govuk-label govuk-radios__label" %>
              </div>
            </div>

          </fieldset>
        <% end %>
        <%= form.submit "Continue", class: "govuk-button" %>
      <% end %>
  </div>
</div>
