<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>

          <h1 class="govuk-form-wrapper">
            <%= fields.label :student_loan_repayment_amount, t("tslr.questions.student_loan_amount", claim_school_name: current_claim.claim_school_name), class: "govuk-label govuk-label--xl" %>
          </h1>

          <span class="govuk-hint">If you do not know the amount, check your annual student loan statement, your P60 or contact the <a href="https://www.slc.co.uk/students-and-customers/contact-information-for-customers/loan-repayment-enquiries.aspx" class="govuk-link">student loans company</a>.</span>

          <%= errors_tag current_claim, :student_loan_repayment_amount %>

          <div class="govuk-currency-input">
            <span class="govuk-currency-input__unit">&pound;</span>
            <%= fields.number_field :student_loan_repayment_amount, class: css_classes_for_input(current_claim, :student_loan_repayment_amount, "govuk-currency-input__input govuk-input--width-5"), step: 'any', min: 0, max: 99999 %>
          </div>
        <% end %>
      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
