<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>
    <%= form_for current_claim, url: claim_path do |form| %>
      <%= form.hidden_field :mostly_teaching_eligible_subjects %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">Did you teach eligible subjects for more than 50% of your teaching time between 6 April XXXX and 5 April XXXX?</h1>
          </legend>
          <p class="govuk-body">
            Eligible subjects are:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>biology</li>
            <li>chemistry</li>
            <li>physics</li>
            <li>computer science</li>
            <li>languages (not including English)</li>
          </ul>
          <p class="govuk-body">
            <span class="govuk-hint">
              If you've been off on long-term leave or sick, include the time you were scheduled to teach these subjects.
            </span>
          </p>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= form.radio_button(:mostly_teaching_eligible_subjects, true, class: "govuk-radios__input") %>
              <%= form.label :mostly_teaching_eligible_subjects_true, "Yes", class: "govuk-label govuk-radios__label" %>
            </div>
            <div class="govuk-radios__item">
              <%= form.radio_button(:mostly_teaching_eligible_subjects, false, class: "govuk-radios__input") %>
              <%= form.label :mostly_teaching_eligible_subjects_false, "No", class: "govuk-label govuk-radios__label" %>
            </div>
          </div>
        </fieldset>
      </div>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
