<% content_for(:page_title, page_title(t("questions.teacher_reference_number"), journey: current_journey_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_journey_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <h1 class="govuk-label-wrapper">
          <%= form.label :teacher_reference_number, t("questions.teacher_reference_number"), class: "govuk-label #{label_css_class_for_journey(journey)}" %>
        </h1>

        <div class="govuk-hint" id="teacher_reference_number-hint">
          You can get this from your payslip, teacher pension statement or teacher training records.
        </div>

        <div class="govuk-form-group">
          <%= errors_tag current_claim, :teacher_reference_number %>
          <%= form.text_field :teacher_reference_number,
                              spellcheck: "false",
                              autocomplete: "off",
                              class: css_classes_for_input(current_claim, :teacher_reference_number, 'govuk-input--width-10'),
                              "aria-describedby" => "teacher_reference_number-hint" %>
        </div>
      <% end %>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help to find a lost TRN
              </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            Use the online service to
            <%= link_to "find a lost TRN (opens in new tab)", "https://find-a-lost-trn.education.gov.uk/start", class: "govuk-link", target: "_blank" %>
            if you are unable to find it on your payslip, teacher pension statement or teacher training records.
          </p>
        </div>
      </details>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
