<% content_for(
  :page_title,
  page_title(
    @form.t("questions.teacher_reference_number"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?)
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: claim_path(current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :teacher_reference_number,
        width: 10,
        spellcheck: "false",
        autocomplete: "off",
        inputmode: "numeric",
        label: {
          text: @form.t("questions.teacher_reference_number"),
          tag: "h1",
          size: "l"
        },
        hint: { text: "You can get this from your payslip, teacher pension statement or teacher training records." } %>

      <%= govuk_details(summary_text: "Help to find a lost TRN") do %>
        <p>
          Use the online service to
          <%= govuk_link_to "find a lost TRN (opens in new tab)", "https://find-a-lost-trn.education.gov.uk/start", target: "_blank" %>
          if you are unable to find it on your payslip, teacher pension statement or teacher training records.
        </p>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
