<%= page_title("We have verified your identity") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      We have verified your identity
    </h1>

    <p class="govuk-body">
      This is your <%= verified_fields(current_claim) %> from your digital identity:
    </p>

    <%= render partial: "check_your_answers_section", locals: {answers: verify_answers(current_claim), heading: nil} %>

    <%= button_to "Continue", claim_path(current_policy_routing_name), method: :put, class: "govuk-button" %>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Some of this information is wrong
        </span>
      </summary>
      <div class="govuk-details__text">
        If you find that some of this information is incorrect please contact support at
        <%= mail_to support_email_address(current_policy_routing_name), support_email_address(current_policy_routing_name), class: "govuk-link" %>
        as this could affect your application.
      </div>
    </details>
  </div>
</div>
