<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_reminder) if current_reminder.errors.any? %>

    <span class="govuk-caption-xl">Email verification</span>

    <%= form_for current_reminder, url: reminder_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_reminder do %>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="claim_one_time_password"><%= t("one_time_password.title") %></label>
        </h1>

        <div id="one-time-password-hint" class="govuk-hint">
          <%= t("one_time_password.hint1_html", email_or_mobile_message: "email", email_or_mobile_value: current_reminder.email_address) %> <span><%= t("one_time_password.hint1_suffix") %></span>
          <br><br>
          <%= t("one_time_password.validity_duration", duration_valid: one_time_password_validity_duration, email_or_mobile_message: "email") %>
        </div>

        <%= errors_tag current_reminder, :one_time_password %>
        <%= form.text_field :one_time_password,
                            autocomplete: "off",
                            class: css_classes_for_input(current_reminder, :one_time_password, 'govuk-input--width-10'),
                            "aria-describedby" => "one-time-password-hint" %>
      <% end %>

      <div class="govuk-!-margin-bottom-6">
        <%= link_to "Not received an email", reminder_path(current_policy_routing_name), class: "govuk-link govuk-link--no-visited-state" %>
      </div>

      <div class="govuk-button-group">
        <%= form.submit "Confirm", class: "govuk-button" %>
        <%= link_to "Use a different email address", new_reminder_path, class: "govuk-button govuk-button--secondary", role: "button", data: {module: "govuk-button"} %>
      </div>
    <% end %>
  </div>
</div>
