<% content_for(:page_title, page_title(t("questions.personal_details"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: reminder_path(current_journey_routing_name),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t("questions.personal_details") %>
      </h1>

      <%= f.govuk_text_field :reminder_full_name,
        label: {
          text: t("targeted_retention_incentive_payments.reminders.full_name"),
          size: "l"
        },
        spellcheck: "false",
        autocomplete: "name" %>

      <%= f.govuk_text_field :reminder_email_address,
        label: {
          text: t("questions.email_address"),
          size: "l"
        },
        spellcheck: "false",
        autocomplete: "email",
        hint: -> do %>
          <p>
            Tell us the email you want us to send reminders to.
            We recommend you use a non-work email address in case your circumstances change.
          </p>

          <p>
            To verify your email address we will send you an email with a 6-digit passcode.
            You can enter the passcode on the next screen.
          </p>
      <% end %>

      <%= govuk_details(summary_text: "Get help with access codes") do %>
        <p class="govuk-body">
          If you have any issues with the passcode, email us at:
          <%= govuk_mail_to support_email_address, support_email_address -%>.
        </p>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
