<%= form_with model: @form, url: claim_path(current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_collection_radio_buttons :selected_claim_policy, @form.radio_options, :id, :name, :description,
    legend: {
      text: "Which additional payment do you want to choose?",
      tag: "h1",
      size: "l"
    },
    hint: {
      text: "You can only make one claim per academic year. Your choice does not impact your ability to apply in future years."
    } %>

  <%= govuk_details(summary_text: "Help with choosing an additional payment") do %>
    For the majority of teachers, the larger payment is the most beneficial option. In rare cases, some may prefer to choose the smaller option, such as if you are close to the threshold for the higher rate of tax.
  <% end %>

  <%= f.govuk_submit "Apply now" %>
<% end %>

<p class="govuk-body">
  For more information about why you are eligible for different additional payments, read about the
  <%= govuk_link_to "early-career payments", Policies::EarlyCareerPayments.eligibility_page_url, no_visited_state: true, new_tab: true %>
  and
  <%= govuk_link_to I18n.t("levelling_up_premium_payments.policy_short_name").downcase.pluralize, Policies::LevellingUpPremiumPayments.eligibility_page_url, no_visited_state: true, new_tab: true %>.
</p>
