<% content_for(:page_title, page_title("You could be eligible for an early-career payment next year")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You could be eligible for an early-career payment next year</h1>

    <h2 class="govuk-heading-m">You are not eligible this year</h2>

    <% if journey_session.answers.induction_not_completed? %>
      <p class="govuk-body">
        You are not eligible for the
        <%= link_to "early-career payment (opens in new tab)", "https://www.gov.uk/guidance/early-career-payments-guidance-for-teachers-and-schools", class: "govuk-link govuk-link--no-visited-state", target: "_blank" %>
        because you have not completed your induction.
      </p>
    <% else %>
      <% if journey_session.answers.undergraduate_itt? %>
        <p class="govuk-body">
          You are not eligible for the
          <%= link_to "early-career payment (opens in new tab)", "https://www.gov.uk/guidance/early-career-payments-guidance-for-teachers-and-schools", class: "govuk-link govuk-link--no-visited-state", target: "_blank" %>
          because you completed your undergraduate initial teacher training in the <%= journey_session.answers.itt_academic_year.to_s(:long) -%> academic year.
        </p>
      <% end %>

      <% if journey_session.answers.postgraduate_itt? %>
        <p class="govuk-body">
          You are not eligible for the
          <%= link_to "early-career payment (opens in new tab)", "https://www.gov.uk/guidance/early-career-payments-guidance-for-teachers-and-schools", class: "govuk-link govuk-link--no-visited-state", target: "_blank" %>
          because you started your postgraduate initial teacher training in the <%= journey_session.answers.itt_academic_year.to_s(:long) -%> academic year.
        </p>
      <% end %>

      <% if journey_session.answers.assessment_only? || journey_session.answers.overseas_recognition? %>
        <p class="govuk-body">
          You are not eligible for the
          <%= link_to "early-career payment (opens in new tab)", "https://www.gov.uk/guidance/early-career-payments-guidance-for-teachers-and-schools", class: "govuk-link govuk-link--no-visited-state", target: "_blank" %>
          because you earned your qualified teacher status in the <%= journey_session.answers.itt_academic_year.to_s(:long) -%> academic year.
        </p>
      <% end %>
    <% end %>

    <p class="govuk-body">
      You are not eligible for the
      <%= link_to "#{I18n.t("targeted_retention_incentive_payments.policy_short_name").downcase} (opens in new tab)", "https://www.gov.uk/guidance/levelling-up-premium-payments-for-teachers", class: "govuk-link govuk-link--no-visited-state", target: "_blank" %>
      because the school you teach in is not eligible. <%= I18n.t("targeted_retention_incentive_payments.policy_short_name").capitalize.pluralize %> are offered in schools identified as having a higher need for teachers.
    </p>

    <h2 class="govuk-heading-m">You may be eligible next year</h2>

    <p class="govuk-body">
      <% if journey_session.answers.induction_not_completed? %>
        If you have completed your induction,
      <% else %>
        So long as your circumstances stay the same,
      <% end %>
      you could claim for an early-career payment in the <%= (journey_session.answers.academic_year + 1).to_s(:long)  -%> academic year.
    </p>

    <h3 class="govuk-heading-s">Set a reminder to apply next year</h3>

    <p class="govuk-body">
      Receive a reminder email so you know when to apply. We cannot issue payments unless you apply.
    </p>

    <%= link_to "Set reminder", reminder_path(journey: journey::ROUTING_NAME, slug: "personal-details"), class: "govuk-button", role: :button, data: { module: "govuk-button"} %>
  </div>
</div>
