<% content_for(:page_title, page_title(t("additional_payments.forms.eligible_degree_subject.questions.eligible_degree_subject"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: @form, errored_field_id_overrides: { "eligible_degree_subject": "claim_eligible_degree_subject_true" }) if @form.errors.any? %>
    <%= form_for @form, url: claim_path(current_journey_routing_name) do |f| %>
      <%= form_group_tag @form do %>

        <%= f.hidden_field :eligible_degree_subject %>

        <fieldset class="govuk-fieldset" aria-describedby="eligible_degree_subject-hint" role="group">

          <legend class="govuk-fieldset__legend <%= fieldset_legend_css_class_for_journey(journey) %>">
            <h1 class="govuk-fieldset__heading">
              <%= t("additional_payments.forms.eligible_degree_subject.questions.eligible_degree_subject") %>
            </h1>
          </legend>

          <div class="govuk-hint" id="has_uk_maths_or_physics_degree-hint">
            This can be an undergraduate or postgraduate degree in
            <%= Policies::TargetedRetentionIncentivePayments.fixed_subject_symbols.to_sentence(last_word_connector: ' or ') %>.
          </div>

          <%= errors_tag f.object, :eligible_degree_subject %>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <%= f.radio_button(:eligible_degree_subject, true, class: "govuk-radios__input") %>
              <%= f.label :eligible_degree_subject_true, "Yes", class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button(:eligible_degree_subject, false, class: "govuk-radios__input") %>
              <%= f.label :eligible_degree_subject_false, "No", class: "govuk-label govuk-radios__label" %>
            </div>

          </div>

        </fieldset>

      <% end %>

      <%= f.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
