<% content_for(
  :page_title,
  page_title(
    eligible_itt_subject_translation(current_claim),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<% subject_symbols = subject_symbols(current_claim) %>

<% if subject_symbols.present? %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @form.errors.any? %>
      <%= render(
        "shared/error_summary",
        instance: @form,
        errored_field_id_overrides: {
          "eligible_itt_subject": "claim_eligible_itt_subject_#{subject_symbols.first}"
        }
      ) %>
    <% end %>

    <%= form_for @form, url: claim_path(current_journey_routing_name) do |f| %>
      <%= form_group_tag f.object.claim do %>

        <%= f.hidden_field :eligible_itt_subject %>

        <fieldset class="govuk-fieldset" aria-describedby="eligible_itt_subject-hint" role="group">

          <legend class="govuk-fieldset__legend <%= fieldset_legend_css_class_for_journey(f.object.journey) %>">
            <h1 class="govuk-fieldset__heading">
              <%= eligible_itt_subject_translation(f.object.claim) %>
            </h1>
          </legend>

          <% if f.object.claim.eligibility.nqt_in_academic_year_after_itt && subject_symbols.many? %>
            <div class="govuk-hint">
              <%= t("additional_payments.forms.eligible_itt_subject.hints.subject") %>
            </div>
          <% end %>

          <%= errors_tag f.object, :eligible_itt_subject %>

          <div class="govuk-radios">
            <% if subject_symbols.many? %>
              <% subject_symbols.each do |option| %>
                <div class="govuk-radios__item">
                  <%= f.radio_button(:eligible_itt_subject, option, class: "govuk-radios__input") %>
                  <%= f.label(
                    :eligible_itt_subject,
                    t("additional_payments.forms.eligible_itt_subject.answers.#{option}"),
                    value: option,
                    class: "govuk-label govuk-radios__label"
                  ) %>
                </div>
              <% end %>

              <div class="govuk-radios__divider">or</div>

              <div class="govuk-radios__item">
                <%= f.radio_button(:eligible_itt_subject, :none_of_the_above, class: "govuk-radios__input") %>
                <%= f.label(
                  :eligible_itt_subject,
                  t("additional_payments.forms.eligible_itt_subject.answers.none_of_the_above"),
                  value: :none_of_the_above,
                  class: "govuk-label govuk-radios__label"
                ) %>
              </div>
            <% else %>
              <% subject_symbol = subject_symbols.first %>
              <div class="govuk-radios__item">
                <%= f.radio_button(:eligible_itt_subject, subject_symbol, class: "govuk-radios__input") %>
                <%= f.label(
                  :eligible_itt_subject,
                  "Yes",
                  value: subject_symbol,
                  class: "govuk-label govuk-radios__label"
                ) %>
              </div>
              <div class="govuk-radios__item">
                <%= f.radio_button(:eligible_itt_subject, :none_of_the_above, class: "govuk-radios__input") %>
                <%= f.label(
                  :eligible_itt_subject,
                  "No",
                  value: :none_of_the_above,
                  class: "govuk-label govuk-radios__label",
                ) %>
              </div>
            <% end %>
          </div>
        </fieldset>

        <% if (subject_symbols & [:chemistry, :physics]).any? %>
          <br/>
          <br/>

          <details class="govuk-details" data-module="govuk-details">
            <% if current_claim.eligibility.nqt_in_academic_year_after_itt? %>
              <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you qualified with science
              </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">
                  You will need to have specialised in either chemistry or physics to be eligible. If you specialised in biology then you will not be eligible. If you’re unsure, you can get this from the certificate you received when you qualified as a teacher.
                </p>
              </div>
            <% else %>
              <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you qualify with science
              </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">
                  You will need to specialise in either chemistry or physics to be eligible for an additional payment. If you specialise in biology then you will not be eligible.
                </p>
              </div>
            <% end %>
          </details>
        <% end %>
      <% end %>

      <%= f.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
<% end %>
