<% content_for(:page_title, page_title(t("additional_payments.forms.employed_directly.questions.employed_directly"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: @form, errored_field_id_overrides: { "employed_directly": "claim_employed_directly_true" }) if @form.errors.any? %>
    
    <%= form_for @form, url: claim_path(current_journey_routing_name) do |form| %>
      <%= form_group_tag @form do %>
        <%= form.hidden_field :employed_directly %>

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend <%= fieldset_legend_css_class_for_journey(journey) %>">
            <h1 class="govuk-fieldset__heading">
              <%= t("additional_payments.forms.employed_directly.questions.employed_directly") %>
            </h1>
          </legend>

          <%= errors_tag @form, :employed_directly %>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <%= form.radio_button(:employed_directly, true, class: "govuk-radios__input") %>
              <%= form.label :employed_directly_true, "Yes, I'm employed by my school", class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= form.radio_button(:employed_directly, false, class: "govuk-radios__input") %>
              <%= form.label :employed_directly_false, "No, I'm employed by a private agency", class: "govuk-label govuk-radios__label" %>
            </div>

          </div>

        </fieldset>

      <% end %>

      <%= form.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
