<% content_for(:page_title, page_title(t("additional_payments.questions.itt_academic_year.qualification.#{@form.qualification}"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: @form, errored_field_id_overrides: { "eligibility.itt_academic_year": "claim_eligibility_attributes_itt_academic_year_20182019" }) if @form.errors.any? %>
    <%= form_for @form, url: claim_path(current_journey_routing_name) do |f| %>
      <%= form_group_tag @form do %>

        <%= f.hidden_field :itt_academic_year %>

        <fieldset class="govuk-fieldset" role="group">

          <legend class="govuk-fieldset__legend <%= fieldset_legend_css_class_for_journey(journey) %>">
            <h1 class="govuk-fieldset__heading">
              <%= t("additional_payments.questions.itt_academic_year.qualification.#{f.object.qualification}") %>
            </h1>
          </legend>

          <%= errors_tag f.object, :itt_academic_year %>

          <% if f.object.qualification_is?(:undergraduate_itt, :postgraduate_itt) %>
            <div id="disciplinary_action-hint" class="govuk-hint">
              <% if f.object.qualification_is?(:undergraduate_itt) %>
                If you deferred or did a part time undergraduate ITT, select the year you completed.
              <% else %>
                If you deferred or did a part time postgraduate ITT, select the year you started.
              <% end %>
            </div>
          <% end %>

          <div class="govuk-radios">
            <% f.object.selectable_itt_years_for_claim_year.each do |year| %>
              <div class="govuk-radios__item">
                <%= f.radio_button(:itt_academic_year, year, class: "govuk-radios__input") %>
                <%= f.label "itt_academic_year_#{year.start_year}#{year.end_year}", year.to_s(:long), class: "govuk-label govuk-radios__label" %>
              </div>
            <% end %>

            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <%= f.radio_button(:itt_academic_year, AcademicYear.new, class: "govuk-radios__input") %>
              <%= f.label "itt_academic_year_none", "None of the above", class: "govuk-label govuk-radios__label" %>
            </div>
          </div>
        </fieldset>

      <% end %>
      <%= f.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
