<% content_for(:page_title, page_title(t("additional_payments.questions.nqt_in_academic_year_after_itt.heading"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: claim_path(current_journey_routing_name) do |f| %>
      <% if f.object.errors.any? %>
        <%= render(
          "shared/error_summary",
          instance: f.object,
          errored_field_id_overrides: {
            "nqt_in_academic_year_after_itt": "claim_nqt_in_academic_year_after_itt_true"
          }
        ) %>
      <% end %>

      <%= form_group_tag f.object do %>

        <%= f.hidden_field :nqt_in_academic_year_after_itt %>

        <fieldset class="govuk-fieldset" aria-describedby="nqt_in_academic_year_after_itt-hint" role="group">

          <legend class="govuk-fieldset__legend <%= fieldset_legend_css_class_for_journey(f.object.journey) %>">
            <h1 class="govuk-fieldset__heading">
              <%= t("additional_payments.questions.nqt_in_academic_year_after_itt.heading") %>
            </h1>
          </legend>

          <div class="govuk-hint" id="nqt_in_academic_year_after_itt-hint">
            <%= t("additional_payments.questions.nqt_in_academic_year_after_itt.hint") %>
          </div>

          <%= errors_tag f.object, :nqt_in_academic_year_after_itt %>

          <div class="govuk-radios govuk-radios">

            <div class="govuk-radios__item">
              <%= f.radio_button(:nqt_in_academic_year_after_itt, true, class: "govuk-radios__input") %>
              <%= f.label :nqt_in_academic_year_after_itt_true, "Yes", class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button(:nqt_in_academic_year_after_itt, false, class: "govuk-radios__input") %>
              <%= f.label :nqt_in_academic_year_after_itt_false, "No, I’m a trainee teacher", class: "govuk-label govuk-radios__label" %>
            </div>

          </div>

        </fieldset>

      <% end %>

      <%= f.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>

  </div>
</div>
