<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @form.errors.any? %>
      <%= render(
        "shared/error_summary",
        instance: @form,
        errored_field_id_overrides: {
          qualifications_details_check: "claim_qualifications_details_check_true"
        }
      ) %>
    <% end %>
  </div>
</div>

<div class="govuk-body" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t("questions.check_and_confirm_qualification_details") %></h1>

      <div class="personal-details-section">
        <h2 class="govuk-heading-m"><%= t("questions.qualification_details") %></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <% if @form.claim.dqt_teacher_record.route_into_teaching %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"><%= t("questions.teacher_route") %></dt>
              <dd class="govuk-summary-list__value">
                <%= t("#{current_claim.policy.locale_key}.forms.qualification.answers.#{current_claim.dqt_teacher_record.route_into_teaching}") %>
              </dd>
            </div>
          <% end %>

          <% if @form.claim.dqt_teacher_record.academic_date %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"><%= t("questions.academic_year.#{@form.claim.dqt_teacher_record.route_into_teaching}") %></dt>
              <dd class="govuk-summary-list__value">
                <%= AcademicYear.for(@form.claim.dqt_teacher_record.academic_date) %>
              </dd>
            </div>
          <% end %>

          <% unless @form.claim.dqt_teacher_record.itt_subjects.empty? %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"><%= t("questions.itt_subject.#{@form.claim.dqt_teacher_record.route_into_teaching}") %></dt>
              <dd class="govuk-summary-list__value">
                <%= dqt_subjects_playback(@form.claim) %>
              </dd>
            </div>
          <% end %>

          <% if @form.claim.claims.any? { |c| c.dqt_teacher_record.eligible_itt_subject_for_claim == :none_of_the_above } && current_claim.dqt_teacher_record.degree_names.any? %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"><%= t("questions.degree_subject") %></dt>
              <dd class="govuk-summary-list__value">
                <%= dqt_degree_subjects_playback(@form.claim) %>
              </dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>

  <%= form_for @form, url: claim_path(current_journey_routing_name) do |f| %>
    <%= f.hidden_field :qualifications_details_check %>
    <%= form_group_tag f.object do %>

    <div class="govuk-radios">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><%= t("questions.details_correct") %></legend>

        <%= errors_tag f.object.claim, :qualifications_details_check %>

        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <%= f.radio_button(:qualifications_details_check, true, class: "govuk-radios__input") %>
            <%= f.label(
              :qualifications_details_check,
              t("questions.radio_yes"),
              value: true,
              class: "govuk-label govuk-radios__label"
            ) %>
          </div>
          <div class="govuk-radios__item">
          <%= f.radio_button(:qualifications_details_check, false, class: "govuk-radios__input") %>
          <%= f.label(
            :qualifications_details_check,
            t("questions.radio_no"),
            value: false,
            class: "govuk-label govuk-radios__label"
          ) %>
          </div>
        </div>
      </fieldset>
    </div>

  <% end %>

  <p class="govuk-body"><%= t("questions.select_yes_confirm") %></p>

  <div class="govuk-form-group">
    <%= f.submit t("questions.continue"), class: "govuk-button", data: {module: "govuk-button"} %>
  </div>
<% end %>
