<% content_for(
  :page_title,
  page_title(
    t(
      "additional_payments.forms.teaching_subject_now.questions.teaching_subject_now",
      eligible_itt_subject: @form.eligible_itt_subject
    )
  ),
  journey: current_journey_routing_name,
  show_error: @form.errors.any?
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @form.errors.any? %>
      <%= render(
        "shared/error_summary",
        instance: @form,
        errored_field_id_overrides: {
          "teaching_subject_now": "claim_teaching_subject_now_true"
        }
      ) %>
    <% end %>

    <%= form_for @form, url: claim_path(current_journey_routing_name) do |f| %>
      <%= form_group_tag f.object do %>
        <%= f.hidden_field :teaching_subject_now %>

        <fieldset class="govuk-fieldset" aria-describedby="teaching_subject_now-hint" role="group">

          <legend class="govuk-fieldset__legend <%= fieldset_legend_css_class_for_journey(f.object.journey) %>">
            <h1 class="govuk-fieldset__heading">
              <%= t("additional_payments.forms.teaching_subject_now.questions.teaching_subject_now") %>
            </h1>
          </legend>

          <div class="govuk-hint" id="teaching_subject_now-hint">
           At least 50% of your contracted hours allocated to teaching must be spent
           teaching <%= subjects_to_sentence_for_hint_text(f.object.shim.answers) %>.
          </div>

          <%= errors_tag f.object, :teaching_subject_now %>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <%= f.radio_button(:teaching_subject_now, true, class: "govuk-radios__input") %>
              <%= f.label :teaching_subject_now_true, "Yes", class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button(:teaching_subject_now, false, class: "govuk-radios__input") %>
              <%= f.label :teaching_subject_now_false, "No", class: "govuk-label govuk-radios__label" %>
            </div>

          </div>

        </fieldset>


        <% if f.object.teaching_physics_or_chemistry? %>
          <br/>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you teach all sciences
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">You will need to spend the majority of your time teaching chemistry and
              or physics to be eligible. If you teach biology most of the time you will not
              be eligible.
              </p>
            </div>
          </details>
        <% end %>
      <% end %>

      <%= f.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
