<% content_for(:page_title) { page_title("Claim #{@claim.reference} qualification check for #{policy_service_name(@claim.policy.routing_name)}") } %>

<%= link_to "Back", admin_claim_checks_path(claim_id: @claim.id), class: "govuk-back-link" %>

<div class="govuk-grid-row">

  <%= render "claim_summary", claim: @claim %>

  <div class="govuk-grid-column-two-thirds">
    <%= render "admin/claims/answer_section",
          heading: "Qualifications",
          description: I18n.t("#{@claim.policy.to_s.underscore}.admin.qualification_check_description"),
          answers: @claim_checks.qualifications %>
  </div>

  <div class="govuk-grid-column-full">
    <% if @check.present? %>
      <%= render "check_outcome", check: @check %>
    <% else %>
      <%= button_to "Complete qualifications check and continue", admin_claim_checks_path(claim_id: @claim.id, check: :qualifications), class: "govuk-button" %>
    <% end %>
  </div>
</div>
