<% content_for(:page_title) { page_title("Tasks") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: claims_backlink_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= @presenter.policy.short_name %>
    </h1>

    <section id="policy-buttons">
      <% Policies.all.select(&:active?).each do |policy| %>
        <%= govuk_button_link_to(
          policy.short_name,
          admin_task_lists_path(policy_name: policy.locale_key),
          secondary: true,
        ) %>
      <% end %>
    </section>

    <section id="toggle-filter-controls">
      <% if @presenter.show_filter_controls? %>
        <%= govuk_button_link_to(
          "Hide filters",
          admin_task_lists_path(
            @presenter.applied_params.merge(show_filter_controls: false)
          ),
          secondary: true,
        ) %>
      <% else %>
        <%= govuk_button_link_to(
          "Show filters",
          admin_task_lists_path(
            @presenter.applied_params.merge(show_filter_controls: true)
          ),
          secondary: true,
        ) %>
      <% end %>
    </section>

    <section id="csv-export">
      <%= govuk_button_link_to(
        "Export CSV",
        admin_task_lists_path(@presenter.applied_params.merge(format: :csv)),
        secondary: true,
      ) %>
    </section>

    <section id="filter-controls" class="<%= class_names("govuk-visually-hidden": !@presenter.show_filter_controls?) %>">
      <%= form_with(
        url: admin_task_lists_path,
        method: :get,
        builder: GOVUKDesignSystemFormBuilder::FormBuilder
      ) do |f| %>
        <%= f.hidden_field :policy_name, value: @presenter.policy.locale_key %>
        <%= f.hidden_field :show_filter_controls, value: @presenter.show_filter_controls? %>

        <% @presenter.policy_tasks.each_slice(3) do |task_keys| %>
          <div class="govuk-grid-row">
            <% task_keys.each do |task_key| %>
              <div class="govuk-grid-column-one-third">
                <%= f.govuk_check_boxes_fieldset(
                  "statuses[#{task_key}]",
                  legend: {
                    text: I18n.t("admin.tasks.#{task_key}.name"),
                    size: "s",
                  }
                ) do %>
                  <% @presenter.task_statuses(task_key).each do |status| %>
                    <%= f.govuk_check_box(
                      "statuses[#{task_key}]",
                      status,
                      label: { text: status.humanize },
                      checked: @presenter.selected_statuses_for(task_key).include?(status),
                    ) %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="govuk-button-group">
          <%= govuk_button_link_to(
            "Check all",
            admin_task_lists_path(
              @presenter.applied_params.merge(statuses: @presenter.all_statuses)
            ),
            secondary: true,
          ) %>
          <%= govuk_button_link_to(
            "Uncheck all",
            admin_task_lists_path(@presenter.applied_params.merge(statuses: {}, clear_statuses: true)),
            secondary: true,
          ) %>
        </div>

        <%= f.govuk_submit("Apply") %>
      <% end %>
    </section>

    <div class="overflow-x-auto">
      <%= govuk_table do |table| %>
        <% table.with_head do |head| %>
          <% head.with_row do |row| %>
            <% row.with_cell(text: "Reference") %>
            <% @presenter.task_names.each do |task_name| %>
              <% row.with_cell(text: task_name) %>
            <% end %>
          <% end %>
        <% end %>

        <% table.with_body do |body| %>
          <% @presenter.claims.each do |claim| %>
            <% body.with_row do |row| %>
              <% row.with_cell(
                text: govuk_link_to(claim.reference, admin_claim_path(claim.id))
              ) %>
              <% claim.tasks.each do |task| %>
                <% row.with_cell(
                  text: task_status_content_tag(
                    status_colour: task.colour,
                    status: task.display_status,
                  )
                ) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
