<div class="govuk-grid-column-full">
  <span class="govuk-caption-xl"><%= claim.policy.short_name %> (<%= claim.academic_year %>)</span>
  <h1 class="govuk-heading-xl govuk-heading--navigation">
    <%= heading %>
    <span class="govuk-body-m">
      <%= link_to "View full claim", admin_claim_path(claim), class: "govuk-link" %>
      <%= link_to "Amend claim", new_admin_claim_amendment_url(claim), class: "govuk-link" if claim.amendable? %>
    </span>
  </h1>
</div>

<div class="govuk-grid-column-one-half">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <abbr title="Teacher Reference Number">TRN</abbr>
      </dt>

      <dd class="govuk-summary-list__value">
        <%= claim.teacher_reference_number %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Full name
      </dt>

      <dd class="govuk-summary-list__value">
        <%= claim.personal_data_removed? ? personal_data_removed_text : claim.full_name %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>

      <dd class="govuk-summary-list__value">
        <%= claim.personal_data_removed? ? personal_data_removed_text : l(claim.date_of_birth, format: :day_month_year) %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Submitted
      </dt>

      <dd class="govuk-summary-list__value">
        <%= l(claim.submitted_at) %>
      </dd>
    </div>
  </dl>
</div>
<div class="govuk-grid-column-one-half">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        NI number
      </dt>

      <dd class="govuk-summary-list__value">
        <%= claim.personal_data_removed? ? personal_data_removed_text : claim.national_insurance_number %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Reference
      </dt>

      <dd class="govuk-summary-list__value">
        <%= claim.reference %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email address
      </dt>

      <dd class="govuk-summary-list__value">
        <%= claim.email_address %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        SLA
      </dt>

      <dd class="govuk-summary-list__value">
        <%= l(claim.decision_deadline_date) %>
        <%= decision_deadline_warning(claim) %>
      </dd>
    </div>
  </dl>
</div>
