<%= form_with url: admin_claim_tasks_path(claim, name: task_name), scope: :task do |f| %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l ">
        <h3 class="govuk-heading-l">
          <%= I18n.t("#{claim.policy.to_s.underscore}.admin.task_questions.#{task_name}", local_assigns[:question_variables]) %>
        </h3>
      </legend>

      <% if local_assigns.has_key?(:explanation) %>
        <p class="govuk-body">
          <%= explanation %>
        </p>
      <% end %>

      <%= f.hidden_field :passed %>

      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <%= f.radio_button(:passed, true, class: "govuk-radios__input") %>
          <%= f.label "passed_true", "Yes", class: "govuk-label govuk-radios__label" %>
        </div>

        <div class="govuk-radios__item">
          <%= f.radio_button(:passed, false, class: "govuk-radios__input") %>
          <%= f.label "passed_false", "No", class: "govuk-label govuk-radios__label" %>
        </div>
      </div>
    </fieldset>
    <%= f.submit "Save and continue", class: "govuk-button", data: {module: "govuk-button"} %>
  </div>
<% end %>
