<div class="govuk-inset-text">
  <p class="govuk-body">
    <%= task_status_tag(task.claim, task.name) %>
  </p>
  <p class="govuk-body">
    <% if task.manual %>
      This task was performed by <%= user_details(task.created_by, include_line_break: false) %> on <%= l(task.created_at) %>
    <% elsif task.created_by %>
      This task was performed by an automated check uploaded by <%= user_details(task.created_by, include_line_break: false) %> on <%= l(task.created_at) %>
    <% else  %>
      This task was performed by an automated check on <%= l(task.created_at) %>
    <% end %>
  </p>
</div>
