<h2 class="govuk-heading-m">Task notes</h2>

<%= render "admin/tasks/notes", notes: @notes %>

<%= form_with model: @task_note,
  url: admin_claim_task_notes_path(@claim, @form.task.name),
  scope: :note,
  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_text_area :body,
    rows: 5,
    label: {
      text: "Add a note to this task",
      tag: "h3",
      size: "s"
    },
    hint: {
      text: "Enter an update note here. Do not include any personal data about the claimant."
    }
  %>

  <%= f.govuk_submit "Add note" %>
<% end %>
