<%= render "admin/tasks/notes", notes: @notes, display_description: false %>

<div class="govuk-inset-text task-outcome">
  <p class="govuk-body">
    <%= task_status_tag(@form.claim, @form.task.name) %>
  </p>

  <p class="govuk-body">
    <% if @form.task.passed? %>
      This task was performed by GOV.UK One Login on <%= l(@form.task.claim.onelogin_idv_at) %>
    <% end %>

    <% if @form.task.failed? %>
      This claimant was unable to verify their identity with GOV.UK One Login on <%= l(@form.task.claim.onelogin_idv_at) %>
    <% end %>
  </p>

  <% if @form.task.failed? %>
    <p class="govuk-body">
      <% case @claim.policy %>
      <% when Policies::FurtherEducationPayments %>
        <%= govuk_link_to "Confirm the provider has verified the claimant’s employment", admin_claim_task_path(claim_id: @claim.id, name: "fe_alternative_verification") %>
      <% when Policies::EarlyYearsPayments %>
        <%= govuk_link_to "Confirm the provider has verified the claimant’s employment", admin_claim_task_path(claim_id: @claim.id, name: "ey_alternative_verification") %>
      <% end %>
    </p>
  <% end %>
</div>
