<%= render "admin/tasks/notes", notes: @notes, display_description: false %>

<%= govuk_summary_list(card: {title: "Task answers"}) do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key { "Has the claimant had any breaks in employment?" } %>
    <% row.with_value { display_boolean(@form.task.data["employment_breaks"]) } %>
  <% end %>

  <% if @form.task.data["employment_breaks"] %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Were all the breaks taken for statutory reasons?" } %>
      <% row.with_value { display_boolean(@form.task.data["statutory"]) } %>
    <% end %>
  <% end %>
<% end %>

<div class="govuk-inset-text task-outcome">
  <p class="govuk-body">
    <%= task_status_tag(@form.claim, @form.task.name) %>
  </p>

  <p class="govuk-body">
      This task was performed by <%= user_details(@form.task.created_by, include_line_break: false) %> on <%= l(@form.task.updated_at) %>
  </p>
</div>
