<% content_for(:page_title) do %>
  <% page_title("Claim #{@claim.reference} alternative identity verification") %>
<% end %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<div class="govuk-grid-row">
  <%= render(
    "claim_summary_further_education_payments",
    claim: @claim,
    heading: "Alternative identity verification"
  ) %>

  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-xl"><%= @form.task.name.humanize %></h2>

    <% if @tasks_presenter.alternative_identity_verification.submitted? %>
      <%= render(
        partial: "alternative_identity_verification_submitted",
        locals: { claim: @claim }
      ) %>

      <% if @tasks_presenter.alternative_identity_verification.admin_check_required? %>
        <%= render(
          "form",
          task_name: "alternative_identity_verification",
          claim: @claim
        ) %>
      <% else %>
        <div class="govuk-inset-text task-outcome">
          <p class="govuk-body">
            <%= task_status_tag(@form.task.claim, @form.task.name) %>
          </p>
          <p class="govuk-body">
            <%# the alternative_identity_verification claim verifier sets the
            claim_verifier_match field to "all" if the provider has passed the
            task %>
            <% if @form.task.claim_verifier_match_all? %>
              This task was performed by the provider
              (<%= user_details(@form.task.created_by, include_line_break: false) %>)
              on <%= l(@form.task.updated_at) %>
            <% else %>
              This task was performed by
              <%= user_details(@form.task.created_by, include_line_break: false) %>
              on <%= l(@form.task.updated_at) %>
            <% end %>
          </p>
        </div>
      <% end %>

    <% else %>
      <%= render "provider_verification_unsubmitted" %>
    <% end %>

    <%= render "task_notes_section" %>

    <%= render(
      partial: "admin/task_pagination",
      locals: { task_pagination: @task_pagination }
    ) %>
  </div>
</div>
