<% content_for(:page_title) { page_title("Claim #{@claim.reference} school workforce census check for #{@claim.policy.short_name}") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<%= render "shared/error_summary", instance: @task, errored_field_id_overrides: { "passed": "task_passed_true" } if @task.errors.any? %>

<div class="govuk-grid-row">

  <%= render claim_summary_view, claim: @claim, heading: "School workforce census subjects taught" %>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= @current_task_name.humanize %></h2>

    <%= render "admin/claims/answers", answers: @tasks_presenter.census_subjects_taught %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if !@task.passed.nil? %>
      <%= render "task_outcome", task: @task do %>
      <% end %>
    <% else %>
      <%= render "form", task_name: "census_subjects_taught", claim: @claim %>
    <% end %>

    <%= render partial: "admin/task_pagination", locals: { task_pagination: @task_pagination } %>
  </div>
</div>
