<% content_for(:page_title) { page_title("Claim #{@claim.reference} employment check for #{policy_service_name(@claim.policy.routing_name)}") } %>
<%= link_to "Back", admin_claim_tasks_path(claim_id: @claim.id), class: "govuk-back-link" %>

<div class="govuk-grid-row">

  <%= render "claim_summary", claim: @claim %>

  <div class="govuk-grid-column-two-thirds">
    <%= render "admin/claims/answer_section",
          heading: "Employment",
          description: I18n.t("#{@claim.policy.to_s.underscore}.admin.checks.employment.description"),
          answers: @tasks_presenter.employment %>
  </div>

  <div class="govuk-grid-column-full">
    <% if @task.present? %>
      <%= render "task_outcome", task: @task %>
    <% else %>
      <%= button_to "Complete employment check and continue", admin_claim_tasks_path(@claim, name: :employment), class: "govuk-button" %>
    <% end %>
  </div>
</div>
