<% content_for(:page_title) { page_title("Claim #{@claim.reference} employment check for #{policy_service_name(@claim.policy.routing_name)}") } %>
<%= link_to "Back", admin_claim_tasks_path(claim_id: @claim.id), class: "govuk-back-link" %>

<div class="govuk-grid-row">

  <%= render "claim_summary", claim: @claim, heading: "Employment" %>

  <div class="govuk-grid-column-two-thirds">
    <%= render "admin/claims/answers", answers: @tasks_presenter.employment %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @task.persisted? %>
      <%= render "task_outcome", task: @task %>
    <% else %>
      <%= render "form", task_name: "employment", claim: @claim %>
    <% end %>
  </div>
</div>
