<% content_for(:page_title) do %>
  <% page_title("Claim #{@claim.reference} alternative verification") %>
<% end %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<div class="govuk-grid-row">
  <%= render(
    "claim_summary_early_years_payments",
    claim: @claim,
    heading: "Alternative identity verification"
  ) %>
</div>

<%= form_with(
  model: @form,
  scope: :form,
  url: admin_claim_tasks_path(@claim),
  builder: GOVUKDesignSystemFormBuilder::FormBuilder
) do |f| %>

  <%= f.hidden_field :name, value: f.object.task.name %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-xl"><%= I18n.t(:name, scope: @form.translation) %></h2>

      <%= f.govuk_error_summary %>

      <section id="personal-details">
        <h3 class="govuk-heading-l">Personal Details</h3>

        <%= govuk_inset_text(text: @form.employed_by_nursery_text) %>

        <%= govuk_table(
          head: @form.personal_details_data_table_head,
          rows: @form.personal_details_data_table_rows,
          first_cell_is_header: true
        ) %>

        <div class="govuk-!-width-one-half">
          <% if f.object.task.completed? %>
            <p class="govuk-body">
              <span class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do the personal details provided by the claimant match the 
                details from the provider?
              </span>

              <%= I18n.t(f.object.personal_details_match, scope: :boolean) %>
            </p>
          <% else %>
            <%= f.govuk_collection_radio_buttons(
              :personal_details_match,
              f.object.personal_details_match_options,
              :id,
              :name,
              inline: true,
              legend: {
                text: "Do the personal details provided by the claimant match the details from the provider?",
                size: "s",
              }
            ) %>
          <% end %>
        </div>
      </section>

      <section id="bank-details">
        <h3 class="govuk-heading-l">Bank Account Details</h3>

        <div class="govuk-!-width-two-thirds">
          <%= govuk_inset_text(text: @form.bank_details_text) %>
        </div>

        <%= govuk_table(
          head: @form.bank_details_data_table_head,
          rows: @form.bank_details_data_table_rows,
          first_cell_is_header: true
        ) %>

        <div class="govuk-!-width-one-half">
          <% if f.object.task.completed? %>
            <p class="govuk-body">
              <span class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Has <%= f.object.claimant_name %> provided their own bank
                account details?
              </span>

              <%= I18n.t(f.object.bank_details_match, scope: :boolean) %>
            </p>
          <% else %>
            <%= f.govuk_collection_radio_buttons(
              :bank_details_match,
              f.object.bank_details_match_options,
              :id,
              :name,
              inline: true,
              legend: {
                text: "Has #{f.object.claimant_name} provided their own bank account details?",
                size: "s",
              }
            ) %>
          <% end %>
        </div>
      </section>

      <section id="task-outcome">
        <% if @form.task.completed? %>
          <div class="govuk-inset-text task-outcome">
            <p class="govuk-body">
              <%= task_status_tag(@form.task.claim, @form.task.name) %>
            </p>
            <p class="govuk-body">
              This task was performed by
              <%= user_details(@form.task.created_by, include_line_break: false) %>
              on <%= l(@form.task.updated_at) %>
            </p>
          </div>
        <% else %>
          <%= f.govuk_submit "Save and continue" %>
        <% end %>

        <% if @notes.present? %>
          <div class="hmcts-timeline">
            <% @notes.each do |note| %>
              <%= render "admin/notes/note", note: note, display_description: true %>
            <% end %>
          </div>
        <% end %>
      </section>

      <%= render(
        partial: "admin/task_pagination",
        locals: { task_pagination: @task_pagination }
      ) %>
    </div>
  </div>
<% end %>
