<% content_for(:page_title) { page_title("Claim #{@claim.reference} identity confirmation check for #{policy_service_name(@claim.policy.routing_name)}") } %>
<%= link_to "Back", admin_claim_tasks_path(claim_id: @claim.id), class: "govuk-back-link" %>
<%= render "shared/error_summary", instance: @task, errored_field_id_overrides: { "passed": "task_passed_true" } if @task.errors.any? %>

<div class="govuk-grid-row">

  <%= render "claim_summary", claim: @claim, heading: "Identity confirmation" %>

  <div class="govuk-grid-column-two-thirds">
    <%= render "admin/claims/answers", answers: @tasks_presenter.identity_confirmation %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @task.persisted? %>
      <%= render "task_outcome", task: @task do %>
      <% end %>
    <% else %>
      <%=
        render "form",
          task_name: "identity_confirmation",
          question_variables: { name: @claim.full_name },
          claim: @claim,
          explanation: "The claimant did not complete GOV.UK Verify. Refer to the #{link_to("Confirming a claimant’s identity playbook", confirming_identity_playbook_url, class: "govuk-link")}.".html_safe
      %>
    <% end %>
  </div>
</div>
