<% content_for(:page_title) { page_title("Claim #{@claim.reference} identity confirmation check for #{policy_service_name(@claim.policy.routing_name)}") } %>
<%= link_to "Back", admin_claim_tasks_path(claim_id: @claim.id), class: "govuk-back-link" %>
<%= render "shared/error_summary", instance: @task, errored_field_id_overrides: { "passed": "task_passed_true" } if @task.errors.any? %>

<div class="govuk-grid-row">

  <%= render "claim_summary", claim: @claim, heading: "Identity confirmation" %>

  <div class="govuk-grid-column-two-thirds">
    <%= render "admin/claims/answers", answers: @tasks_presenter.identity_confirmation %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @task.persisted? %>
      <%= render "task_outcome", task: @task do %>
      <% end %>
    <% else %>
      <%= form_with url: admin_claim_tasks_path(@claim, name: "identity_confirmation"), scope: :task do |f| %>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l ">
              <h3 class="govuk-heading-l">
                <%= I18n.t("#{@claim.policy.to_s.underscore}.admin.task_questions.identity_confirmation", name: @claim.full_name) %>
              </h3>
            </legend>

            <p class="govuk-body">
              The claimant did not complete GOV.UK Verify. Refer to the
              <%= link_to "Confirming a claimant’s identity playbook", confirming_identity_playbook_url, class: "govuk-link" %>.
            </p>

            <%= f.hidden_field :passed %>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <%= f.radio_button(:passed, true, class: "govuk-radios__input") %>
                <%= f.label "passed_true", "Yes", class: "govuk-label govuk-radios__label" %>
              </div>

              <div class="govuk-radios__item">
                <%= f.radio_button(:passed, false, class: "govuk-radios__input") %>
                <%= f.label "passed_false", "No", class: "govuk-label govuk-radios__label" %>
              </div>
            </div>
          </fieldset>
          <%= f.submit "Save and continue", class: "govuk-button", data: {module: "govuk-button"} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
