<% content_for(:page_title) { page_title("Claim #{@claim.reference} checks for #{@claim.policy.short_name}") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: claims_backlink_path %>
<% end %>

<% if @has_matching_claims %>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        <%= link_to "Multiple claims", admin_claim_task_path(claim_id: @claim.id, name: "matching_details") %>
        with matching details have been made in this claim window.
      </p>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <%= render claim_summary_view, claim: @claim %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>

    <%= render "admin/claims/tabs", claim: @claim %>

    <div class="govuk-tabs__panel">
      <ol class="app-task-list">

        <% @claim_checking_tasks.applicable_task_names.each_with_index do |task_name, index| %>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number"><%= index + 1 %>. </span> <%= task_name.humanize %>
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item <%= task_name %>">
                <span class="app-task-list__task-name">
                  <%= govuk_link_to I18n.t("#{@claim.policy.locale_key}.admin.tasks.#{task_name}.title", default: :"admin.tasks.#{task_name}.title"), admin_claim_task_path(claim_id: @claim.id, name: task_name) %>
                </span>
                <%= task_status_tag(@claim, task_name) %>
              </li>
            </ul>
          </li>
        <% end %>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"><%= @claim_checking_tasks.applicable_task_names.size + 1 %>. </span> Decision
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <% if @claim.decisions.exists? %>
                  <%= govuk_link_to "Approve or reject this claim", admin_claim_decisions_path(@claim) %>
                <% else %>
                  <%= govuk_link_to "Approve or reject this claim", new_admin_claim_decision_path(@claim) %>
                <% end %>
              </span>
              <% if @claim.held? %>
                <strong class="govuk-tag app-task-list__task-completed govuk-tag--warning">On Hold</strong>
              <% elsif (@claim.qa_completed? && @claim.previous_decision&.approved?) || @claim.latest_decision&.approved? %>
                <strong class="govuk-tag app-task-list__task-completed">Approved</strong>
                <% elsif (@claim.qa_completed? && @claim.previous_decision&.rejected?) || @claim.latest_decision&.rejected? %>
                <strong class="govuk-tag app-task-list__task-completed govuk-tag--alert">Rejected</strong>
              <% end %>
            </li>
          </ul>
        </li>

        <% if @claim.qa_required? %>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number"><%= @claim_checking_tasks.applicable_task_names.size + 2 %>. </span> Quality assurance decision
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <% if @claim.qa_completed? %>
                    <%= govuk_link_to "Approve or reject quality assurance of this claim", admin_claim_decisions_path(@claim, qa: true) %>
                  <% else %>
                    <%= govuk_link_to "Approve or reject quality assurance of this claim", new_admin_claim_decision_path(@claim, qa: true) %>
                  <% end %>
                </span>
                <% unless @claim.awaiting_qa? %>
                  <% if @claim.latest_decision&.approved? %>
                    <strong class="govuk-tag app-task-list__task-completed">Approved</strong>
                  <% elsif @claim.latest_decision&.rejected? %>
                    <strong class="govuk-tag app-task-list__task-completed govuk-tag--alert">Rejected</strong>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
