<% content_for(:page_title) { page_title("Claim #{@claim.reference} identity confirmation check for #{@claim.policy.short_name}") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<%= form_with model: @form, scope: :form, url: root_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary %>
<% end %>

<div class="govuk-grid-row">
  <%= render claim_summary_view, claim: @claim, heading: "Identity confirmation" %>

  <div class="govuk-grid-column-two-thirds">
    <% locale_key = @claim.policy::ClaimCheckingTasks.new(@claim).applicable_task_objects.find { |os| os.name == "one_login_identity" }.locale_key %>
    <h2 class="govuk-heading-l">
      <%= I18n.t(:name, scope: [:admin, :tasks, locale_key]) %>
    </h2>

    <% if @claim.identity_confirmed_with_onelogin? %>
      <p class="govuk-body">
      This task was performed by GOV.UK One Login on <%= l(@claim.onelogin_idv_at) %>
      </p>

      <%= govuk_table do |table| %>
        <% table.with_head do |head| %>
          <% head.with_row do |row| %>
            <% row.with_cell(text: "Claimant identity check") %>
            <% row.with_cell(text: "Full name") %>
            <% row.with_cell(text: "Date of birth") %>
          <% end %>
        <% end %>

        <% table.with_body do |body| %>
          <% body.with_row do |row| %>
            <% row.with_cell(header: true, text: "One Login identity verification (IDV)") %>
            <% row.with_cell(text: (@claim.onelogin_idv_full_name.presence || "Not available")) %>
            <% row.with_cell(text: l(@claim.onelogin_idv_date_of_birth, default: "Not available")) %>
          <% end %>

          <% body.with_row do |row| %>
            <% row.with_cell(header: true, text: "Details provided by claimant") %>
            <% row.with_cell(text: @claim.full_name) %>
            <% row.with_cell(text: l(@claim.date_of_birth)) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if !@form.task.passed.nil? %>
      <%= render "task_outcome", task: @task %>
    <% else %>
      <%= render "form", task_name: "one_login_identity", claim: @claim %>
    <% end %>

    <%= render partial: "admin/task_pagination", locals: { task_pagination: @task_pagination } %>
  </div>
</div>
