<% content_for(:page_title) { page_title("Claim #{@claim.reference} provider verification check for #{@claim.policy.short_name}") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<%= form_with model: @form, scope: :form, url: root_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary %>
<% end %>

<div class="govuk-grid-row">
  <%= render "claim_summary_further_education_payments", claim: @claim, heading: "Provider verification" %>

  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-xl"><%= @form.task.name.humanize %></h2>

    <% if @tasks_presenter.provider_verification_submitted? %>
      <%= render "provider_verification_submitted" %>
    <% else %>
      <%= render "provider_verification_unsubmitted" %>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @tasks_presenter.provider_verification_submitted? %>
      <% if @form.task.persisted? %>
        <%= render "task_outcome", task: @form.task, notes: @notes %>
      <% else %>
        <%= render "form", task_name: "provider_verification", claim: @claim %>
      <% end %>
    <% end %>
    <%= render partial: "admin/task_pagination", locals: { task_pagination: @task_pagination } %>
  </div>
</div>
