<% content_for(
  :page_title,
  page_title(
    "Unauthorised",
    journey: current_journey_routing_name
  )
) %>

<%
    auth_checker = journey::Authorisation.new(
      answers: journey_session.answers
    )

    failure_reason = auth_checker.failure_reason.to_s
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% case failure_reason %>
  <% when "organisation_mismatch" %>
    <%= render "unauthorised_organisation_mismatch" %>
  <% when "no_service_access" %>
    <%= render "unauthorised_no_service_access" %>
   <% when "incorrect_role" %>
    <%= render "unauthorised_incorrect_role" %>
   <% when "claim_admin" %>
    <%= render "unauthorised_claim_admin" %>
   <% when "already_verified" %>
     <%= render "unauthorised_already_verified" %>
  <% end %>
  </div>
</div>
