<div class="govuk-grid-column-full">
  <%= govuk_inset_text do %>
    <% if claim.assigned_to == @admin_user %>
      <p class="govuk-body">
        <%= I18n.t("admin.assigned_user_banner.assigned_to_self") %>
      </p>
    <% elsif claim.assigned_to.present? %>
      <p class="govuk-body">
        <%= I18n.t("admin.assigned_user_banner.assigned_to_other", dfe_user: claim.assigned_to.full_name) %>
      </p>
    <% else %>
      <p class="govuk-body">
        <%= I18n.t("admin.assigned_user_banner.unassigned") %>
      </p>
    <% end %>

    <%= govuk_button_link_to "Assign claim", admin_claim_assignments_path(claim) %>
  <% end %>
</div>
