<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-xl">Apply for the international relocation payment</h1>
   </div>
 </div>

 <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
     <p class="govuk-body">
       The international relocation payment (IRP) is a payment of up to
       £10,000, funded by the UK government, which is available to eligible
       non-UK teachers of:
     </p>

     <%= govuk_list [
       "languages",
       "physics",
       "general or combined science when that includes physics"
     ], type: :bullet %>

     <p class="govuk-body">
      Eligible teachers will receive their IRP in 2 instalments of £5,000
      spread over 2 years. Teachers must make separate applications for each
      eligible year showing they meet the eligibility requirements to receive
      each instalment.
     </p>

     <p class="govuk-body">
       Before starting your application, visit
       <%= govuk_link_to(
         "Get an international relocation payment",
         "https://getintoteaching.education.gov.uk/non-uk-teachers/get-an-international-relocation-payment",
         target: "_blank"
       ) %>
       to check the criteria you must meet to receive the IRP. This application
       window is only for teachers who have received their first payment of
       £5,000 and are applying after completing 3 full academic terms with a
       contract lasting at least 1 more year.
     </p>

     <p class="govuk-body">
       You should also get your documents and information ready, as you will
       not be able to save your entries and return to the form later. It should
       take approximately 15 minutes to complete.
     </p>


     <h2 class="govuk-heading-l">Documents and information to get ready</h2>

     <p class="govuk-body">
       You will need:
     </p>

     <%= govuk_list [
       "your current teaching subject and the terms of your employment contract",
       "your current visa type",
       "your passport",
       "your address in England",
       "your national insurance number",
       "your UK bank account details",
       "contact details for the school where you are employed"
     ], type: :bullet %>

     <%# TODO: There isn't any journey closed content, for now hide the button %>
     <% if @journey_open %>
     <p class="govuk-body">
      <a href="<%= claim_path(current_journey_routing_name, "claim", answers: { service_access_code: params[:service_access_code] }) %>" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
         Start
         <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
           <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
         </svg>
       </a>
     </p>
     <% end %>

     <h2 class="govuk-heading-l">Deadline for applications</h2>

     <p class="govuk-body">
       Applications for the international relocation payment (IRP) are open from:
     </p>

     <%= govuk_list [
       "22 September 2025 to 30 June 2026"
     ], type: :bullet %>

     <p class="govuk-body">
       DfE may not be able to process late applications if you do not apply during the correct application window. If you miss the correct application window, then contact <%= govuk_link_to(t("get_a_teacher_relocation_payment.support_email_address"), "mailto:#{t("get_a_teacher_relocation_payment.support_email_address")}") %> explaining your circumstances and we will review your eligibility.
     </p>

     <h2 class="govuk-heading-m">Contact us</h2>

     <p class="govuk-body">
       For help, email us at <%= govuk_link_to(t("get_a_teacher_relocation_payment.support_email_address"), "mailto:#{t("get_a_teacher_relocation_payment.support_email_address")}") %>.
     </p>
   </div>
 </div>
