<% content_for(:page_title, page_title(question, journey: current_journey_routing_name, show_error: @form.errors.any?)) %>
<%= render("shared/error_summary", instance: @form, errored_field_id_overrides: { "claim_school_id": "claim_claim_school_id_#{@form.schools.first.id}" }) if @form.errors.any? %>

<%= form_for @form, url: claim_path(current_journey_routing_name), method: :patch do |form| %>
  <%= form_group_tag @form do %>
    <fieldset class="govuk-fieldset" aria-describedby="school-search-result-hint">
      <legend class="govuk-fieldset__legend <%= fieldset_legend_css_class_for_journey(journey) %>">
        <h1 class="govuk-fieldset__heading">
          <%= question %>
        </h1>
      </legend>

      <div id="school-search-result-hint" class="govuk-hint">
        Select your school from the search results.
      </div>

      <%= hidden_field_tag :school_search, params[:school_search] %>

      <%= errors_tag @form, :claim_school_id %>

      <div class="govuk-radios">
        <%= form.collection_radio_buttons :claim_school_id, @form.schools, :id, :name do |b| %>
          <div class="govuk-radios__item">
            <%= b.radio_button class: "govuk-radios__input" %>
            <%= b.label class: "govuk-radios__label govuk-label--s govuk-radios__label govuk-!-padding-0" do %>
              <div class="school-search__suggestion">
                <div class="school-search__suggestion-main-section">
                  <div class="govuk-label govuk-radios__label govuk-label--s">
                    <%= b.text %>
                  </div>
                  <div class="govuk-hint govuk-radios__hint"><%= b.object.address %></div>
                </div>
                <% if b.object.close_date.present? && b.object.close_date < Date.current %>
                  <div class="school-search__closed-status">
                    <div class="govuk-hint govuk-radios__hint govuk-!-margin-bottom-1">Closed on <%= l(b.object.close_date) %></div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </fieldset>
  <% end %>

  <%= form.submit "Continue", class: "govuk-button" %>
<% end %>
