<% if claim_school.open? %>
  <%= fields.hidden_field :current_school_id, value: claim_school.id %>

  <div class="govuk-radios__item">
    <%= fields.radio_button(:employment_status, :claim_school, class: "govuk-radios__input") %>
    <%= fields.label :employment_status_claim_school, "Yes, at #{claim_school.name}", class: "govuk-label govuk-radios__label" %>
  </div>

  <div class="govuk-radios__item">
    <%= fields.radio_button(:employment_status, :different_school, class: "govuk-radios__input") %>
    <%= fields.label :employment_status_different_school, "Yes, at another school", class: "govuk-label govuk-radios__label" %>
  </div>
<% else %>
  <div class="govuk-radios__item">
    <%= fields.radio_button(:employment_status, :different_school, class: "govuk-radios__input") %>
    <%= fields.label :employment_status_different_school, "Yes", class: "govuk-label govuk-radios__label" %>
  </div>
<% end %>

<div class="govuk-radios__item">
  <%= fields.radio_button(:employment_status, :no_school, class: "govuk-radios__input") %>
  <%= fields.label :employment_status_no_school, "No", class: "govuk-label govuk-radios__label" %>
</div>
