<% if school.open? %>
  <div class="govuk-radios__item">
    <%= form.radio_button(:employment_status, :claim_school, class: "govuk-radios__input") %>
    <%= form.label :employment_status_claim_school, "Yes, at #{school.name}", class: "govuk-label govuk-radios__label" %>
  </div>

  <div class="govuk-radios__item">
    <%= form.radio_button(:employment_status, :different_school, class: "govuk-radios__input") %>
    <%= form.label :employment_status_different_school, "Yes, at another school", class: "govuk-label govuk-radios__label" %>
  </div>
<% else %>
  <div class="govuk-radios__item">
    <%= form.radio_button(:employment_status, :different_school, class: "govuk-radios__input") %>
    <%= form.label :employment_status_different_school, "Yes", class: "govuk-label govuk-radios__label" %>
  </div>
<% end %>

<div class="govuk-radios__item">
  <%= form.radio_button(:employment_status, :no_school, class: "govuk-radios__input") %>
  <%= form.label :employment_status_no_school, "No", class: "govuk-label govuk-radios__label" %>
</div>
