<div class="govuk-radios__item">
  <%= form.radio_button(:employment_status, :recent_tps_school, class: "govuk-radios__input") %>
  <%= form.label :employment_status_recent_tps_school, "Yes, at #{school.name}", class: "govuk-label govuk-radios__label" %>
  <div id="school-checker-item-hint" class="govuk-hint govuk-radios__hint">
    <%= school.address %>
  </div>
</div>

<div class="govuk-radios__item">
  <%= form.radio_button(:employment_status, :different_school, class: "govuk-radios__input") %>
  <%= form.label :employment_status_different_school, "Somewhere else", class: "govuk-label govuk-radios__label" %>
</div>

<div class="govuk-radios__divider">or</div>

<div class="govuk-radios__item">
  <%= form.radio_button(:employment_status, :no_school, class: "govuk-radios__input") %>
  <%= form.label :employment_status_no_school, "I'm no longer employed to teach at a state-funded secondary school in England", class: "govuk-label govuk-radios__label" %>
</div>
