<%= page_title(t("student_loans.questions.mostly_performed_leadership_duties"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { "eligibility.mostly_performed_leadership_duties": "claim_eligibility_attributes_mostly_performed_leadership_duties_true"}) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>
          <%= fields.hidden_field :mostly_performed_leadership_duties %>
          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <%= t("student_loans.questions.mostly_performed_leadership_duties") %>
              </h1>
            </legend>

            <span class="govuk-hint">
              If you were off on long-term leave or sick, include the time you would have spent.
            </span>

            <%= errors_tag current_claim.eligibility, :mostly_performed_leadership_duties %>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <%= fields.radio_button(:mostly_performed_leadership_duties, true, class: "govuk-radios__input") %>
                <%= fields.label :mostly_performed_leadership_duties_true, "Yes", class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= fields.radio_button(:mostly_performed_leadership_duties, false, class: "govuk-radios__input") %>
                <%= fields.label :mostly_performed_leadership_duties_false, "No", class: "govuk-label govuk-radios__label" %>
              </div>
            </div>

          </fieldset>
        <% end %>
      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
