<%= page_title(t("student_loans.questions.qts_award_year"), show_error: current_claim.errors.any?) %>
<% path_for_form = current_claim.persisted? ? claim_path(current_policy_routing_name) : claims_path(current_policy_routing_name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { "eligibility.qts_award_year": "claim_eligibility_attributes_qts_award_year_before_2013" }) if current_claim.errors.any? %>
    <%= form_for current_claim, url: path_for_form  do |form| %>
      <%= form_group_tag current_claim do %>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <%= t("student_loans.questions.qts_award_year") %>
            </h1>
          </legend>

          <%= form.fields_for :eligibility, include_id: false do |fields| %>
            <%= errors_tag current_claim.eligibility, :qts_award_year %>

            <div class="govuk-radios">
              <%= fields.hidden_field :qts_award_year %>
              <% StudentLoans::Eligibility.qts_award_years.each_key do |option| %>
                <div class="govuk-radios__item">
                  <%= fields.radio_button(:qts_award_year, option, class: "govuk-radios__input") %>
                  <%= fields.label "qts_award_year_#{option}", t("student_loans.questions.qts_award_years.#{option}"), class: "govuk-label govuk-radios__label" %>
                </div>
              <% end %>
            </div>
          <% end %>

        </fieldset>
      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
