<% content_for(:page_title, page_title(t("student_loans.forms.qts_year.questions.qts_award_year"), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: @form, errored_field_id_overrides: { "qts_award_year": "claim_qts_award_year_on_or_after_cut_off_date" }) if @form.errors.any? %>
    <%= form_for @form, url: @form.url do |f| %>
      <%= form_group_tag @form do %>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <%= t("student_loans.forms.qts_year.questions.qts_award_year") %>
            </h1>
          </legend>

          <div class="govuk-hint" id="qts_year-hint">
            The academic year runs from 1 September to 31 August.
          </div>

          <%= errors_tag f.object, :qts_award_year %>

          <div class="govuk-radios">
            <%= f.hidden_field :qts_award_year %>
            <div class="govuk-radios__item">
              <%= f.radio_button(:qts_award_year, :on_or_after_cut_off_date, class: "govuk-radios__input") %>
              <%= f.label "qts_award_year_on_or_after_cut_off_date",
                    t("student_loans.answers.qts_award_years.on_or_after_cut_off_date", year: f.object.first_eligible_qts_award_year),
                    class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button(:qts_award_year, :before_cut_off_date, class: "govuk-radios__input") %>
              <%= f.label "qts_award_year_before_cut_off_date",
                    t("student_loans.answers.qts_award_years.before_cut_off_date"),
                    class: "govuk-label govuk-radios__label" %>
            </div>
          </div>

        </fieldset>
      <% end %>
      <%= f.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
