<div class="govuk-body" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: @form, url: @form.url, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
        <%= f.govuk_error_summary %>

        <h1 class="govuk-heading-l"><%= t("questions.check_and_confirm_qualification_details") %></h1>

        <div class="personal-details-section">
          <h2 class="govuk-heading-m"><%= t("questions.qualification_details") %></h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"><%= t("student_loans.questions.academic_year") %></dt>
              <dd class="govuk-summary-list__value">
                <%= @form.dqt_qts_award_date %>
              </dd>
            </div>
          </dl>
        </div>


        <%= f.govuk_collection_radio_buttons(
          :qualifications_details_check,
          f.object.radio_options,
          :id,
          :name,
          inline: true,
          legend: {
            size: "m",
            text: t("questions.details_correct")
          },
        ) %>

        <p class="govuk-body"><%= t("questions.select_yes_confirm") %></p>

        <%= f.govuk_submit t("questions.continue") %>

      <% end %>
    </div>
  </div>
</div>
