<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { details_check: "qualifications_details_check_true" }) if current_claim.errors.any? %>
  </div>
</div>

<div class="govuk-body" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t("questions.check_and_confirm_qualification_details") %></h1>

      <div class="personal-details-section">
        <h2 class="govuk-heading-m"><%= t("questions.qualification_details") %></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><%= t("questions.academic_year.#{current_claim.dqt_teacher_record.route_into_teaching}") %></dt>
            <dd class="govuk-summary-list__value">
              <%= AcademicYear.for(current_claim.dqt_teacher_record.qts_award_date) %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

<% path_for_form = current_claim.persisted? ? claim_path(current_policy_routing_name) : claims_path(current_policy_routing_name) %>
<% shared_view_css_size = current_claim.policy == EarlyCareerPayments ? "l" : "xl" %>
  <%= form_for current_claim, url: path_for_form do |form| %>
    <%= form.hidden_field :qualifications_details_check %>
    <%= form_group_tag current_claim do %>

    <div class="govuk-radios">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><%= t("questions.details_correct") %></legend>

        <%= errors_tag current_claim, :qualifications_details_check %>

        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <%= form.radio_button(:qualifications_details_check, true, class: "govuk-radios__input") %>
            <%= form.label :qualifications_details_check_true, t("questions.radio_yes"), class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
          <%= form.radio_button(:qualifications_details_check, false, class: "govuk-radios__input") %>
          <%= form.label :qualifications_details_check_false, t("questions.radio_no"), class: "govuk-label govuk-radios__label" %>
          </div>
        </div>
      </fieldset>
    </div>

  <% end %>

  <p class="govuk-body"><%= t("questions.select_yes_confirm") %></p>

  <div class="govuk-form-group">
    <%= form.submit t("questions.continue"), class: "govuk-button", data: {module: "govuk-button"} %>
  </div>
<% end %>
