<% content_for(:page_title, page_title(t("student_loans.questions.employment_status"), journey: current_journey_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { "eligibility.employment_status": "claim_eligibility_attributes_employment_status_claim_school" }) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_journey_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <% if current_claim.logged_in_with_tid_and_has_recent_tps_school? %>
                <h1 class="govuk-fieldset__heading"><%= t("student_loans.forms.still_teaching.questions.which_school_currently") %></h1>
              <% else %>
                <h1 class="govuk-fieldset__heading"><%= t("student_loans.questions.employment_status") %></h1>
              <% end %>
            </legend>

            <%= errors_tag current_claim.eligibility, :employment_status %>

            <div class="govuk-radios">
              <%= fields.hidden_field :employment_status %>

              <% if current_claim.logged_in_with_tid_and_has_recent_tps_school? %>
                <%= render partial: "still_teaching_with_tps_school", locals: { current_claim: current_claim, fields: fields, current_school: current_claim.recent_tps_school }  %>
              <% else %>
                <%= render partial: "still_teaching_with_claim_school", locals: { current_claim: current_claim, fields: fields, claim_school: current_claim.eligibility.claim_school }  %>
              <% end %>
            </div>
          </fieldset>
        <% end %>
      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
