<%= page_title(t("student_loans.questions.student_loan_amount"), show_error: current_claim.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>

          <h1 class="govuk-form-wrapper">
            <%= fields.label :student_loan_repayment_amount, t("student_loans.questions.student_loan_amount", claim_school_name: current_claim.eligibility.claim_school_name), class: "govuk-label govuk-label--xl" %>
          </h1>

          <p class="govuk-hint">
            Check your annual student loan statement, or your P60 if you had only one employer.
          </p>

          <p class="govuk-hint">
            You can also add up the student loan contributions from your payslips from this period, but bear in mind the
            amounts on each payslip might be different.
          </p>

          <%= errors_tag current_claim.eligibility, :student_loan_repayment_amount %>

          <div class="govuk-currency-input">
            <span class="govuk-currency-input__unit">&pound;</span>
            <%= fields.number_field(
                  :student_loan_repayment_amount,
                  class: css_classes_for_input(current_claim, :student_loan_repayment_amount, "govuk-currency-input__input govuk-input--width-5"),
                  step: 'any',
                  min: 1,
                  max: 99999,
                  value: currency_value_for_number_field(fields.object.student_loan_repayment_amount),
                )
            %>
          </div>
        <% end %>
      <% end %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
