<% content_for :back_link do %>
  <%= govuk_back_link href: new_admin_claim_amendment_path(@claim) %>
<% end %>

<%= form_with url: admin_claim_decision_undos_path(@claim, @decision), scope: :amendment, model: @form, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Undo claim decision for claim <%= @claim.reference %>
      </h1>

      <% if !@form.processable? %>
        <%= govuk_warning_text(text: "This decision cannot be undone without approval from the Senior Responsible Officer. Refer this claim to your line manager and the Claim Product Team.") %>
      <% end %>

      <p class="govuk-body">
        Claim <%= @claim.reference %> is currently <%= @claim.latest_decision.result %>. If you undo this
        decision, the claim will be marked as undecided. You'll need to approve or reject this claim later.
      </p>

      <%= f.govuk_text_area :notes,
        label: { text: "Change notes" },
        hint: { text: "Please write a brief note to explain why you're undoing this decision." },
        disabled: !@form.processable?,
        rows: 5 %>

      <%= f.govuk_submit t("admin.undo_decision.#{@claim.latest_decision.result}"), disabled: !@form.processable? %>
      <%= govuk_button_link_to "Cancel", admin_claim_url(@claim), secondary: true %>
    </div>
  </div>
<% end %>
