<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t("student_loans.landing_page") %></h1>
    <p class="govuk-body">
      Use this service to check if you can <a href="<%= Policies::StudentLoans.eligibility_page_url %>" class="govuk-link govuk-link--no-visited-state" target="_blank">claim back your student loan repayments (opens in new tab)</a>
    </p>

    <p class="govuk-body">
      You must have been employed in an eligible state-funded secondary school in England for the last financial year
      (6 April <%= (@academic_year - 1).start_year.to_s %> to 5 April <%= (@academic_year - 1).end_year.to_s %>).
      You must also be currently working as a teacher in a state-funded secondary school in England.
    </p>

    <p class="govuk-body">
      You can claim back loan repayments depending on:
    </p>

    <ul class='govuk-list govuk-list--bullet'>
      <li>the subject you taught</li>
      <li>the local authority your school is in</li>
      <li>when your initial teacher training (ITT) course finished</li>
    </ul>

    <p class="govuk-body">
      It takes around 5 minutes to check if you’re eligible and another 5 minutes to apply.
    </p>

    <p class="govuk-body">
      You must apply before 31 March <%= @academic_year.end_year.to_s %>.
    </p>

    <%# TODO: There isn't any journey closed content, for now hide the button %>
    <% if @journey_open %>
    <p class="govuk-!-margin-top-8">
      <a href="<%= claim_path(current_journey_routing_name, "claim", answers: { service_access_code: params[:service_access_code] }) %>" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
          </svg>
        </a>
    </p>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-top-4">Before you start</h2>

    <p class="govuk-body">
      You can use DfE Identity with this service. You’ll need to provide your personal details including your National Insurance number and teacher reference number (TRN).
    </p>
  </div>
</div>
