<% content_for(:page_title, page_title("Claim submitted", policy: current_policy_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <%= claim_submitted_title(current_claim) %>
      <div class="govuk-panel__body">
        Your reference number<br>
        <strong><%= current_claim.reference %></strong>
      </div>
    </div>

    <p class="govuk-body">
      We have sent you a confirmation email to <%= current_claim.email_address %>.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <% if current_claim.has_ecp_policy? %>
      <%= render partial: "completion" %>
    <% else %>
      <%= render partial: "confirmation", locals: { current_policy_routing_name: current_policy_routing_name } %>
    <% end %>

    <p class="govuk-body">
      <%= link_to "What did you think of this service?", done_page_url, class: "govuk-link" %>
      (takes 30 seconds)
    </p>
  </div>
</div>
