<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">
  Download eligible FE providers
</h2>

<%= form_with model: @download_form, scope: :eligible_fe_providers_download, url: admin_eligible_fe_providers_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder, method: :get do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_collection_select :academic_year, f.object.select_options, :id, :name,
    label: { text: "Academic year" } %>

  <%= f.govuk_submit "Download CSV" %>
<% end %>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">
  Upload eligible FE providers
</h2>

<%= form_with model: @upload_form, scope: :eligible_fe_providers_upload, url: admin_eligible_fe_providers_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_collection_select :academic_year, f.object.select_options, :id, :name,
    label: { text: "Academic year" } %>

  <%= f.govuk_file_field :file,
    label: { text: "Eligible FE providers" },
    hint: { text: "This file should be a CSV" },
    javascript: true %>

  <%= f.govuk_submit "Upload CSV" %>
<% end %>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<%= render partial: "file_upload_history", locals: {
  heading: "Upload history for eligible FE providers"
} %>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h2 class="govuk-heading-m">
  Feature flags
</h2>

<%= form_with model: @feature_flags_form, scope: :feature_flags, url: admin_feature_flags_path, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary %>

  <% f.object.flags.each do |flag| %>
    <%= f.govuk_collection_radio_buttons flag.name,
      f.object.options,
      :id, :name,
      inline: true,
      legend: { text: flag.description },
      hint: { text: flag.hint } %>
  <% end %>

  <%= f.govuk_submit "Save feature flags" %>
<% end %>
