<% content_for(:page_title) { page_title("Manage #{journey_service_name(journey_configuration.journey::ROUTING_NAME)}") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_journey_configurations_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Manage services</span>
      <%= journey_service_name(journey_configuration.journey::ROUTING_NAME) %>
    </h1>

    <div class="govuk-panel govuk-panel--informational govuk-panel--small">
      <% if journey_configuration.open_for_submissions? %>
        <h2 class="govuk-panel__title">Service open</h2>
        <p class="govuk-panel__body">
          This service is currently open and accepting claims for the
          <%= journey_configuration.current_academic_year%> academic year.
        </p>
      <% else %>
        <h2 class="govuk-panel__title">Service closed</h2>
        <p class="govuk-panel__body">
          This service is currently closed. Users can not submit claims.
        </p>
      <% end %>
    </div>

    <% if journey_configuration.additional_payments? %>
      <div class="govuk-panel govuk-panel--informational govuk-panel--small">
        <% if targeted_retention_incentive_awards_last_updated_at %>
          <p class="govuk-panel__body">
            The <%= I18n.t("targeted_retention_incentive_payments.policy_short_name") %> school award amounts for academic year <%= journey_configuration.current_academic_year %> were updated on <%= l(targeted_retention_incentive_awards_last_updated_at) %>.
          </p>
        <% else %>
          <p class="govuk-panel__body">
            No <%= I18n.t("targeted_retention_incentive_payments.policy_short_name") %> school award data has been uploaded for academic year <%= journey_configuration.current_academic_year %>.
          </p>
        <% end %>
      </div>
    <% end %>

    <%= form_with model: [:admin, journey_configuration], url: admin_journey_configuration_path(journey_configuration), scope: "journey_configuration" do |f| %>

      <div class="govuk-form-group">
        <%= f.label :current_academic_year, "Accepting claims for academic year", class: "govuk-label" %>
        <%= f.select :current_academic_year, options_for_academic_year, {}, class: "govuk-select" %>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Service status
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :open_for_submissions, true, class: "govuk-radios__input", data: { aria_controls: "reminders-warning-message" } %>
              <%= f.label :open_for_submissions, "Open", value: true, class: "govuk-label govuk-radios__label" %>
            </div>
            <%= render 'admin/journey_configurations/ecp_reminder_warning' %>
            <div class="govuk-radios__item">
              <%= f.radio_button :open_for_submissions, false, class: "govuk-radios__input", data: { aria_controls: "conditional-availability-message-conditional" } %>
              <%= f.label :open_for_submissions, "Closed", value: false, class: "govuk-label govuk-radios__label" %>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-availability-message-conditional">
              <div class="govuk-form-group">
                <%= f.label :availability_message, "Availability message", class: "govuk-label" %>
                <div class="govuk-hint" id="availability_message-hint">
                  <p>
                  This is an optional message that should provide an explanation of why the service is closed and / or when we expect it to open again.
                  </p>

                  <p>
                  For example, "The service is closed for maintenance and will be available from 2pm today."
                  </p>
                </div>
                <%= f.text_area :availability_message, class: "govuk-textarea", "aria-describedby" => "availability_message-hint", rows: 5 %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <% if journey_configuration.teacher_id_configurable? %>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              Sign in with DfE Identity
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <%= f.radio_button :teacher_id_enabled, true, class: "govuk-radios__input" %>
                <%= f.label :teacher_id_enabled, "Enabled", value: true, class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= f.radio_button :teacher_id_enabled, false, class: "govuk-radios__input" %>
                <%= f.label :teacher_id_enabled, "Disabled", value: false, class: "govuk-label govuk-radios__label" %>
              </div>
            </div>
          </fieldset>
        </div>
      <% end %>

      <%= f.submit "Save", class: "govuk-button", data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>

<% if lookup_context.exists?("admin/journey_configurations/_edit_#{journey_configuration.routing_name.underscore}") %>
  <%= render partial: "admin/journey_configurations/edit_#{journey_configuration.routing_name.underscore}" %>
<% end %>
