<% content_for(:phase) { "Alpha" } %>

<% content_for(
  :page_title,
  page_title(
    @form.t(:title),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @form.t(:heading) %>
    </h1>

    <%= render(
      partial: "claims/check_your_answers_section",
      locals: {
        heading: @form.t(:payment_section_heading),
        answers: journey.answers_for_claim(@form.journey_session).payment_answers
      }
    ) %>

    <%= render(
      partial: "claims/check_your_answers_section",
      locals: {
        heading: @form.t(:contact_section_heading),
        answers: journey.answers_for_claim(@form.journey_session).contact_answers
      }
    ) %>

    <%= render(
      partial: "claims/check_your_answers_section",
      locals: {
        heading: @form.t(:payroll_section_heading),
        answers: journey.answers_for_claim(@form.journey_session).payroll_answers
      }
    ) %>

    <%= form_with(
      model: @form,
      url: @form.url,
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <p class="govuk-body">
        By sending this claim you confirm that the information you have provided is
        correct
      </p>

      <%= f.govuk_submit(@form.t(:submit_button)) %>
    <% end %>
  </div>
</div>
