<% content_for(:phase) { "Alpha" } %>

<% content_for(
  :page_title,
  page_title(
    @form.t(:title),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(
      @form,
      url: @form.url,
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder
    ) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_fieldset(
        legend: {
          text: f.object.t(:title),
          tag: "h1",
          size: "l"
        }
      ) do %>
        <%= f.govuk_text_field(
          :first_name,
          width: "two-thirds",
          label: { text: f.object.t([:first_name, :label]) },
        ) %>

        <%= f.govuk_text_field(
          :middle_name,
          width: "two-thirds",
          label: { text: f.object.t([:middle_name, :label]) },
        ) %>

        <%= f.govuk_text_field(
          :surname,
          width: "two-thirds",
          label: { text: f.object.t([:surname, :label]) },
        ) %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
