<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Upload Payment Confirmation Report
    </h1>

    <p class="govuk-body">You are uploading a Payment Confirmation Report for the payroll run dated <%= l(@payroll_run.created_at.to_date) %>.</p>

    <p class="govuk-body govuk-!-font-weight-bold">
      NOTE: <%= @payroll_run.payment_confirmations.count%> <%= "report".pluralize(@payroll_run.payment_confirmations.count) %> uploaded, for a total of
      <%= @payroll_run.total_confirmed_payments %> out of <%= @payroll_run.payments.count %> payments.
    </p>

    <%= form_with model: @upload_form, scope: :payment_confirmation_report_upload, url: admin_payroll_run_payment_confirmation_report_uploads_path(@payroll_run), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_file_field :file,
        label: { text: "Upload a Payment Confirmation Report CSV file" },
        javascript: true %>

      <%= f.govuk_submit "Upload file" %>
    <% end %>
  </div>
</div>
