<% content_for(:page_title) { page_title("Payroll") } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Payroll
    </h1>

    <div class="govuk-inset-text">
      The next payroll run must be with Cantium on or before <%= l(next_payroll_file_to_cantium_due_date) %>
    </div>

    <%= link_to(
          "Run #{Date.today.strftime("%B")} payroll",
          new_admin_payroll_run_path,
          class: "govuk-button",
          role: "button",
          data: {module: "govuk-button"}
        ) if PayrollRun.this_month.empty? %>
  </div>
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-heading-l">Payroll history</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Approved claims</th>
          <th scope="col" class="govuk-table__header">Payment Confirmation Report</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Payroll actions</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @payroll_runs.each do |payroll_run| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><%= l(payroll_run.created_at.to_date) %></th>
            <td class="govuk-table__cell"><%= number_with_delimiter(payroll_run.claims.size) %></td>
            <td class="govuk-table__cell">
              <% if payroll_run.confirmation_report_uploaded? %>
                Uploaded
              <% else %>
                <%= link_to new_admin_payroll_run_payment_confirmation_report_upload_path(payroll_run), class: "govuk-link" do %>
                  Upload <span class="govuk-visually-hidden">payment confirmation report</span>
                <% end %>
              <% end %>
            </td>
            <td class="govuk-table__cell">
              <%= link_to admin_payroll_run_path(payroll_run), class: "govuk-link" do %>
                View <span class="govuk-visually-hidden"> <%= payroll_run.created_at.strftime("%B") %> payroll run</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
