<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Create payroll file
    </h1>

    <p class="govuk-body">Below is a preview of the payroll file, you can see how many approved claims will be included and the total award amount.</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Approved claims
        </dt>

        <dd class="govuk-summary-list__value">
          <%= @payroll_run.claims.size %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total award amount
        </dt>

        <dd class="govuk-summary-list__value">
          <%= number_to_currency(@payroll_run.total_award_amount) %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<%= form_for [:admin, @payroll_run] do |form| %>
  <% @payroll_run.claims.each do |claim| %>
    <%= hidden_field_tag "claim_ids[]", claim.id %>
  <% end %>
  <%= form.submit "Create payroll file", class: "govuk-button", data: {module: "govuk-button"} %>
<% end %>
