<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @payroll_run.created_at.strftime("%B") %> payroll run
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Approved claims
        </dt>

        <dd class="govuk-summary-list__value">
          <%= @payroll_run.claims.size %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total award amount
        </dt>

        <dd class="govuk-summary-list__value">
          <%= number_to_currency(@payroll_run.total_award_amount) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Created by
        </dt>

        <dd class="govuk-summary-list__value">
          <%= user_details(@payroll_run.created_by) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Downloaded
        </dt>

        <dd class="govuk-summary-list__value">
          <%= @payroll_run.download_triggered? ? l(@payroll_run.downloaded_at) : "No" %>
        </dd>
      </div>
      <% if @payroll_run.download_triggered? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Downloaded by
          </dt>

          <dd class="govuk-summary-list__value">
            <%= user_details(@payroll_run.downloaded_by) %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
  <% unless @payroll_run.download_triggered? %>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        You can now send this link to Cantium for processing.
      </p>
    </div>
    <div class="govuk-grid-column-full">
      <%= text_field_tag "payroll_run_download_link", new_admin_payroll_run_download_url(@payroll_run), data: {"copy-to-clipboard": :true}, readonly: true, class: ["govuk-input"] %>
    </div>
  <% end %>

  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Payments</h2>

    <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Payment ID</th>
        <th scope="col" class="govuk-table__header">Claim Reference(s)</th>
        <th scope="col" class="govuk-table__header">Applicant Name</th>
        <% unless @payroll_run.confirmation_report_uploaded_by %>
          <th scope="col" class="govuk-table__header"></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @payroll_run.payments.each do |payment| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= payment.id %></th>
          <td class="govuk-table__cell"><%= list_references(payment) %></td>
          <td class="govuk-table__cell"><%= payment.banking_name %></td>
          <% unless @payroll_run.confirmation_report_uploaded_by %>
            <td class="govuk-table__cell">
              <%= button_to 'Remove',
                            admin_payroll_run_payment_path(id: payment.id, payroll_run_id: payment.payroll_run.id),
                            method: :delete,
                            class: "govuk-button govuk-button--warning",
                            data: {
                              confirm: "Are you sure you want to remove this payment from the payroll run?"
                            }
              %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>

</div>
