<% content_for(:page_title) { page_title("#{@payroll_run.created_at.strftime("%B")} payroll run") } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @payroll_run.created_at.strftime("%B") %> payroll run
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Approved claims
        </dt>

        <dd class="govuk-summary-list__value">
          <%= @payroll_run.claims.size %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total award amount
        </dt>

        <dd class="govuk-summary-list__value">
          <%= number_to_currency(@payroll_run.total_award_amount) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Created by
        </dt>

        <dd class="govuk-summary-list__value">
          <%= user_details(@payroll_run.created_by) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Downloaded
        </dt>

        <dd class="govuk-summary-list__value">
          <%= @payroll_run.download_triggered? ? l(@payroll_run.downloaded_at) : "No" %>
        </dd>
      </div>
      <% if @payroll_run.download_triggered? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Downloaded by
          </dt>

          <dd class="govuk-summary-list__value">
            <%= user_details(@payroll_run.downloaded_by) %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
  <% unless @payroll_run.download_triggered? %>
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group">
        <label class="govuk-label" for="payroll_run_download_link">
          You can now send this link to Cantium for processing.
        </label>
        <%= text_field_tag "payroll_run_download_link", new_admin_payroll_run_download_url(@payroll_run), data: {"copy-to-clipboard": :true}, readonly: true, class: ["govuk-input"] %>
      </div>
    </div>
  <% end %>

  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Payments</h2>

    <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Payment ID</th>
        <th scope="col" class="govuk-table__header">Payee Name</th>
        <th scope="col" class="govuk-table__header">Claim Reference</th>
        <th scope="col" class="govuk-table__header">Service</th>
        <th scope="col" class="govuk-table__header">Claim Amount</th>
        <th scope="col" class="govuk-table__header">Payment Amount</th>
        <% unless @payroll_run.confirmation_report_uploaded? %>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @payroll_run.payments.each do |payment| %>
        <% first_claim = payment.claims.first %>
        <% number_of_claims = payment.claims.count %>
        <tr class="govuk-table__row">
          <th scope="row" rowspan="<%= number_of_claims %>" class="govuk-table__header"><%= payment.id %></th>
          <td class="govuk-table__cell" rowspan="<%= number_of_claims %>"><%= payment.banking_name %></td>
          <td class="govuk-table__cell"><%= first_claim.reference %></td>
          <td class="govuk-table__cell"><%= first_claim.policy.short_name %></td>
          <td class="govuk-table__cell"><%= number_to_currency(first_claim.award_amount) %></td>
          <td class="govuk-table__cell" rowspan="<%= number_of_claims %>"><%= number_to_currency(payment.award_amount) %></td>
          <% unless @payroll_run.confirmation_report_uploaded? %>
            <td class="govuk-table__cell" rowspan="<%= number_of_claims %>">
              <%= link_to remove_admin_payroll_run_payment_path(id: payment.id, payroll_run_id: payment.payroll_run.id), class: "govuk-link" do %>
                Remove <span class="govuk-visually-hidden">payment row</span>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% payment.claims.drop(1).each do |claim| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= claim.reference %></td>
            <td class="govuk-table__cell"><%= claim.policy.short_name %></td>
            <td class="govuk-table__cell"><%= number_to_currency(claim.award_amount) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
  </div>

</div>
