<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= @form.t(["must_at_least_half_hours_teaching_fe", "heading"]) %>
    </h1>

    <p class="govuk-body">
      In order to claim a targeted retention incentive payment, half of your timetabled teaching hours must include:
    </p>

    <%= govuk_list [
      "a student aged 16 to 19",
      "a person up to age 25 with an Education, Health and Care Plan (EHCP)",
    ], type: :bullet %>

    <p class="govuk-body">
      For more information, check the eligibility criteria for <%= govuk_link_to t("further_education_payments.eligibility_criteria_link.text"), t("further_education_payments.eligibility_criteria_link.url"), new_tab: true %>.
    </p>

    <p class="govuk-body">
      If you are unsure your information is correct, you can <%= govuk_link_to "go back", claim_path(current_journey_routing_name, navigator.previous_slug) %> and review your answers. You can also <%= govuk_link_to "start the application again", claim_path(current_journey_routing_name, "landing-page") %>.
    </p>
  </div>
</div>
