<% content_for(
  :page_title,
  page_title(
    "Check your answers before sending your application",
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%# Errors are from the SubmissionsController %>
    <% if @form.errors.any? %>
      <%= render("shared/error_summary", instance: @form) %>
    <% end %>

    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>

    <%= render partial: "claims/check_your_answers_section", locals: {heading: "Identity details", answers: journey.answers_for_claim(@form.journey_session).identity_answers} %>

    <%= render partial: "claims/check_your_answers_section", locals: {heading: "Payment details", answers: journey.answers_for_claim(@form.journey_session).payment_answers} %>

    <%= form_with url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <h2 class="govuk-heading-m">
        <%= t("further_education_payments.check_your_answers.heading_send_application") %>
      </h2>

      <p class="govuk-body">
        <%= t("further_education_payments.check_your_answers.statement") %>
      </p>

      <%= f.govuk_submit t("further_education_payments.check_your_answers.btn_text") %>
    <% end %>
  </div>
</div>
