<% content_for(:page_title, page_title(@form.t(:heading), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: claim_path(current_journey_routing_name), method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= govuk_panel(
        title_text: @form.t(:heading),
        html_attributes: {
          class: "govuk-panel--informational"
        }
      ) %>

      <div class="govuk-heading-m">
        Based on what you’ve told us, you can apply for a targeted retention incentive payment of:
      </div>

      <div class="govuk-heading-l">
        <%= number_to_currency(@form.award_amount, precision: 0) %>
      </div>

      <%= f.govuk_submit "Apply now" %>

      <div class="govuk-body">
        The targeted retention incentive payment ranges from £2,000 to £6,000, depending on:
      </div>
      <%= govuk_list [ "the provider you teach at", "the number of hours you teach"], type: :bullet %>

      <div class="govuk-body">
        If you teach at a further education (FE) provider that has higher levels of disadvantage, you are eligible for a higher payment.
      </div>

      <div class="govuk-body">
        For more information about why you are eligible, read about the <%= govuk_link_to "targeted retention incentive payments for FE teachers guidance", t("further_education_payments.eligibility_criteria_link.url"), new_tab: true %>.
      </div>

    <% end %>
  </div>
</div>
