<% content_for(:page_title, page_title(@form.t(:heading), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= govuk_panel(
        title_text: @form.t(:heading),
        classes: "govuk-panel--informational"
      ) %>

      <div class="govuk-heading-m">
        Based on what you’ve told us, you can apply for a retention payment of:
      </div>

      <div class="govuk-heading-l">
        <%= number_to_currency(@form.award_amount, precision: 0) %>
      </div>

      <%= f.govuk_submit "Apply now" %>

      <div class="govuk-body">
        If you teach at an FE provider with a higher proportion of disadvantaged students, you’ll get a higher payment. This is based on how many 16 to 19 students at your provider receive <%= govuk_link_to "disadvantage funding", "https://www.gov.uk/guidance/16-to-19-funding-how-it-works" %>.
      </div>

      <div class="govuk-body">
        In the guidance on <%= govuk_link_to "targeted retention incentive payments for FE teachers", "https://www.gov.uk/guidance/targeted-retention-incentive-payments-for-fe-teachers" %>, you can find:
      </div>

      <%= govuk_list [
        "why you’re eligible",
        "the list of eligible FE providers",
        "the payment values"
      ], type: :bullet %>
    <% end %>
  </div>
</div>
