<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :further_education_teaching_start_year,
        legend: {
          text: @form.t(:question),
          tag: "h1",
          size: "l"
        } do %>
        <% @form.radio_options[0..-2].each do |option| %>
          <%= f.govuk_radio_button :further_education_teaching_start_year, option.id,
            label: { text: option.name },
            link_errors: @form.radio_options.first == option %>
        <% end %>

        <%= f.govuk_radio_divider %>

        <% option = @form.radio_options.last %>
        <%= f.govuk_radio_button :further_education_teaching_start_year, option.id,
          label: { text: option.name } %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
