<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: @form.url,
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      id: "further-education-provision-search-form",
      data: { "fe-only" => true },
      html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :possible_school_id %>

      <h1 class="govuk-heading-l">
        <%= @form.t(:question) %>
      </h1>

      <div id="autocomplete-container" class="govuk-!-margin-bottom-9">
        <%= f.govuk_text_field :provision_search,
          class: "js-remove",
          label: nil,
          hint: -> do %>
            Enter the name or postcode using at least 3 characters.
          <% end %>
      </div>

      <%= govuk_details(
        summary_text: "What FE providers are eligible?"
      ) do %>
        <p class="govuk-body">
          You can find 
          <%= govuk_link_to("a list to eligible further education providers and payment values (opens in a new tab).",
            "https://www.gov.uk/guidance/targeted-retention-incentive-payments-for-fe-teachers#Eligible-FE-providers", target: "_blank") %>
          %>
        </p>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
