<% content_for(:page_title, page_title(@form.t(:heading), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: claim_path(current_journey_routing_name),
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      id: "further-education-provision-search-form",
      data: { "fe-only" => true },
      html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :possible_school_id %>

      <h1 class="govuk-heading-l">
        <%= @form.t(:heading) %>
      </h1>

      <p class="govuk-body">
        Eligible FE providers include:
      </p>

      <%= govuk_list [
        "statutory FE providers, such as FE colleges, sixth-form colleges or designated institutions",
        "16 to 19 only academies and schools"
      ], type: :bullet %>

      <p class="govuk-body">
        If you are unsure if your FE provider is eligible, you can refer to the <%= govuk_link_to "full list of eligible FE providers", t("further_education_payments.fe_provider_list_url") %> for more information.
      </p>

      <div id="autocomplete-container" class="govuk-!-margin-bottom-9">
        <%= f.govuk_text_field :provision_search,
          class: "js-remove",
          label: {
            text: @form.t(:question),
            size: "m"
          },
          hint: -> do %>
            <p>
              Enter the name of your employer. If you work at an FE provider with multiple campuses, enter the name of the FE provider group.
            </p>

            <p>
              Use at least three characters.
            </p>
          <% end %>
      </div>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
