<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: @form.url,
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      id: "further-education-provision-search-form",
      data: { "fe-only" => true },
      html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :possible_school_id %>

      <h1 class="govuk-heading-l">
        <%= @form.t(:question) %>
      </h1>

      <div id="autocomplete-container" class="govuk-!-margin-bottom-9">
        <%= f.govuk_text_field :provision_search,
          class: "js-remove",
          label: nil,
          hint: -> do %>
            Enter the name or postcode using at least 3 characters.
          <% end %>
      </div>

      <%= govuk_details(
        summary_text: "What FE providers are eligible?"
      ) do %>
        <p class="govuk-body">
          A
          <%= govuk_link_to("list of eligible further education providers and payment values",
            "https://assets.publishing.service.gov.uk/media/682ddb93c054883884bff39e/list-of-eligible-further-education-providers-and-payment-values-for-targeted-retention-incentive-2025-2026.xlsx")
          %>
          (MS Excel Spreadsheet, 34KB) is available
        </p>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
