<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: claim_path(current_journey_routing_name),
      method: :patch,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder,
      id: "further-education-provision-search-form",
      data: { "fe-only" => true },
      html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :possible_school_id %>

      <h1 class="govuk-heading-l">
        An eligible further education (FE) provider in England must employ you as a teacher
      </h1>

      <p class="govuk-body">
        Eligible FE providers include:
      </p>

      <%= govuk_list [
        "statutory FE providers, such as FE colleges, sixth-form colleges or designated institutions",
        "16 to 19 only academies and free schools",
        "college or sixth-form groups"],
        type: :bullet %>

      <p class="govuk-body">
        If you are unsure if your FE provider is eligible, you can refer to the <%= govuk_link_to "full list of eligible FE providers", "https://assets.publishing.service.gov.uk/media/667300fe64e554df3bd0db92/List_of_eligible_FE_providers_and_payment_value_for_levelling_up_premium.xlsx" %> for more information.
      </p>

      <div id="autocomplete-container" class="govuk-!-margin-bottom-9">
        <% if @form.no_results? %>
          <%= f.govuk_text_field :provision_search,
            class: "js-remove",
            label: {
              text: @form.t(:question),
              size: "m"
            },
            hint: -> do %>
              <p class="govuk-body">
                <strong>No results match that search term. Try again.</strong>
              </p>
            <% end %>
        <% else %>
          <%= f.govuk_text_field :provision_search,
            class: "js-remove",
            label: {
              text: @form.t(:question),
              size: "m"
            },
            hint: -> do %>
              <p>
                Enter the name of your employer. If you work for a college or sixth-form group, you must enter the group’s name.
              </p>

              <p>
                Use at least three characters.
              </p>
            <% end %>
        <% end %>
      </div>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
