<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :half_teaching_hours,
        @form.radio_options,
        :id,
        :name,
        legend: {
          tag: "h1",
          size: "l",
          text: @form.t(:question)
        },
        hint: -> { %>
          <p class="govuk-body">
            To apply, at least 50% of your timetabled teaching hours must include either:
          </p>

          <%= govuk_list [
            "a student aged 16 to 19",
            "a person up to age 25 with an #{govuk_link_to("Education, Health and Care Plan (EHCP)", "https://www.gov.uk/children-with-special-educational-needs/extra-SEN-help", target: "_blank")}".html_safe
          ], type: :bullet %>
        <% } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
