<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :half_teaching_hours,
        @form.radio_options,
        :id,
        :name,
        legend: {
          tag: "h1",
          size: "l",
          text: @form.t(:question)
        },
        hint: -> { %>
          <p class="govuk-body">
            This includes students:
          </p>

          <%= govuk_list [
            "aged up to 25 with an EHCP (education, health and care plan)",
            "aged 14 to 19 on these programmes funded through the 16 to 19 funding formula"
          ], type: :bullet %>

          <p class="govuk-body">
            If you are unsure, speak to your HR department before proceeding with your application.
          </p>
        <% } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
