<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :half_teaching_hours,
        @form.radio_options,
        :id,
        :name,
        legend: {
          tag: "h1",
          size: "l",
          text: @form.t(:question)
        },
        hint: -> { %>
          <p class="govuk-body">
            This also includes students aged:
          </p>

          <%= govuk_list [
            "19 or over, if they started their course before turning 19",
            "up to 25 if they have an Education, Health and Care Plan (EHCP)",
            "14 to 16 funded through the 16 to 19 funding system"
          ], type: :bullet %>
        <% } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
