<% content_for(:page_title, page_title("How we will use the information you provide", journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How we will use the information you provide</h1>

    <h2 class="govuk-heading-m">To process your application</h2>

    <p class="govuk-body">
      We will check the information you have provided with the:
    </p>

    <%= govuk_list [
      "further education provider where you currently teach",
      "Teacher’s Pension Scheme, if you have a teacher reference number (TRN) and choose to provide it",
      "the Student Loans Company"
    ], type: :bullet %>

    <%= govuk_details(summary_text: "Where to find your TRN") do %>
      <p class="govuk-body">
        A TRN is a 7-digit number that uniquely identifies you in the education sector in England. Most people eligible for a TRN will be given one automatically.
      </p>

      <p class="govuk-body">
        If you are unsure what your TRN is, you can:
      </p>

      <%= govuk_list [
        "Check your payslip or Teachers’ Pension Scheme Benefit Statement.",
        "Use #{govuk_link_to "Find a lost TRN", "https://find-a-lost-trn.education.gov.uk/start"} to check if you have a TRN or find your TRN.".html_safe,
      ], type: :number %>
    <% end %>

    <h2 class="govuk-heading-m">To pay you</h2>

    <p class="govuk-body">
      DfE will make the payment directly to you.
    </p>

    <p class="govuk-body">
      To complete the rest of your application, you will need your:
    </p>

    <%= govuk_list [
      "National Insurance number",
      "bank account details",
    ], type: :bullet %>

    <h2 class="govuk-heading-m">Student loan deductions</h2>

    <p class="govuk-body">
      If you are currently paying off a student loan, a deduction from your payment will go towards repaying it.
    </p>

    <h2 class="govuk-heading-m">Income Tax</h2>

    <p class="govuk-body">
      Your targeted retention incentive payment is taxable income.
      However DfE will pay any Income Tax and National Insurance contributions due to HMRC for you.
      This means the payment amount you receive may be lower following tax deductions.
    </p>

    <p class="govuk-body">
      For more details, you can read about payments and deductions for the
      <%= govuk_link_to "targeted retention incentive payment", t("further_education_payments.eligibility_criteria_link.url"), new_tab: true %>.
    </p>

    <%= govuk_button_to "Continue", claim_path(current_journey_routing_name), method: :patch %>
  </div>
</div>
