<% content_for(:page_title, page_title(@form.t(:heading), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :possible_school_id, @form.radio_options, :id, :name, :address,
        legend: {
          text: @form.t("heading"),
          tag: "h1",
          size: "l"
        },
        hint: -> { %>
          <p class="govuk-body">
            You must be directly employed by the provider. You are not eligible for a targeted retention incentive if:
          </p>

          <%= govuk_list [
            "you are employed through a subsidiary",
            "you are employed through an agency",
            "you are employed as a contractor",
            "you are employed by an organisation that is subcontracting with an eligible FE provider"
          ], type: :bullet %>
        <% } %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
