<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset :subjects_taught,
        legend: {
          text: @form.t(:question),
          tag: "h1",
          size: "l"
        },
        hint: {
          text: @form.t(:hint)
        } do %>
        <% @form.checkbox_options[0..-2].each do |option| %>
          <%= f.govuk_check_box :subjects_taught, option.id, label: { text: option.name }, link_errors: @form.checkbox_options.first == option %>
        <% end %>

        <%= f.govuk_check_box_divider %>

        <% option = @form.checkbox_options.last %>
        <%= f.govuk_check_box :subjects_taught, option.id, label: { text: option.name }, exclusive: true %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
