<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons(
        :teaching_qualification,
        @form.radio_options,
        :id,
        :name,
        legend: {
          text: @form.t(:question),
          tag: "h1",
          size: "l"
        }
      ) %>

      <%= govuk_details(summary_text: "If you do not have a teaching qualification") do %>
        <p class="govuk-body">
          To remain eligible for a retention payment next year, make sure you either:
        </p>

        <%= govuk_list [
          "complete a teaching qualification in the next 12 months",
          "enrol on a teaching qualification in the next 12 months"
        ], type: :bullet %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
