<% if support_ticket.persisted? %>

  <h2 class="govuk-heading-m">Support ticket</h2>

  <ul class="govuk-body">
    <li><%= govuk_link_to "View all suppport tickets in Zendesk", zendesk_email_search_url(@claim.email_address), new_tab: "" %></li>
    <li><%= govuk_link_to claim.support_ticket.url, claim.support_ticket.url, new_tab: ""  %></li>
  </ul>

<% else %>

  <%= form_with model: [:admin, claim, support_ticket] do |form| %>
    <%= form_group_tag support_ticket, :url do %>
      <%= errors_tag support_ticket, :url %>
      <%= form.label :url, "Support ticket", class: "govuk-label govuk-label--m" %>

      <%# EY journey without a practitioner will not have an email address yet %>
      <% if @claim.email_address %>
        <p class="govuk-body-m">
          <%= govuk_link_to "View all suppport tickets in Zendesk", zendesk_email_search_url(@claim.email_address) , new_tab: "" %>
        </p>
      <% end %>

      <div class="govuk-hint" id="ticket-hint">
        Create a ticket on Zendesk and enter the URL here.
      </div>
      <%= form.text_field :url, class: "govuk-input govuk-input", autocomplete: "off", "aria-describedby" => "ticket-hint" %>
    <% end %>

    <%= form.submit "Save support ticket", class: "govuk-button" %>
  <% end %>

<% end %>
