<% title = "This person may not be eligible" %>
<% content_for(:page_title, page_title(title, journey: current_journey_routing_name)) %>
<% @backlink_path = claim_path(current_journey_routing_name, "start-date") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">
      This person needs to have started their role on or after <%= l(Policies::EarlyYearsPayments::POLICY_START_DATE) %>.
    </p>

    <p class="govuk-body">
      Based on the date you’ve provided, this person is not eligible for an early years financial incentive payment.
    </p>

    <p class="govuk-body">
      For further guidance, you should refer to the
      <%= govuk_link_to "full eligibility criteria", claim_path(Journeys::EarlyYearsPayment::Provider::Start::ROUTING_NAME, "landing-page") %>
      at the start of this service.
    </p>

    <h2 class="govuk-heading-m">Get help with your claim</h2>

    <p class="govuk-body">
      Contact us for help at
      <%= govuk_mail_to support_email_address(current_journey_routing_name), support_email_address(current_journey_routing_name) %>
    </p>
    <%= govuk_button_link_to "Start again", claim_path(Journeys::EarlyYearsPayment::Provider::Start::ROUTING_NAME, "landing-page") %>
  </div>
</div>
