<% content_for(
  :page_title,
  page_title(
    t("early_years_payment_provider_authenticated.check_your_answers.title"),
    journey: current_journey_routing_name,
    show_error: @form.errors.any?
  )
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">
        <%= t("early_years_payment_provider_authenticated.check_your_answers.title") %>
      </h1>

      <%= render partial: "claims/check_your_answers_section", locals: {heading: nil, answers: journey.answers_for_claim(@form.journey_session).claim_answers} %>

      <h2 class="govuk-heading-m">
        <%= t("early_years_payment_provider_authenticated.check_your_answers.heading_send_application") %>
      </h2>

      <p class="govuk-body">
        <%= t("early_years_payment_provider_authenticated.check_your_answers.statement") %>
      </p>

      <%= f.govuk_text_field :provider_contact_name, label: { text: "Your full name" }, spellcheck: "false", autocomplete: "name" %>

      <%= f.govuk_submit t("early_years_payment_provider_authenticated.check_your_answers.btn_text") %>
    <% end %>
  </div>
</div>
