<% question = @form.t("question", first_name: answers.first_name) %>
<% content_for(:page_title, page_title(question, journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :child_facing_confirmation_given,
        inline: true,
        legend: {
          text: question,
          tag: "h1",
          size: "l",
        },
        hint: {
          text: @form.t(:hint, first_name: answers.first_name)
        }
      ) do %>
        <%= f.govuk_radio_button :child_facing_confirmation_given, true, label: { text: "Yes" } %>
        <%= f.govuk_radio_button :child_facing_confirmation_given, false, label: { text: "No" } %>
      <% end %>

      <%= govuk_details(summary_text: "What does working at least 70% of time directly with children mean?") do %>
        <p class="govuk-body">70% or more time applies to all early years foundation stage (EYFS) part and full-time roles, and there are no minimum number of contracted hours.</p>
        <p class="govuk-body">Working directly with children can involve:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>working in the room with children — this can include playrooms, baserooms or classrooms</li>
          <li>guiding, supporting, and interacting with children in their learning and development</li>
          <li>giving hands-on care, including health and hygiene</li>
        </ul>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>

