<% content_for(:page_title, page_title(@form.t(:question), journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :nursery_urn,
        legend: {
          text: @form.t(:question),
          tag: "h1",
          size: "l"
        }) do %>
        <% @form.selectable_nurseries.each do |nursery| %>
          <%= f.govuk_radio_button :nursery_urn, nursery.urn, label: { text: nursery.nursery_name }, hint: { text: nursery.nursery_address }, link_errors: @form.selectable_nurseries.first == nursery %>
        <% end %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :nursery_urn, "none_of_the_above", label: { text: "None of the above" } %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
