<% question = @form.t("question", first_name: answers.first_name, six_months_before_start_date: @form.six_months_before_start_date.to_fs(:long_date), start_date: @form.start_date.to_fs(:long_date)) %>
<% content_for(:page_title, page_title(question, journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: @form.url, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
        :returning_within_6_months,
        inline: true,
        legend: {
          text: question,
          tag: "h1",
          size: "l"
        }) do %>
        <%= f.govuk_radio_button :returning_within_6_months, true, label: { text: "Yes" } %>
        <%= f.govuk_radio_button :returning_within_6_months, false, label: { text: "No" } %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
