<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-body">
      <% if f.object.errors.include?(:award_amount) %>
        <%= label_tag "topup-award-amount-field-error", "Top up amount" %>
      <% else %>
        <%= label_tag "topup-award-amount-field", "Top up amount" %>
      <% end %>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= f.govuk_text_field :award_amount, label: nil, inputmode: "numeric", width: 5, prefix_text: "£" %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= f.govuk_submit "Top up" %>
    <%= govuk_button_link_to "Cancel", admin_claim_tasks_path(f.object.claim), secondary: true %>
  </div>
</div>
