<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-body">
      <%= label_tag "topup-award-amount-field", "Top up amount" %>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= f.govuk_text_field :award_amount, label: nil, inputmode: "numeric", width: 5, prefix_text: "£", disabled: true %>
  </div>
</div>

<%= govuk_warning_text(text: "Confirm #{number_to_currency(f.object.award_amount)} is the correct amount") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= f.hidden_field :confirmation, value: true %>
    <%= f.govuk_submit "Confirm" %>
    <%= govuk_button_link_to "Cancel", admin_claim_tasks_path(f.object.claim), secondary: true %>
  </div>
</div>
