<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: admin_claim_topups_path(@claim),
      html: { autocomplete: "off" },
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>
    <% end %>

    <span class="govuk-caption-xl"><%= @claim.policy.short_name %> (<%= @claim.academic_year %>)</span>
    <h1 class="govuk-heading-xl">
      Top up payment for claim <%= @claim.reference %>
    </h1>
  </div>
</div>

<%= form_with model: @form,
  url: admin_claim_topups_path(@claim),
  html: { autocomplete: "off" },
  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.hidden_field :step %>

  <% if @form.step == :award_amount %>
    <%= render partial: "award_amount", locals: { f: f } %>
  <% else %>
    <%= f.hidden_field :award_amount %>
    <%= render partial: "confirmation", locals: { f: f } %>
  <% end %>
<% end %>
