<% if claims_preventing_payment.any? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      <p class="govuk-!-margin-top-0">
        This claim cannot currently be approved because we’re already paying
        <%= claims_preventing_payment.one? ? "another claim" : "other claims" %>
        (<%= claims_preventing_payment.map(&:reference).to_sentence %>)
        to this claimant in this payroll month using different payment details.
      </p>
      <p>
        Please check the guidance in the operations playbook and speak to a
        Grade 7 before making a decision on this claim.
      </p>
    </strong>
  </div>
<% end %>

<% if claim.held? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      <p class="govuk-!-margin-top-0">
        You cannot approve or reject a claim that is on hold
      </p>
    </strong>
  </div>
<% end %>

<% if claim.attributes_flagged_by_risk_indicator.any? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      <p class="govuk-!-margin-top-0">
        This claim cannot be approved because the
        <%= @claim.attributes_flagged_by_risk_indicator.map(&:humanize).to_sentence.downcase %>
        <%= @claim.attributes_flagged_by_risk_indicator.many? ? "are" : "is" %>
        included on the fraud prevention list.
      </p>
    </strong>
  </div>
<% end %>

<%= form_for decision, url: admin_claim_decisions_path(claim), html: { id: "claim_decision_form" }, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= hidden_field_tag :qa, params[:qa] %>

  <%= form_group_tag decision do %>
    <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
        <h2 class="govuk-fieldset__heading">
          <%= @qa_decision_task ? "Quality assurance" : "Claim" %> decision
        </h2>
      </legend>

      <%= errors_tag decision, :approved %>

      <div class="govuk-radios" data-module="govuk-radios">
        <%= f.hidden_field :approved %>
        <div class="govuk-radios__item">
          <%= f.radio_button(:approved, true, class: "govuk-radios__input", disabled: !claim.approvable?) %>
          <%= f.label(
            "approved_true",
            (
              @qa_decision_task && claim.rejected? ? "Claim meets eligibility criteria. Approve claim for payment" : "Approve"
            ),
            class: "govuk-label govuk-radios__label"
          ) %>
        </div>

        <div class="govuk-radios__item">
          <%= f.radio_button(:approved, false, class: "govuk-radios__input", disabled: !claim.rejectable?, data: { aria_controls: "conditional-rejected-reasons" }) %>
          <%= f.label(
            "approved_false",
            (
              @qa_decision_task && claim.rejected? ? "Claim does not meet eligibility criteria. Reject claim" : "Reject"
            ),
            class: "govuk-label govuk-radios__label"
          ) %>
        </div>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rejected-reasons">
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-2">
              <h3 class="govuk-fieldset__heading">
                Reasons for rejection
              </h3>
            </legend>

            <%= errors_tag decision, :rejected_reasons %>

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <% Decision.rejected_reasons_for(claim.policy).each do |reason| %>
                <% reason_prefixed = "rejected_reasons_#{reason}" %>
                <div class="govuk-checkboxes__item">
                  <%= f.hidden_field reason_prefixed, value: false %>
                  <%= f.check_box reason_prefixed, class: "govuk-checkboxes__input subject", id: reason_prefixed %>
                  <%= f.label reason_prefixed, t("#{claim.policy.locale_key}.admin.decision.rejected_reasons.#{reason}"), class: "govuk-label govuk-checkboxes__label", for: reason_prefixed %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <%= f.govuk_text_area :notes,
      rows: 5,
      label: {
        text: "Decision notes",
        size: "m"
      },
      hint: {
        text: "Please write a brief note explaining why this claim has been rejected or approved."
      }
    %>

    <%= f.govuk_submit "Confirm decision" %>
  <% end %>
<% end %>
