<% content_for(:page_title) { page_title("Claim #{@claim.reference} decision") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<div class="govuk-grid-row">
  <%= render("shared/error_summary", instance: @decision, errored_field_id_overrides: { "approved": "decision_approved_true" }) if @decision.errors.any? %>

  <%= render "admin/tasks/#{claim_summary_view}", claim: @claim, heading: "Claim decision" %>

  <div class="govuk-grid-column-two-thirds">
    <%= render("incomplete_tasks", claim: @claim, incomplete_task_names: @claim_checking_tasks.incomplete_task_names) if @claim_checking_tasks.incomplete_task_names.any? %>
    <%= render "decision_form", claim: @claim, decision: @decision, claims_preventing_payment: @claims_preventing_payment %>

    <%= render partial: "admin/task_pagination", locals: { task_pagination: @task_pagination } %>
  </div>
</div>
