<% content_for(:page_title) { page_title("Claim #{@claim.reference} decision") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<div class="govuk-grid-row">
  <%= form_with model: @decision_form,
    url: admin_claim_decisions_path(@claim),
    scope: "decision",
    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <%= f.govuk_error_summary %>
  <% end %>

  <%= render "admin/tasks/#{claim_summary_view}", claim: @claim, heading: "Claim decision" %>

  <div class="govuk-grid-column-two-thirds">
    <%= render("incomplete_tasks", claim: @claim, incomplete_task_names: @claim_checking_tasks.incomplete_task_names) if @claim_checking_tasks.incomplete_task_names.any? %>
    <%= render(
      "decision_form",
      claim: @claim,
      decision_form: @decision_form,
      claims_preventing_payment: @claims_preventing_payment,
      claim_checking_tasks: @claim_checking_tasks
    ) %>

    <%= render partial: "admin/task_pagination", locals: { task_pagination: @task_pagination } %>
  </div>
</div>
