<%= content_for(:page_title) { "Unsubscribe" } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: unsubscribe_index_path,
      scope: "",
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= f.hidden_field :id %>

      <h1 class="govuk-heading-l">
        Are you sure you wish to unsubscribe from your reminder?
      </h1>

      <p class="govuk-body">
        You will no longer receive reminders regarding future application windows for targeted retention incentive payments from the Department for Education.
      <p>

      <p class="govuk-body">
        However, if you have already submitted a claim for a targeted retention incentive payment, you will still continue to receive updates about the progress of your claim.
      <p>

      <p class="govuk-body">
        You may also continue to receive communications related to the Claim Additional Payments service. Please email <%= govuk_mail_to I18n.t(:support_email_address) %> if you no longer want to receive emails.
      <p>

      <%= f.govuk_submit "Unsubscribe" %>
    <% end %>
  </div>
</div>
