<%= content_for(:page_title) { "Unsubscribe" } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form,
      url: unsubscribe_index_path,
      scope: "",
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= f.hidden_field :id %>

      <h1 class="govuk-heading-l">
        Are you sure you wish to unsubscribe from your reminder?
      </h1>

      <p class="govuk-body">
        You will no longer receive your reminder to <%= @form.obfuscasted_email %>.
      <p>

      <p class="govuk-body">
        However, you will still continue to receive updates about your claim as it progresses.
      <p>

      <p class="govuk-body">
        You will also continue to receive communications related to the claim service, please contact <%= govuk_mail_to I18n.t(:support_email_address) %> if you no longer wish these kinds of updates.
      <p>

      <%= f.govuk_submit "Unsubscribe" %>
    <% end %>
  </div>
</div>
