<% content_for(:page_title) { page_title("Claim #{@claim.reference} notes") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: claims_backlink_path %>
<% end %>

<%= render("shared/error_summary", instance: @note) if @note.errors.any? %>
<%= render("shared/error_summary", instance: @hold_note, errored_field_id_overrides: {body: "hold_body"}) if @hold_note.errors.any? %>

<div class="govuk-grid-row">
  <%= render "admin/tasks/#{claim_summary_view}", claim: @claim, heading: @claim.reference %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>

    <%= render "admin/claims/tabs", claim: @claim %>

    <div class="govuk-tabs__panel">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
          <%= render "admin/support_tickets/widget", claim: @claim, support_ticket: (@claim.support_ticket || SupportTicket.new) %>

          <% if @claim.held? %>
            <h2 class="govuk-heading-m">On hold</h2>

            <%= form_with url: admin_claim_unhold_path(@claim), scope: :hold, method: :patch do |form| %>
              <%= form.submit "Remove on hold status", class: "govuk-button" %>
            <% end %>

          <% elsif @claim.holdable? %>

            <%= form_with model: @hold_note, url: admin_claim_hold_path(@claim), scope: :hold, method: :patch do |form| %>
              <%= form_group_tag @hold_note, :body do %>
                <%= form.label :body, "On hold", class: "govuk-label govuk-label--m" %>
                <%= errors_tag @hold_note, :body %>
                <p class="govuk-hint" id="hold-hint">Enter a reason for the claim to be put on hold</p>
                <%= form.text_area :body, class: "govuk-textarea", "aria-describedby" => "hold-hint", rows: 2 %>
              <% end %>

              <%= form.submit "Save on hold status", class: "govuk-button" %>
            <% end %>
          <% end %>

          <h2 class="govuk-heading-m">Notes</h2>

          <div class="hmcts-timeline">
            <% @notes.each do |note| %>
              <%= render "admin/notes/note", note: note, display_description: true %>
            <% end %>
          </div>

          <%= render "admin/notes/form", claim: @claim, note: @note || Note.new %>
        </div>
      </div>
    </div>
  </div>
</div>
