<% content_for(:page_title) { page_title("Claim #{@claim.reference} notes") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: claims_backlink_path %>
<% end %>

<% if !(@claim.support_ticket || SupportTicket.new).persisted? %>
  <%= form_with model: [:admin, @claim, (@claim.support_ticket || SupportTicket.new)], builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <%= f.govuk_error_summary  %>
  <% end %>
<% end %>

<%= form_with model: @hold_note, url: admin_claim_hold_path(@claim), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary  %>
<% end %>

<%= form_with model: @note, url: admin_claim_notes_path(@claim), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary  %>
<% end %>

<div class="govuk-grid-row">
  <%= render "admin/tasks/#{claim_summary_view}", claim: @claim, heading: @claim.reference %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>

    <%= render "admin/claims/tabs", claim: @claim %>

    <div class="govuk-tabs__panel">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
          <%= render "admin/support_tickets/widget", claim: @claim, support_ticket: (@claim.support_ticket || SupportTicket.new) %>

          <% if @claim.held? %>
            <h2 class="govuk-heading-m">On hold</h2>

            <%= form_with url: admin_claim_unhold_path(@claim),
              scope: :hold,
              method: :patch,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
              <%= f.govuk_submit "Remove on hold status" %>
            <% end %>
          <% elsif @claim.holdable? %>
            <%= form_with model: @hold_note,
              url: admin_claim_hold_path(@claim),
              scope: :hold,
              method: :patch,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
              <%= f.govuk_text_area :body,
                rows: 2,
                label: {
                  text: "On hold",
                  tag: "h2",
                  size: "m"
                },
                hint: {
                  text: "Enter a reason for the claim to be put on hold"
                }
              %>

              <%= f.govuk_submit "Save on hold status" %>
            <% end %>
          <% end %>

          <h2 class="govuk-heading-m">Notes</h2>

          <div class="hmcts-timeline">
            <% @notes.each do |note| %>
              <%= render "admin/notes/note", note: note, display_description: true %>
            <% end %>
          </div>

          <%= render "admin/notes/form", claim: @claim, note: @note || Note.new %>
        </div>
      </div>
    </div>
  </div>
</div>
