<% content_for(:page_title) { page_title("Claim #{@claim.reference} notes") } %>

<%= link_to "Back", admin_claims_path, class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <%= render "admin/tasks/claim_summary", claim: @claim, heading: @claim.reference %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>

    <%= render "admin/claims/tabs", claim: @claim %>

    <section class="govuk-tabs__panel" role="tabpanel" aria-labelledby="tab_tasks">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
          <%= render "admin/support_tickets/widget", claim: @claim, support_ticket: (@claim.support_ticket || SupportTicket.new) %>

          <h2 class="govuk-heading-m">Claim notes</h2>

          <div class="hmcts-timeline">
            <% @claim.notes.order(created_at: :desc).each do |note| %>
              <div class="hmcts-timeline__item">
                <section>
                  <%= simple_format note.body, class: "govuk-body" %>
                </section>

                <p class="hmcts-timeline__description">
                  by <%= user_details(note.created_by, include_line_break: false) %>
                  on <%= l(note.created_at) %>
                </p>
              </div>
            <% end %>
          </div>

          <%= render "admin/notes/form", claim: @claim, note: @note || Note.new %>
        </div>
      </div>
    </section>
  </div>
</div>
