<h2 class="govuk-heading-m">
  Set DfE sign in payload details
</h2>

<p class="govuk-body">
  In environments where DfE Sign-in is not enabled you can use this form to
  set payload parameters to test different DfE Sign-in scenarios.
</p>

<%= form_with(
  url: "/further-education-payments-provider/auth/callback",
  method: :get,
  builder: GOVUKDesignSystemFormBuilder::FormBuilder
) do |f| %>
  <div class="govuk-form-group">
    <%= f.govuk_text_field(
      "extra[raw_info][organisation][ukprn]",
      label: { text: "UKPRN" },
      value: "10000952"
    ) %>

    <%= f.govuk_text_field(
      "extra[raw_info][organisation][id]",
      label: { text: "Organisation id" },
      value: "12345678"
    ) %>

    <%= f.govuk_text_field(
      "extra[raw_info][organisation][name]",
      label: { text: "Organisation id" },
      value: "Springfield Elementary School"
    ) %>

    <%= f.govuk_text_field(
      "uid",
      label: { text: "DfE sign in UID" },
      value: "12345678"
    ) %>

    <%= f.govuk_text_field(
      "info[first_name]",
      label: { text: "First name" },
      value: "Seymoure"
    ) %>

    <%= f.govuk_text_field(
      "info[last_name]",
      label: { text: "Last name" },
      value: "Skinner"
    ) %>

    <%= f.govuk_text_field(
      "info[email]",
      label: { text: "Email" },
      value: "seymoure.skinner@springfield-elementary.edu"
    ) %>

    <%= f.govuk_text_field(
      "roles[0]",
      label: { text: "Role 1" },
      value: Policies::FurtherEducationPayments::CLAIM_VERIFIER_DFE_SIGN_IN_ROLE_CODE
    ) %>

    <%= f.govuk_text_field("[roles][1]", label: { text: "Role 2" }) %>

    <%= f.govuk_text_field("[roles][2]", label: { text: "Role 3" }) %>

    <%= f.govuk_check_box(
      "service_access",
      true,
      false,
      label: { text: "Claim service access"},
      multiple: false,
      checked: true
    ) %>
  </div>

  <%= f.govuk_submit("Start now") %>
<% end %>
