<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Email verification</span>

    <%= form_for @form, url: reminder_path(current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :one_time_password,
        autocomplete: "off",
        width: 5,
        label: {
          text: t("one_time_password.title"),
          size: "l",
          tag: "h1"
        },
        hint: -> do %>
          <p>
            <%= t("one_time_password.hint1_html", email_or_mobile_message: "an email", email_or_mobile_value: @form.email_address) %>
          </p>

          <p>
            <%= t("one_time_password.validity_duration", duration_valid: one_time_password_validity_duration) %>
          </p>
        <% end %>

      <div class="govuk-body govuk-!-margin-bottom-6">
        <%= govuk_link_to "Resend passcode (you will be sent back to the email address page)", new_reminder_path, no_visited_state: true %>
      </div>

      <div class="govuk-button-group">
        <%= f.govuk_submit "Confirm" %>
        <%= govuk_button_link_to "Change email address", new_reminder_path, secondary: true %>
      </div>
    <% end %>
  </div>
</div>
