<% content_for(:page_title, page_title("Claim submitted", journey: current_journey_routing_name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title" id="submitted-title">
        Claim submitted
      </h1>

      <div class="govuk-panel__body">
        Your claim reference<br>
        <strong><%= submitted_claim.reference %></strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      You’ve completed a claim for an early years incentive payment.
    </h2>

    <p class="govuk-body">
      We’ve sent a confirmation email to <%= submitted_claim.email_address %>.
    </p>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p class="govuk-body">
      We’ll review your claim and let you know by email if it’s been accepted.
    </p>

    <p class="govuk-body">
      After 6 months in your role, we’ll check with <%= submitted_claim.eligibility.eligible_ey_provider.nursery_name %> that you’re still working for them. If you are, we’ll:
    </p>

    <%= govuk_list [
      "make the payment into your bank account around 6 weeks later",
      "email you to confirm the payment"
    ], type: :bullet %>

    <p class="govuk-body">
      <%= govuk_link_to(
        "What do you think of this service?",
        "https://dferesearch.fra1.qualtrics.com/jfe/form/SV_ac7B9JNa2uhoH78",
        new_tab: true
      ) %>
  </div>
</div>
