<% content_for(:page_title, page_title("Your email address", journey: current_journey_routing_name, show_error: @form.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: claim_path(current_journey_routing_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { novalidate: false } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :email_address,
        autocomplete: "email",
        spellcheck: "false",
        label: {
          text: @form.t("label"),
          tag: "h1",
          size: "l"
        },
        hint: -> do %>
          <p><%= @form.t("hint1") %></p>
          <p><%= @form.t("hint2") %></p>
        <% end %>
      <%= f.hidden_field :resend, value: params[:resend] %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
