<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-l">
      Claim an early years incentive payment: new and returning educators
    </h1>

    <p class="govuk-body-l">
      How to claim £1,000 bonuses for recruiting new and returning early year educators.
    </p>

    <%= render "govuk_publishing_components/components/contents_list", contents: [
      {
        text: "About the scheme",
        href: "#about-the-scheme"
      },
      {
        text: "Eligibility criteria",
        href: "#eligibility-criteria"
      },
      {
        text: "How to apply",
        href: "#how-to-apply"
      },
      {
        text: "Start the claim as an early years provider",
        href: "#start-the-claim-as-an-early-years-provider"
      },
      {
        text: "Complete the claim as an early years educator",
        href: "#complete-the-claim-as-an-early-years-educator"
      },
      {
        text: "Reapply for the scheme after leaving employment",
        href: "#reapply-for-the-scheme-after-leaving-employment"
      },
      {
        text: "The impact on tax and student loans",
        href: "#the-impact-on-tax-and-student-loans"
      }
    ] %>
    <h2 id="about-the-scheme" class="govuk-heading-m">About the scheme</h2>

    <p class="govuk-body">
      The Department for Education (DfE) is offering a £1,000 financial incentive to new and returning educators.
      This is to increase the number of staff in nurseries and early years providers.
    </p>

    <p class="govuk-body">
      Eligible nurseries can apply for the £1,000 bonus on behalf of new and returning educators from September 2025.
    </p>

    <p class="govuk-body">
      DfE reserves the bonuses for eligible nurseries in the order in which they receive them.
    </p>

    <%= govuk_inset_text(
      text: "To start an application on behalf of an educator, nurseries must have made an expression of interest to DfE between July and September 2025. Nurseries will receive a link to the online service via email on a first-come, first-served basis."
    ) %>

    <h2 id="eligibility-criteria" class="govuk-heading-m">Eligibility criteria</h2>

    <h3 class="govuk-heading-s">Find out if your nursery is eligible</h3>

    <p class="govuk-body">
      Only nurseries that DfE has contacted in the following local authorities are eligible:
    </p>

    <%= govuk_list [
      "Bedford",
      "Birmingham",
      "Bolton",
      "Bournemouth, Christchurch and Poole",
      "Calderdale",
      "Cornwall",
      "County Durham",
      "Cumberland",
      "Darlington",
      "Derbyshire",
      "Devon",
      "Dorset",
      "Dudley",
      "East Sussex",
      "Essex",
      "Gateshead",
      "Hampshire",
      "Kent",
      "Kingston upon Hull",
      "Leeds",
      "Newcastle upon Tyne",
      "Norfolk",
      "North Somerset",
      "North Tyneside",
      "Nottingham",
      "Nottinghamshire",
      "Oxfordshire",
      "Rochdale",
      "Sheffield",
      "Suffolk",
      "Sunderland",
      "Swindon",
      "Telford and Wrekin",
      "Thurrock",
      "Torbay",
      "Trafford",
      "Warwickshire",
      "West Northamptonshire",
      "Westmorland and Furness"
    ], type: :bullet %>

    <h3 class="govuk-heading-s">Find out if you’re eligible as an early years educator</h3>

    <p class="govuk-body">
      To be eligible for a payment as an early years educator, you must:
    </p>

    <%= govuk_list [
      "have applied for a role with an attached incentive at an eligible nursery",
      "be on a permanent contract",
      "have started in your role on 15 July 2025 or later",
      "spend most of the time (70% or more) in your role working directly with children"
    ], type: :bullet %>

    <p class="govuk-body">
      Working directly with children can involve any of the following:
    </p>

    <%= govuk_list [
      "working in the room with children, including playrooms, base rooms and classrooms",
      "guiding, supporting and interacting with children in their learning and development",
      "giving hands-on care including health and hygiene"
    ], type: :bullet %>

    <p class="govuk-body">
      You’re also eligible for the scheme as an early years educator if you:
    </p>

    <%= govuk_list [
      "are new to the sector",
      "are moving from a temporary contract or apprenticeship to a permanent contract",
      "are returning after a break of at least 6 months",
      "are on either a permanent part-time or full-time contract – there is not a minimum amount of hours you need to work",
      "have not worked in a permanent nursery role in the 6 months prior to starting your new role, where you have spent most of your time (70% or more) working directly with children",
      "have no early years qualifications or have not worked in a nursery before"
    ], type: :bullet %>

    <h3 class="govuk-heading-s">When you’re not eligible</h3>

    <p class="govuk-body">
      You’re not eligible if you:
    </p>

    <%= govuk_list [
      "are an apprentice, even if you’re on a permanent contract during your apprenticeship – once you complete your apprenticeship and move into a permanent non-apprenticeship role, you will become eligible",
      "started your employment before 15 July 2025 and have returned from a long period of leave, such as maternity leave",
      "are on a non-permanent contract such as temporary, voluntary or agency contract"
    ], type: :bullet %>

    <h2 id="how-to-apply" class="govuk-heading-m">How to apply</h2>

    <p class="govuk-body">
      Early years providers start the claim on behalf of an early years educator. DfE will then email the educator to complete the claim.
    </p>

    <h2 id="start-the-claim-as-an-early-years-provider" class="govuk-heading-m">Start the claim as an early years provider</h2>

    <p class="govuk-body">
      Once an early years educator has started in their role:
    </p>

    <%= govuk_list [
      "The nursery has to start the claim on behalf of the early years educator",
      "DfE will reserve the money for the early years educator, who will receive an email inviting them to complete the claim.",
      "DfE will contact the nursery after 6 months to see if the early years educator is still in the role.",
      "If the early years educator is still in the role, DfE will pay the bonus into their bank account.",
    ], type: :number %>

    <h2 id="complete-the-claim-as-an-early-years-educator" class="govuk-heading-m">Complete the claim as an early years educator</h2>

    <p class="govuk-body">
      DfE will send the early years educator an email confirming that their employer has started the claim on their behalf.
    </p>

    <p class="govuk-body">
      The early years educator should complete the claim as soon as possible.
    </p>

    <p class="govuk-body">
      DfE will make the payment to the early years educator’s bank account once they’ve been in their role for 6 months.
    </p>

    <p class="govuk-body">
      Any funding they’ve received to study for a college course or apprenticeship will not affect the bonus.
    </p>

    <h2 id="reapply-for-the-scheme-after-leaving-employment" class="govuk-heading-m">Reapply for the scheme after leaving employment</h2>

    <p class="govuk-body">
      If an early years educator receives a bonus and later leaves their job, they can apply for the payment again.
    </p>

    <%= govuk_inset_text(
      text: "To be eligible, they must not have worked directly with children for 70% or more of their time in the 6 months prior to starting their new role."
    ) %>

    <h2 id="the-impact-on-tax-and-student-loans" class="govuk-heading-m">The impact on tax and student loans</h2>

    <h3 class="govuk-heading-s">National Insurance and Income Tax</h3>

    <p class="govuk-body">
      DfE will pay National Insurance and basic rate Income Tax on the recruitment bonus on behalf of an early years educator.
    </p>

    <p class="govuk-body">
      If an early years educator earns £50,270 or more a year, they’ll need to pay any Income Tax at the higher rate through PAYE.
    </p>

    <p class="govuk-body">
      The bonus is not part of an early years educator’s salary from their employer.
    </p>

    <%= govuk_inset_text(
      text: "The recruitment bonus, along with the Income Tax and National Insurance contributions made on the early years educator’s behalf, will count towards their income."
    ) %>

    <p class="govuk-body">
      The educator, nursery or the government will not make a contribution to the early years educator’s pension as part of the payment.
    </p>

    <p class="govuk-body">
      Early years educators should consider how receiving a recruitment bonus will affect any other benefits or tax credits they receive, such as
      <%= govuk_link_to "Universal Credit", "https://www.gov.uk/guidance/universal-credit-and-earnings" %>.
    </p>

    <h3 class="govuk-heading-s">If you have a student loan</h3>

    <p class="govuk-body">
      A deduction may come out of an early years educator’s bonus if:
    </p>

    <%= govuk_list [
      "they’re currently repaying a student loan",
      "their bonus takes them over the threshold amount for their #{govuk_link_to("repayment plan", "https://www.gov.uk/repaying-your-student-loan/which-repayment-plan-you-are-on")}".html_safe
    ], type: :bullet %>

    <p class="govuk-body">
      Read more about
      <%= govuk_link_to "when an early years educator will start paying back a student loan", "https://www.gov.uk/repaying-your-student-loan/when-you-start-repaying" %>
      and
      <%= govuk_link_to "what they’ll pay", "https://www.gov.uk/repaying-your-student-loan/what-you-pay" %>.
    </p>

    <p class="govuk-body">
      Find out about how early years educators may be able to
      <%= govuk_link_to "claim back student loan deductions", "https://www.gov.uk/repaying-your-student-loan/what-you-pay" %>
      at the end of the tax year.
    </p>
  </div>
</div>
