<button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
<nav>
  <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
    <% if service_operator_signed_in? %>
      <li class="govuk-header__navigation-item">
        <%= link_to "View claims", admin_claims_path, class: "govuk-header__link" %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= link_to "Search", search_admin_claims_path, class: "govuk-header__link" %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= link_to "Payroll", admin_payroll_runs_path, class: "govuk-header__link" %>
      </li>
      <li class="govuk-header__navigation-item">
        <%= link_to "Open/close a service", admin_policy_configurations_path, class: "govuk-header__link" %>
      </li>
    <% end %>
    <li class="govuk-header__navigation-item">
      <%= link_to "Sign out", admin_sign_out_path, method: :delete, class: "govuk-header__link" %>
    </li>
  </ul>
</nav>
