<% content_for(:page_title, page_title(t("maths_and_physics.questions.initial_teacher_training_specialised_in_maths_or_physics"), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { "eligibility.initial_teacher_training_specialised_in_maths_or_physics": "claim_eligibility_attributes_initial_teacher_training_specialised_in_maths_or_physics_true" }) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>

          <%= fields.hidden_field :initial_teacher_training_specialised_in_maths_or_physics %>

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <%= t("maths_and_physics.questions.initial_teacher_training_specialised_in_maths_or_physics") %>
              </h1>
            </legend>

            <span class="govuk-hint">
              Please select no if you completed your initial teacher training in science but did not specialise
              in physics.
            </span>

            <%= errors_tag current_claim.eligibility, :initial_teacher_training_specialised_in_maths_or_physics %>

            <div class="govuk-radios govuk-radios--inline">

              <div class="govuk-radios__item">
                <%= fields.radio_button(:initial_teacher_training_specialised_in_maths_or_physics, true, class: "govuk-radios__input") %>
                <%= fields.label :initial_teacher_training_specialised_in_maths_or_physics_true, "Yes", class: "govuk-label govuk-radios__label" %>
              </div>

              <div class="govuk-radios__item">
                <%= fields.radio_button(:initial_teacher_training_specialised_in_maths_or_physics, false, class: "govuk-radios__input") %>
                <%= fields.label :initial_teacher_training_specialised_in_maths_or_physics_false, "No", class: "govuk-label govuk-radios__label" %>
              </div>

            </div>

          </fieldset>

        <% end %>
      <% end %>

      <%= form.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
