<% content_for(:page_title, page_title(t("maths_and_physics.questions.initial_teacher_training_subject_specialism"), policy: current_policy_routing_name, show_error: current_claim.errors.any?)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: current_claim, errored_field_id_overrides: { "eligibility.initial_teacher_training_subject_specialism": "claim_eligibility_attributes_initial_teacher_training_subject_specialism_physics" }) if current_claim.errors.any? %>

    <%= form_for current_claim, url: claim_path(current_policy_routing_name) do |form| %>
      <%= form_group_tag current_claim do %>
        <%= form.fields_for :eligibility, include_id: false do |fields| %>

          <%= fields.hidden_field :initial_teacher_training_subject_specialism %>

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <%= t("maths_and_physics.questions.initial_teacher_training_subject_specialism") %>
              </h1>
            </legend>

            <span class="govuk-hint">
              Your specialism is normally the science you spent the most time training to teach.
            </span>

            <%= errors_tag current_claim.eligibility, :initial_teacher_training_subject_specialism %>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <%= fields.radio_button(:initial_teacher_training_subject_specialism, :physics, class: "govuk-radios__input") %>
                <%= fields.label "initial_teacher_training_subject_specialism_physics", t("maths_and_physics.answers.initial_teacher_training_subject_specialism.physics"), class: "govuk-label govuk-radios__label" %>
              </div>

              <div class="govuk-radios__item">
                <%= fields.radio_button(:initial_teacher_training_subject_specialism, :biology, class: "govuk-radios__input") %>
                <%= fields.label "initial_teacher_training_subject_specialism_biology", t("maths_and_physics.answers.initial_teacher_training_subject_specialism.biology"), class: "govuk-label govuk-radios__label" %>
              </div>

              <div class="govuk-radios__item">
                <%= fields.radio_button(:initial_teacher_training_subject_specialism, :chemistry, class: "govuk-radios__input") %>
                <%= fields.label "initial_teacher_training_subject_specialism_chemistry", t("maths_and_physics.answers.initial_teacher_training_subject_specialism.chemistry"), class: "govuk-label govuk-radios__label" %>
              </div>

              <div class="govuk-radios__item">
                <%= fields.radio_button(:initial_teacher_training_subject_specialism, :not_sure, class: "govuk-radios__input") %>
                <%= fields.label "initial_teacher_training_subject_specialism_not_sure", t("maths_and_physics.answers.initial_teacher_training_subject_specialism.not_sure"), class: "govuk-label govuk-radios__label" %>
              </div>
            </div>

          </fieldset>

        <% end %>
      <% end %>

      <%= form.submit "Continue", class: "govuk-button", data: {module: "govuk-button"} %>
    <% end %>
  </div>
</div>
