<% admin_answers_presenter = Policies::FurtherEducationPayments::EligibilityAdminAnswersPresenter.new(@claim.eligibility) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Personal details",
        answers: admin_personal_details(@claim)
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Provider details",
        answers: admin_answers_presenter.provider_details
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Employment contract",
        answers: admin_answers_presenter.employment_contract
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Academic year claimant started teaching",
        answers: admin_answers_presenter.academic_year_claimant_started_teaching
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Subjects taught",
        answers: admin_answers_presenter.subjects_taught
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Teaching hours",
        answers: admin_answers_presenter.teaching_hours
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Qualification",
        answers: admin_answers_presenter.teaching_qualification
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Performance and disciplinary measures",
        answers: admin_answers_presenter.performance_and_disciplinary_measures
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Policy options provided",
        answers: admin_answers_presenter.policy_options_provided
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Student loan details",
        answers: admin_student_loan_details(@claim)
      }
    ) %>

    <%= render(
      "admin/claims/answer_section",
      {
        heading: "Submission details",
        answers: admin_submission_details(@claim)
      }
    ) %>

    <%= render(
      "claims_with_matching_details",
      {
        matching_claims: @matching_claims,
        claim: @claim,
        show_caption: true
      }
    ) if @matching_claims.any? %>

    <% (decisions = @claim.decisions.order(created_at: :asc)).each do |decision| %>
      <% heading = (decisions.first == decision ? "Claim decision details" : nil) %>
      <%= render "admin/claims/answer_section", {heading:, answers: admin_decision_details(decision)} %>
    <% end %>
  </div>
</div>
