<h2 class="govuk-heading-m">Allocate claims</h2>

<%= form_with url: admin_bulk_allocate_path, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <div id="allocations">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= form.govuk_select(
          :allocate_to_team_member,
          options_for_select(
            DfeSignIn::User.options_for_select,
            params[:allocate_to_team_member]
          ),
          label: { text: "Team members:" },
          class: "govuk-!-width-full"
        ) %>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <%= form.govuk_select(
          :allocate_to_policy,
          options_for_select(Policies.options_for_select, params[:policy]),
          options: { include_blank: "All" },
          label: { text: "Policy:" },
          class: "govuk-!-width-full"
        ) %>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <%= form.govuk_select(
          :status,
          label: { text: "Status" },
          class: "govuk-!-width-full"
        ) do %>
          <% filter_form.status_grouped_select_options.each do |group_name, menu_items| %>
            <optgroup label="<%= group_name %>">
              <% menu_items.each do |name, value| %>
                <option value="<%= value %>" <%= "selected" if @filter_form.status == value %>>
                  <%= name %>
                </option>
              <% end %>
            </optgroup>
          <% end %>
        <% end %>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <%= form.govuk_select(
          :allocate_claim_count,
          options_for_select([1, 5, 10, 25], params[:allocate_claim_count] || 25),
          label: { text: "Number of claims:" },
          class: "govuk-!-width-full"
        ) %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-form-group">
        <div class="govuk-grid-column-two-thirds">
          <%= form.submit(
            "Allocate claims",
            class: "govuk-button govuk-button--secondary",
            id: :allocate,
            disabled: @claims.where(assigned_to: nil).count.zero?
          ) %>

        <%= form.submit(
          "Unallocate claims",
          class: "govuk-button govuk-button--secondary",
          id: :unallocate,
          formaction: admin_bulk_deallocate_path
        ) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
