<% allocate_claim_count = @claims.where(assigned_to: nil).count > 25 ? 25 : @claims.where(assigned_to: nil).size %>

<%= form_with url: admin_bulk_allocate_path, method: :patch do |form| %>
  <div class="govuk-form-group">
    <label class="govuk-label" for="allocate_to">
      Team members:
    </label>

    <%= form.hidden_field :allocate_claim_count, value: allocate_claim_count %>
    <%= form.select :allocate_to, options_for_select(DfeSignIn::User.options_for_select, params[:allocate_to]), {}, class: "govuk-select" %>
    <%= form.submit "Allocate #{allocate_btn_text(allocate_claim_count)}", class: "govuk-button govuk-button--secondary", disabled: allocate_claim_count.zero? %>
    <%= form.submit "Unallocate claims", class: "govuk-button govuk-button--secondary", formaction: admin_bulk_deallocate_path %>
  </div>
<% end %>
