<% content_for(:page_title) { page_title("View claims") } %>

<%= link_to "Back", admin_root_path, class: "govuk-back-link" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Claims
    </h1>

    <%= form_with url: admin_claims_path, method: :get do |form| %>
      <div class="govuk-form-group">
        <label class="govuk-label" for="policy">
          Filter by service:
        </label>
        <%= form.select :policy, options_for_select(Policies.options_for_select, params[:policy]), {include_blank: "All"}, class: "govuk-select" %>
        <%= form.submit "Go", class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>

    <% if @claims.any? %>
      <% claims_with_warning = Claim.approaching_decision_deadline.count + Claim.passed_decision_deadline.count %>

      <h2 class="govuk-heading-m"><%= pluralize(@claims.count, "claim") %> awaiting a decision</h2>
      <%= link_to "Download report request file", admin_claims_path(format: :csv), class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" }, role: :button %>
      <%= link_to "Upload DQT report", new_admin_qualification_report_upload_path, class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" }, role: :button %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Applicant Name</th>
            <th scope="col" class="govuk-table__header">ID Verification</th>
            <th scope="col" class="govuk-table__header">Service</th>
            <% if claims_with_warning.nonzero? %>
              <th scope="col" class="govuk-table__header">Decision warning</th>
            <% end %>
            <th scope="col" class="govuk-table__header">Decision deadline</th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @claims.each do |claim| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><%= claim.reference %></th>
              <td class="govuk-table__cell"><%= claim.full_name %></td>
              <td class="govuk-table__cell"><%= identity_confirmation_task_claim_verifier_match_status_tag(claim) %></td>
              <td class="govuk-table__cell"><%= claim.policy.short_name %></td>
              <% if claims_with_warning.nonzero? %>
                <td class="govuk-table__cell"><%= decision_deadline_warning(claim) %></td>
              <% end %>
              <td class="govuk-table__cell"><%= l(claim.decision_deadline_date) %></td>
              <td class="govuk-table__cell">
                <%= link_to 'View tasks', admin_claim_tasks_path(claim), class: "govuk-link" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>

      <h2 class="govuk-heading-m">There are currently no claims to approve.</h2>

    <% end %>
  </div>
</div>
