<% content_for(:page_title) { page_title("Search claims") } %>

<%= link_to "Back", admin_root_path, class: "govuk-back-link" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Search for a claim
    </h1>

    <%= form_with url: search_admin_claims_path, method: :get do |form| %>
      <div class="govuk-form-group">
        <%= form.label :query, "Enter a reference, email address, Teacher Reference Number, or surname", class: "govuk-label" %>
        <%= form.text_field :query, class: "govuk-input govuk-input--width-20" %>
      </div>

      <div class="govuk-form-group">
        <%= form.submit "Search", class: "govuk-button" %>
      </div>
    <% end %>

    <% if @claims && @claims.any? %>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Applicant Name</th>
            <th scope="col" class="govuk-table__header">Service</th>
            <th scope="col" class="govuk-table__header">Academic Year</th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @claims.each do |claim| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><%= claim.reference %></th>
              <td class="govuk-table__cell"><%= claim.full_name %></td>
              <td class="govuk-table__cell"><%= claim.policy.short_name %></td>
              <td class="govuk-table__cell"><%= claim.academic_year %></td>
              <td class="govuk-table__cell">
                <%= link_to "View details", admin_claim_tasks_path(claim), class: "govuk-link" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>
</div>
