<% content_for(:page_title) { page_title("View claim #{@claim.reference} for #{@claim.policy.short_name}") } %>

<% content_for :back_link do %>
  <%= govuk_back_link href: admin_claim_tasks_path(@claim) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("shared/error_summary", instance: @decision, errored_field_id_overrides: { "result": "decision_result_approved" }) if @decision.errors.any? %>

    <% if @claim.personal_data_removed? %>
      <div class="govuk-body-l govuk-flash__notice">
        This claim had personal data removed on <%= l(@claim.personal_data_removed_at.to_date) %>.
      </div>
    <% end %>

    <span class="govuk-caption-xl"><%= @claim.policy.short_name %>  (<%= @claim.academic_year %>)</span>
    <h1 class="govuk-heading-xl govuk-heading--navigation">
      <%= claim_summary_heading(@claim) %>
      <span class="govuk-body-m">
        <%= link_to "View tasks", admin_claim_tasks_path(claim_id: @claim.id), class: "govuk-link" %>
        <%= link_to "Amend claim", new_admin_claim_amendment_path(@claim), class: "govuk-link" if @claim.amendable? %>
        <%= link_to "Top up claim", new_admin_claim_topup_path(@claim), class: "govuk-link" if @claim.topupable? %>
      </span>
    </h1>

    <%= render("banner", important_notes: @claim.important_notes) if @claim.important_notes.any? %>
  </div>
</div>

<%= render("admin/claims/policies/#{@claim.policy.to_s.underscore}/claim") %>
