<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Claim <%= @claim.reference %>
    </h1>

    <%= render partial: "answer_section", locals: {heading: "Personal details", answers: admin_personal_details(@claim)} %>

    <%= render partial: "answer_section", locals: {heading: "Eligibility details", answers: admin_eligibility_answers(@claim.eligibility)} %>

    <%= render partial: "answer_section", locals: {heading: "Student loan details", answers: admin_student_loan_details(@claim)} %>

    <%= render partial: "answer_section", locals: {heading: "Submission details", answers: admin_submission_details(@claim)} %>

    <%= button_to "Approve",
                  admin_claim_checks_path(@claim),
                  method: :post,
                  class: "govuk-button",
                  data: { confirm: "Are you sure you want to approve this claim?" } %>
  </div>
</div>
