<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @claim.payroll_gender_missing? %>
      <div class="govuk-body-l govuk-flash__notice">
        This claim cannot be approved, the payroll gender is missing and the claim will need to be referred
      </div>
    <% end %>

    <h1 class="govuk-heading-xl">
      Claim <%= @claim.reference %>
    </h1>

    <%= render partial: "answer_section", locals: {heading: "Personal details", answers: admin_personal_details(@claim)} %>

    <%= render partial: "answer_section", locals: {heading: "Eligibility details", answers: admin_eligibility_answers(@claim.eligibility)} %>

    <%= render partial: "answer_section", locals: {heading: "Student loan details", answers: admin_student_loan_details(@claim)} %>

    <%= render partial: "answer_section", locals: {heading: "Submission details", answers: admin_submission_details(@claim)} %>

    <% if @claim.payroll_gender_missing? %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This claim cannot be approved, the payroll gender is missing and the claim will need to be referred
        </strong>
      </div>
    <% end %>

    <%= button_to "Approve",
                  admin_claim_checks_path(@claim),
                  params: { result: "approved" },
                  class: "govuk-button",
                  data: { confirm: "Are you sure you want to approve this claim?" },
                  disabled: @claim.payroll_gender_missing? %>

    <%= button_to "Reject",
                admin_claim_checks_path(@claim),
                params: { result: "rejected" },
                class: "govuk-button govuk-button--secondary",
                data: { confirm: "Are you sure you want to reject this claim?" } %>
  </div>
</div>
