<%= link_to "Back", admin_claims_path, class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: @decision, errored_field_id_overrides: { "result": "decision_result_approved" }) if @decision.errors.any? %>

    <% if @claim.payroll_gender_missing? && !@claim.decision_made? %>
      <div class="govuk-body-l govuk-flash__notice">
        <%= t("admin.unknown_payroll_gender_preventing_approval_message") %>
      </div>
    <% end %>

    <% if @matching_claims.any? %>
      <div class="govuk-body-l govuk-flash__warning">
        <a href="#claims-with-matches">Details in this claim match those in other claims</a>
      </div>
    <% end %>

    <span class="govuk-caption-xl"><%= @claim.policy.short_name %></span>
    <h1 class="govuk-heading-xl">
      <%= @claim.reference %>
      <span class="govuk-body-m">
        <%= link_to "View checks", admin_claim_checks_path(claim_id: @claim.id), class: "govuk-link" %>
      </span>
    </h1>

    <%= render("info_panel_identity_unconfirmed", school: @claim.school) unless @claim.identity_confirmed? %>

    <%= render "admin/claims/answer_section", {heading: "Personal details", answers: admin_personal_details(@claim)} %>

    <%= render "admin/claims/answer_section", {heading: "Eligibility details", answers: admin_eligibility_answers(@claim)} %>

    <%= render "admin/claims/answer_section", {heading: "Student loan details", answers: admin_student_loan_details(@claim)} %>

    <%= render "admin/claims/answer_section", {heading: "Submission details", answers: admin_submission_details(@claim)} %>

    <% if @claim.payroll_gender_missing? && !@claim.decision_made? %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <%= t("admin.unknown_payroll_gender_preventing_approval_message") %>
        </strong>
      </div>
    <% end %>

    <% if @matching_claims.any? %>
      <table id="claims-with-matches" class="govuk-table govuk-!-margin-bottom-9">
        <caption class="govuk-table__caption govuk-heading-l">Claims with matching details</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claim</th>
            <th scope="col" class="govuk-table__header">Matching details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @matching_claims.each do |matching_claim| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><%= link_to matching_claim.reference, [:admin, matching_claim], class: "govuk-link" %>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                <% matching_attributes(@claim, matching_claim).each do |attribute| %>
                  <li><%= attribute %></li>
                <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @claims_preventing_payment.any? %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <%= t('admin.claims_preventing_payment_message', count: @claims_preventing_payment.count, claim_references: @claims_preventing_payment.map(&:reference).to_sentence) %>
        </strong>
      </div>
    <% end %>

    <% if @decision.persisted? %>
      <%= render "admin/claims/answer_section", {heading: "Claim decision details", answers: admin_decision_details(@decision)} %>
    <% else %>
      <%= form_for @decision, url: admin_claim_decisions_path(@claim), html: { id: "claim_decision_form" } do |form| %>
        <%= form_group_tag @decision do %>
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
              <h2 class="govuk-fieldset__heading">
                Claim decision
              </h2>
            </legend>

            <% unless @claim.identity_confirmed? %>
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  This claimant did not complete GOV.UK Verify. Approve the
                  claim only if the claimant's identity has been confirmed by
                  an alternative method.
                </strong>
              </div>
            <% end %>

            <%= errors_tag @decision, :result %>
            <div class="govuk-radios">
              <%= form.hidden_field :result %>
              <div class="govuk-radios__item">
                <%= form.radio_button(:result, "approved", class: "govuk-radios__input", disabled: !@claim.approvable?) %>
                <%= form.label "result_approved", "Approve", class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button(:result, "rejected", class: "govuk-radios__input") %>
                <%= form.label "result_rejected", "Reject", class: "govuk-label govuk-radios__label" %>
              </div>
            </div>
          </fieldset>
          <%= form.label :notes, "Decision notes", class: "govuk-label govuk-label--m" %>
          <span class="govuk-hint" id="notes-hint">
            Please write a brief note explaining why this claim has been rejected or approved.
          </span>
          <%= form.text_area :notes, class: "govuk-textarea", "aria-describedby" => "notes-hint", rows: 5 %>
          <%= form.submit "Submit", class: "govuk-button" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
