<% content_for(:page_title) { page_title("View claim #{@claim.reference} for #{policy_service_name(@claim.policy.routing_name)}") } %>

<%= link_to "Back", admin_claims_path, class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/error_summary", instance: @decision, errored_field_id_overrides: { "result": "decision_result_approved" }) if @decision.errors.any? %>

    <% if @claim.payroll_gender_missing? && !@claim.decision_made? %>
      <div class="govuk-body-l govuk-flash__notice">
        <%= t("admin.unknown_payroll_gender_preventing_approval_message") %>
      </div>
    <% end %>

    <% if @claim.personal_data_removed? %>
      <div class="govuk-body-l govuk-flash__notice">
        This claim had personal data removed on <%= l(@claim.personal_data_removed_at.to_date) %>.
      </div>
    <% end %>

    <% if @matching_claims.any? %>
      <div class="govuk-body-l govuk-flash__warning">
        <a href="#claims-with-matches">
          <%= t("admin.duplicate_attributes_message", count: @matching_claims.count, policy: @claim.policy.short_name) %>
        </a>
      </div>
    <% end %>

    <span class="govuk-caption-xl"><%= @claim.policy.short_name %>  (<%= @claim.academic_year %>)</span>
    <h1 class="govuk-heading-xl govuk-heading--navigation">
      <%= @claim.reference %>
      <span class="govuk-body-m">
        <%= link_to "View tasks", admin_claim_tasks_path(claim_id: @claim.id), class: "govuk-link" %>
        <%= link_to "Amend claim", new_admin_claim_amendment_url(@claim), class: "govuk-link" if @claim.amendable? %>
      </span>
    </h1>


    <%= render("info_panel_identity_unconfirmed", school: @claim.school) unless @claim.identity_confirmed? %>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "admin/claims/answer_section", {heading: "Personal details", answers: admin_personal_details(@claim)} %>

    <%= render "admin/claims/answer_section", {heading: "Eligibility details", answers: admin_eligibility_answers(@claim)} %>

    <%= render "admin/claims/answer_section", {heading: "Student loan details", answers: admin_student_loan_details(@claim)} %>

    <%= render "admin/claims/answer_section", {heading: "Submission details", answers: admin_submission_details(@claim)} %>

    <%= render("claims_with_matching_details", {matching_claims: @matching_claims, claim: @claim, show_caption: true}) if @matching_claims.any? %>

    <% if @decision.persisted? %>
      <%= render "admin/claims/answer_section", {heading: "Claim decision details", answers: admin_decision_details(@decision)} %>
    <% else %>
      <%= render "admin/decisions/decision_form", claim: @claim, decision: @decision, claims_preventing_payment: @claims_preventing_payment %>
  <% end %>
  </div>

  <% if @claim.amendments.any? %>
    <div class="govuk-grid-column-one-third">
      <%= render "amendments_timeline", amendments: @claim.amendments.reverse %>
    </div>
  <% end %>
</div>
