<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded app-html-class">
  <head>
    <title>
      <%= content_for(:page_title) || "#{t("service_name")} – GOV.UK" %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1d70b8">
    <meta name="robots" content="noindex,nofollow">

    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= favicon_link_tag asset_path("govuk-icon-mask.svg"), rel: "mask-icon", type: "image/svg", color: "#0b1c0c" %>
    <%= favicon_link_tag asset_path("govuk-icon-180.png"), rel: "apple-touch-icon", type: "image/png", size: "180x180" %>
    <%= favicon_link_tag asset_path("govuk-icon-192.png"), rel: "apple-touch-icon", type: "image/png", size: "192x192" %>
    <%= favicon_link_tag asset_path("govuk-icon-180.png"), rel: "apple-touch-icon", type: "image/png", size: "512x512" %>

    <%= tag :meta, property: "og:image", content: asset_path("govuk-opengraph-image.png") %>

    <% if cookies_accepted? %>
      <% if ENV["GOOGLE_ANALYTICS_ID"] %>
        <%= javascript_include_tag "google_analytics/analytics" %>
        <%= javascript_include_tag "google_analytics", data: { "ga-id" => ENV["GOOGLE_ANALYTICS_ID"] } %>

        <% if ENV["GTM_ANALYTICS"] %>
          <%= javascript_include_tag "google_gtm" %>
        <% end %>
      <% end %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_include_tag 'js_check' %>

    <% if cookies_accepted? %>
      <% if ENV["GOOGLE_ANALYTICS_ID"] %>
        <noscript>
          <iframe
            src="https://www.googletagmanager.com/ns.html?<%= ENV["GTM_ANALYTICS"] %>"
            title="Google tag manager tracking code"
            height="0"
            width="0"
            style="display:none;visibility:hidden">
          </iframe>
        </noscript>
      <% end %>
    <% end %>

    <%= render("timeout_dialog", timeout_in_minutes: admin_timeout_in_minutes, path_on_timeout: admin_sign_in_path, refresh_session_path: admin_refresh_session_path) if admin_signed_in? %>

    <%= render "admin/cookie_banner" %>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <% if current_admin.is_service_operator? %>
      <%= render "admin/shared/signed_in_header" %>
    <% else %>
      <%= render "admin/shared/signed_out_header" %>
    <% end %>

    <div class="govuk-width-container">
      <%= content_for(:back_link) %>

      <main class="govuk-main-wrapper app-main-class" id="main-content">
        <% flash.each do |name, msg| %>
          <div class="govuk-body-l govuk-flash__<%= name %>">
            <%= msg %>
          </div>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <%= govuk_footer(meta_items: admin_footer_links) %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
