<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded app-html-class">
  <head>
    <title>
      <%= content_for(:page_title) || "#{journey_service_name(current_journey_routing_name)} – GOV.UK" %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1d70b8">
    <meta name="robots" content="noindex,nofollow">

    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= favicon_link_tag asset_path("govuk-icon-mask.svg"), rel: "mask-icon", type: "image/svg", color: "#0b1c0c" %>
    <%= favicon_link_tag asset_path("govuk-icon-180.png"), rel: "apple-touch-icon", type: "image/png", size: "180x180" %>
    <%= favicon_link_tag asset_path("govuk-icon-192.png"), rel: "apple-touch-icon", type: "image/png", size: "192x192" %>
    <%= favicon_link_tag asset_path("govuk-icon-180.png"), rel: "apple-touch-icon", type: "image/png", size: "512x512" %>

    <%= tag :meta, property: "og:image", content: asset_path("govuk-opengraph-image.png") %>

    <% if cookies_accepted? %>
      <% if ENV["GOOGLE_ANALYTICS_ID"] %>
        <%= javascript_include_tag "google_analytics/analytics" %>
        <%= javascript_include_tag "google_analytics", data: { "ga-id" => ENV["GOOGLE_ANALYTICS_ID"] } %>

        <% if ENV["GTM_ANALYTICS"] %>
          <%= javascript_include_tag "google_gtm" %>
        <% end %>
      <% end %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_include_tag 'js_check' %>

    <% if cookies_accepted? %>
      <% if ENV["GOOGLE_ANALYTICS_ID"] %>
        <noscript>
          <iframe
            src="https://www.googletagmanager.com/ns.html?<%= ENV["GTM_ANALYTICS"] %>"
            title="Google tag manager tracking code"
            height="0"
            width="0"
            style="display:none;visibility:hidden">
          </iframe>
        </noscript>
      <% end %>
    <% end %>

    <%= render "shared/cookie_banner" %>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <% if @journey_session&.answers&.logged_in_with_onelogin? %>
      <%= render "shared/one_login_header" %>
    <% else %>
      <%= render "shared/header" %>
    <% end %>

    <div class="govuk-width-container">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <%= mail_to feedback_email(current_journey_routing_name), "feedback", class: "govuk-link" %> will help us to improve it.
          </span>
        </p>
      </div>

      <%= render 'shared/backlink'%>

      <main class="govuk-main-wrapper app-main-class" id="main-content">
        <% flash.each do |name, msg| %>
          <% if name == "success" %>
            <%= govuk_notification_banner(title_text: "Success", success: true) { |nb| nb.with_heading(text: msg) } %>
          <% else %>
            <div class="govuk-body-l govuk-flash__<%= name %>">
              <%= msg %>
            </div>
          <% end %>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <%= govuk_footer(meta_items: footer_links) %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
