<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">
  <head>
    <title>
      <%= content_for(:page_title) || "#{journey_service_name(current_journey_routing_name)} – GOV.UK" %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta name="robots" content="noindex,nofollow">

    <%= favicon_link_tag %>
    <%= favicon_link_tag 'govuk-icon-mask.svg', rel: 'mask-icon', type: 'image/svg+xml', color: '#0b0c0c' %>
    <%= favicon_link_tag 'govuk-icon-180.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_link_tag 'govuk-icon-192.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'govuk-icon-512.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '512x512' %>

    <% if cookies_accepted? %>
      <% if ENV["GOOGLE_ANALYTICS_ID"] %>
        <%= javascript_include_tag "google_analytics/analytics" %>
        <%= javascript_include_tag "google_analytics", data: { "ga-id" => ENV["GOOGLE_ANALYTICS_ID"] } %>

        <% if ENV["GTM_ANALYTICS"] %>
          <%= javascript_include_tag "google_gtm" %>
        <% end %>
      <% end %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_include_tag 'js_check' %>

    <% if cookies_accepted? %>
      <% if ENV["GOOGLE_ANALYTICS_ID"] %>
        <noscript>
          <iframe
            src="https://www.googletagmanager.com/ns.html?<%= ENV["GTM_ANALYTICS"] %>"
            title="Google tag manager tracking code"
            height="0"
            width="0"
            style="display:none;visibility:hidden">
          </iframe>
        </noscript>
      <% end %>
    <% end %>

    <%= render "shared/cookie_banner" %>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <% if @journey_session&.answers&.logged_in_with_onelogin? %>
      <%= render "shared/one_login_header" %>
    <% else %>
      <%= render "shared/header" %>
    <% end %>

    <div class="govuk-width-container">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <%= mail_to feedback_email(current_journey_routing_name), "feedback", class: "govuk-link" %> will help us to improve it.
          </span>
        </p>
      </div>

      <%= render 'shared/backlink'%>

      <main class="govuk-main-wrapper app-main-class" id="main-content">
        <% flash.each do |name, msg| %>
          <% if name == "success" %>
            <%= govuk_notification_banner(title_text: "Success", success: true) { |nb| nb.with_heading(text: msg) } %>
          <% else %>
            <div class="govuk-body-l govuk-flash__<%= name %>">
              <%= msg %>
            </div>
          <% end %>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <footer class="govuk-footer ">
      <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Contact us", contact_us_path(current_journey_routing_name), class: "govuk-footer__link" %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Cookies", cookies_path(current_journey_routing_name), class: "govuk-footer__link" %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Terms and conditions", terms_conditions_path(current_journey_routing_name), class: "govuk-footer__link" %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers">Privacy notice</a>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Accessibility statement", accessibility_statement_path(current_journey_routing_name), class: "govuk-footer__link" %>
              </li>
            </ul>

            <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
              <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
              />
            </svg>
            <span class="govuk-footer__licence-description">
              All content is available under the
              <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application' %>
  </body>

</html>
